<div class="header"><h1 class="slidetitle">Sérsníða Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Kjarni heimspeki Ubuntu er sú trú að tölvunotkun sé fyrir alla. Með
fullkomnum aðgengistólum og stillingum á litaþema, textastærð og tungumáli
er Ubuntu fyrir alla. Hver sem þú ert og hvar sem þú ert.</p>
</div>

<div class="featured">
<h2 class="subtitle">Sérsniðsmöguleikar</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Útlit</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Hjálpartækni</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Tungumála stuðningur</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
