<div class="header"><h1 class="slidetitle">Taktu tónlistina þína með þér</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu kemur með hinu ótrúlega Rythmbox tónlistarspilara. Með hátækni
afspilunarmöguleikum og Ubuntu One tónlistarbúðinni innbyggðri þá er það
einfalt að raða upp þínum uppáhalds lagalista. Hann virkar líka frábærlega
með CD og tónhlöðum svo þú getur haft gaman að tónlistinni þinni hvar sem þú
ert.</p>
</div>

<div class="featured">
<h2 class="subtitle">Innifalinn hugbúnaður</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox tónlistarspilari</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One tónlistarverslun</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
