<div class="header"><h1 class="slidetitle">Skrifaðu og sýndu frítt</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice er frjáls skrifstofuhugbúnaður, fullur af öllu sem þú þarft til
að búa til flott skjöl, töflur og glærur. LibreOffice reynir sitt besta til
að vinna með öðrum skrifstofuhugbúnaði og notar OpenDocument staðlana til að
vera vel samhæft.</p>
</div>

<div class="featured">
<h2 class="subtitle">Innifalinn hugbúnaður</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
