<div class="header"><h1 class="slidetitle">Gerðu myndvinnsluna skemmtilegri</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell is a handy photo manager that is ready for your gadgets. Connect a
camera or a phone to transfer your photos, then it’s easy to share them and
keep them safe. If you’re feeling creative, you can try lots of photo apps
from the Ubuntu Software Center.</p>
</div>

<div class="featured">
<h2 class="subtitle">Innifalinn hugbúnaður</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell ljósmyndaumsýsla</p>
	</li>
</ul>
<h2 class="subtitle">Studdur hugbúnaður</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP myndvinnsluforrit</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi vídeóklippiforrit</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
