<div class="header"><h1 class="slidetitle">Personalizar Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Lo còr de la filosofia Ubuntu es la cresença en una informatica dobèrta a
tot lo monde. Amb d'aisinas e d'opcions d'accessibilitat avançadas tal coma
los esquèmas de colors,  la gestion de talha de las poliças e la lenga,
Ubuntu es fach per quin que siá. Qual que siatz, ont que siatz.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opcions de personalizacion</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aparéncia</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Accessibilitat</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Presa en carga lingüistica</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
