<div class="header"><h1 class="slidetitle">Vòstre pròpri espaci d'emmagazinatge en linha</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a>  met a vòstra
disposicion 5Go d'espaci d'emmaggazinatge en linha gratuit per accedir a
vòstres fichièrs, partejar vòstras fòtos e <a
href="https://one.ubuntu.com/services/music/">partejar vòstra musica en
linha</a> entre vòstres ordenadors, tabletas e smartphones. Cada fòto que
prenètz apareis sus totes vòstres aparelhs, sulcòp, al moment que la
prenètz. Ubuntu One fonciona sus Ubuntu, Windows, Mac, Android, iOS e sul
Web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
