<div class="header"><h1 class="slidetitle">Emportatz vòstra musica amb vos</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu es liurat amb l’excellent lector de musica Rythmbox. Gràcias a sas
opcions de lectura avançadas e lo magazin de musica integrat Ubuntu One, es
simple de preparar la playlist perfiècha. Fonciona fòrt plan amb los CDs e
los lectors numerics portables, doncas, podètz profiechar de vòstra musica
pertot ont anatz.</p>
</div>

<div class="featured">
<h2 class="subtitle">Logicials incluses</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Lector de musica Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Magazin de Musica Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
