<div class="header"><h1 class="slidetitle">Escrivètz e presentatz liurament</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice es una seguida burotica liura liurada amb tot çò qu'auretz
besonh per crear de documents, tablèus e presentacions
convencentas. LibreOffice fa lo maximum per èsser compatible amb los autres
logicials de burotica e utiliza l'estandard OpenDocument per tal de garantir
una compatibilitat a long tèrme.</p>
</div>

<div class="featured">
<h2 class="subtitle">Logicials incluses</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
