<div class="header"><h1 class="slidetitle">Demoratz connectat</h1></div>

<div class="main">

<div class="text">

<div>
<p>Lo menut de la messatjariá vos balha una vista precisa dels messatges
entrants dempuèi totas las aplicacions e las rets socials. Atal podètz veire
immediatament s'i a quicòm de novèl a legir, quina que ne siá la
provenéncia.</p>
</div>

<div class="featured">
<h2 class="subtitle">Servicis preses en carga</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
