<div class="header"><h1 class="slidetitle">Benvenguda dins Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rapida e cofla de novèlas foncionalitats, la darrièra version d'Ubuntu fa
l'informatica mai aisida que non pas jamai. Aquí sonque qualques noveltats
de descobrir…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
