<div class="header"><h1 class="slidetitle">උබුන්ටු රුචිකරණය කරන්න</h1></div>

<div class="main">

<div class="text">

<div>
<p>උබුන්ටු හී හදවතෙහි චින්තනය යනු පරිගණකකරණය සැමදෙනාටම යැයි සිතීමය. ඔබගේ අභිමත
වර්ණ යෙදුම, අකුරුවල ප්‍රමාණය, සහ භාෂාව, වැනි විකල්පයන් සහ උසස් ප්‍රවේශතා
මෙවලම් සමඟින්. ඔබ කවුරු වුනත්, ඔබ කොතැනක සිටියත්, උබුන්ටු හැමදෙනාටම.</p>
</div>

<div class="featured">
<h2 class="subtitle">රුචිකරණ විකල්පයන්</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">මුහුණුවර</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">උපකාරී තාක්ෂණයන්</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">භාෂා සහාය</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
