<div class="header"><h1 class="slidetitle">ඔබේ සංගීතය ඔබ සමග ගෙන යන්න</h1></div>

<div class="main">

<div class="text">

<div>
<p>උබුන්ටු සමඟ විස්මයට පමුණුවන රිදම්බොක්ස් සංගීත වාදකය පැමිණෙයි. උසස්
පිළිවැයීම් විකල්පයන් සහ උබුන්ටු වන් සංගීත වෙළඳසැල සමඟ, ශ්‍රේෂ්ඨ ගීත උඩට පෙළ
ගැසීම ඉතා පහසුය. තවද එය සීඩී සහ අතේ ගෙන යාහැකි සංගීත වාදක සමඟ හොදින්
වැඩකරයි, එනිසා ඔබට යන යන තැන ඔබේ සියලුම සංගීත රසවිඳිය හැකිය.</p>
</div>

<div class="featured">
<h2 class="subtitle">අඩංගු මෘදුකාංග</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">රිදම්බෝක්ස් ගීත වාදකය</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">උබුන්ටු වන් සංගීත වෙළඳසැල</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
