<div class="header"><h1 class="slidetitle">නොමිලේ ලියන්න සහ ඉදිරිපත් කරන්න</h1></div>

<div class="main">

<div class="text">

<div>
<p>ලිබ්රේඔෆිස් යනු සිත් ගන්නා සුළු ලේඛන, පැතුරුම්පත්, සහ ඉදිරිපත් කිරීම් සියල්ල
තැනීම සඳහා වූ නිදහස් කාර්යාල පැකේජයකි. වෙනත් කාර්යාලීය මෘදුකාංග සමඟ හොදින්
වැඩ කිරීම සඳහා ලිබ්රේඔෆිස් හැකි උපරිමයෙන් උත්සහ කරයි, තවද එය විශාල ලෙස
ප්‍රතිඑල ඇති වන ගැළැපුම් සඳහා විවෘතලේඛන ප්‍රමිතීන් භාවිතා කරයි.</p>
</div>

<div class="featured">
<h2 class="subtitle">අඩංගු මෘදුකාංග</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">ලිබ්රේඔෆිස් රයිටර්</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">ලිබ්රේඔෆිස් කැල්ක්</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">ලිබ්රේඔෆිස් ඉම්ප්‍රෙස්</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
