<div class="header"><h1 class="slidetitle">Ubuntu စိတ်ကြိုက်ပြင်ဆင်ချက်</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu နှလုံးသွင်းထားသော ခံယူချက်သည် computing သည်
လူသားတိုင်းအတွက်ဖြစ်စေရမည် ဟူသော ခံယူချက်ဖြစ်သည်။ မသန်စွမ်းသူများအတွက်
အဆင့်မြင့်အသုံးပြုနိုင်သော ကိရိယာများ၊ သင်နှစ်သက်သော အရောင်အသွေး၊ စကားလုံး
အရွယ်အစား၊ ဘာသာစကားများ ကို ပြောင်းယူနိုင်သော ရွေးချယ်အသုံးပြုနိုင်သော
Ubuntu သည် သင်မည်သူဖြစ်စေ၊
မည်သည့်နေရာမှပင်ဖြစ်စေ...လူတိုင်းအတွက်ဖြစ်သည်။</p></div></div></div></p>
</div>

<div class="featured">
<h2 class="subtitle">စိတ်ကြိုက် ပြင်ဆင်မှု</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">အသွင်အပြင်</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">ကိုယ်အင်္ဂါချို့တဲ့သူ ထောက်ကူပြုနည်းပညာများ</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">ဘာသာစကား အကူအညီ</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
