<div class="header"><h1 class="slidetitle">သင် နှစ်သက်ရာတေးဂီတတွေကို မိမိနှင့် တစ်ပါတည်းယူဆောင်သွားနိုင်ပြီ။</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu မှာ အံအားသင့်ဖွယ်ကောင်းတဲ့ Rhythmbox တေးဂီတ
ဆော့ဖ်ဝဲလ်ပါဝင်ပါတယ်..အသေးစိတ် playback ပြင်ဆင်မှု နှင့် Ubuntu One
တေးဂီတစတိုး အသင့်ပါဝင်တာကြောင့် တေးသီချင်းစီစဉ်နားဆင်ရန် အလွန်လွယ်ကူပါတယ်။
စီဒီများ၊ ရွေ့လျား တေးဂီတစက်များနှင့်လည်း ကောင်းစွာအလုပ်လုပ်တာကြောင့်
သင့်တေးသီချင်းများကို ဘယ်သွားသွား နားဆင်နိုင်ပါပြီ..</p>
</div>

<div class="featured">
<h2 class="subtitle">ထည့်သွင်းထားသော ဆော့ဖ်ဝဲများ</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox တေးဂီတဖွင့် ဆော့ဖ်ဝဲလ်</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One ဂီတ စတိုး</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
