<div class="header"><h1 class="slidetitle">လွတ်လပ်မှုဖြင့် စာရေးခြင်း၊သရုပ်ပြရှင်းလင်းခြင်းများ ဆောင်ရွက်ကြပါစို့</h1></div>

<div class="main">

<div class="text">

<div>
<p>Libreoffice သည် စိတ်ကျေနပ်ဖွယ်ရာ စာရွက်စာတမ်းများ၊ လက်ကမ်းစာရွက်များ နှင့်
သရုပ်ပြစာရွက်စာတမ်းများ ကိုဖန်တီးနိုင်မည့် အခမဲ့ ရုံးလုပ်ငန်းသုံး
ပရိုဂရမ်ဖြစ်သည်။ Libreoffice သည် အခြားရုံးသုံး software များဖြင့်လည်း
တွဲဖက်အသုံးပြုနိုင်အောင် ကြိုးပမ်းလျက်ရှိသည်။
တွဲဖက်အသုံးပြုနိုင်စွမ်းမြင့်မားစေရန်အတွက် OpenDocument စနစ်ကို
အသုံးပြုထားသည်။</p>
</div>

<div class="featured">
<h2 class="subtitle">ထည့်သွင်းထားသော ဆော့ဖ်ဝဲများ</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice စာစီစာရိုက်</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice စာရင်းဇယား တွက်ချက်မှု</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice  သရုပ်ပြရှင်းလင်းမှု</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
