<div class="header"><h1 class="slidetitle">Personalizați Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>În centrul filosofiei Ubuntu stă credința că accesul la sistemele
informatice trebuie să fie permis oricui. Integrând unelte avansate pentru
accesibilitate și opțiuni precum scheme preferate de culori, dimensiune text
și limbă, Ubuntu se adresează tuturor. Oricine ați fi și oriunde v-ați afla.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opțiuni de personalizare</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aspect</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Tehnologii de asistență</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Suport pentru limbă</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
