<div class="header"><h1 class="slidetitle">Luați-vă muzica cu dumneavoastră</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu conține extraordinarul player muzical Rhythmbox. Cu ajutorul
opțiunilor avansate pentru redarea pieselor muzicale și cu magazinul de
muzică online Ubuntu One inclus, este simplu să ascultați cântecele
preferate. Funcționează foarte bine cu CD-uri și dispozitive de redare
portabile, așa că puteți să vă bucurați de muzică oriunde mergeți.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programe incluse</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Playerul de muzică Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Magazinul de muzică Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
