<div class="header"><h1 class="slidetitle">Creați și prezentați cu un program gratuit</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice este o suită pentru birou care conține tot ce vă trebuie pentru
a crea documente, foi de calcul și prezentări impresionante. LibreOffice
încearcă să lucreze cel mai bine cu alte aplicații pentru birou și folosește
standardele OpenDocument pentru o compatibilitate mai mare.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programe incluse</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
