<div class="header"><h1 class="slidetitle">우분투 사용자 설정</h1></div>

<div class="main">

<div class="text">

<div>
<p>우분투 정신의 핵심은 컴퓨터를 모두가 사용할 수 있게 하는 것입니다. 고급 접근성 도구와 사용자가 선호하는 색, 텍스트 크기, 언어를
설정 옵션이 사람과 장소에 상관없이 모든 사람이 우분투를 사용할 수 있게 도와줍니다.</p>
</div>

<div class="featured">
<h2 class="subtitle">사용자 설정 옵션</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">모양</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">보조 기술</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">언어 지원</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
