<div class="header"><h1 class="slidetitle">당신만의 개인 클라우드</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">우분투 원</a> 서비스는 컴퓨터나 스마트폰,
타블릿에서 파일에 접근하거나 사진을 공유할 수 있으며 <a
href="https://one.ubuntu.com/services/music/">음악을 스트림할 수 있는</a> 5GB의 무료 클라우드
공간을 제공합니다. 내가 찍은 사진을 어떤 기기에서도 즉시 확인할 수 있습니다. 우분투 원 서비스는 우분투, 윈도, 맥, 안드로이드,
iOS 그리고 웹을 통해 이용하실 수 있습니다.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
