<div class="header"><h1 class="slidetitle">항상 음악과 함께하십시오.</h1></div>

<div class="main">

<div class="text">

<div>
<p>우분투에는 고급 재생 옵션과 우분투 원 음악 상점이 내장되어 있는 매우 뛰어난 리듬박스 음악 연주기를 포함하고 있습니다. 완벽한 노래를
간단하게 대기열에 추가할 수 있으며 CD와 음악 연주기와 완벽하게 호환되므로 어떤 장소에서도 가지고 있는 모든 음악을 즐길 수 있습니다.</p>
</div>

<div class="featured">
<h2 class="subtitle">포함된 소프트웨어</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">리듬박스 음악 연주기</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">우분투 원 음악 상점</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
