<div class="header"><h1 class="slidetitle">자유롭게 작성하고, 발표하세요</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice는 인상적인 문서, 스프레드시트, 발표 자료를 만드는데 필요한 모든 것이 포함된 자유 오피스
묶음입니다. LibreOffice는 다른 오피스 프로그램과 함께 사용할 수 있도록 최선을 다하며  폭넓은 호환성을 위해 개방형 문서
표준을 사용합니다.</p>
</div>

<div class="featured">
<h2 class="subtitle">포함된 소프트웨어</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
