<div class="header"><h1 class="slidetitle">관계 유지</h1></div>

<div class="main">

<div class="text">

<div>
<p>메시지 메뉴는 모든 프로그램과 소셜 네트워크에서 들어오는 메시지를 세심하게 확인할 수 있도록 도와줄 것입니다. 메시지의 도착 방법과는
상관 없이 읽을 수 있는 새 메시지가 있다면 바로 확인하실 수 있습니다.</p>
</div>

<div class="featured">
<h2 class="subtitle">지원하는 서비스</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">트위터</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">페이스북</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">아이덴티.카</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
