<div class="header"><h1 class="slidetitle">우분투 12.10을 선택해주셔서 감사합니다.</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>빠르고 새로운 기능으로 가득찬 최신 버전의 우분투가 컴퓨터를 그 어떤 때보다 편하게 사용할 수 있게 해줄 것입니다. 여기에 몇 가지의
놀아운 기능이 있습니다...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
