<div class="header"><h1 class="slidetitle">Customize Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Í hjartanum hjá Ubuntu hugsanarháttinum er ein trúgv , at teldur eru fyri
øll. Við framkomnum atkomiligum amboðum og møguleikum, so sum tín ynskta
litsamanseting, stødd á stavum og tungumál. Ubuntu er fyri øll! Tað sama
hvør tú ert, tað sama hvar tú ert.</p>
</div>

<div class="featured">
<h2 class="subtitle">Customization options</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Útsjónd</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Assistive technologies</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Mál stuðul</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
