<div class="header"><h1 class="slidetitle">उबुन्टू को मनपसंद बनाएं</h1></div>

<div class="main">

<div class="text">

<div>
<p>उबुन्टू  संगणक प्रचालन तंत्र के दर्शन के मूल मे यह धारणा है कि संगणन सर्वजन
के लिए है | आधुनिक सहायक उपकरणों तथा आपके मनोवांछित विकल्पों जैसे कि वर्ण
व्यवस्था , लेख आकार व भाषा से युक्त उबुन्टू प्रत्येक के लिए है । आप जो भी व
जहाँ भी हो |</p>
</div>

<div class="featured">
<h2 class="subtitle">मनपसंद बनाने का विकल्प</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">रूप</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">सहायक प्रौद्योगिकी</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">भाषा समर्थन</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
