<div class="header"><h1 class="slidetitle">Make the most of the web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu includes Firefox, the web browser used by millions of people around
the world. And web applications you use frequently (like Facebook or Gmail,
for example) can be pinned to your desktop for faster access, just like apps
on your computer.</p>
</div>

<div class="featured">
<h2 class="subtitle">समाहित सॉफ्टवेयर</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">फायरफॉक्स वेब खंगालक</p>
	</li>
</ul>
<h2 class="subtitle">समर्थित सॉफ्टवेयर</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">फ्लैश</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">क्रोमियम</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
