<div class="header"><h1 class="slidetitle">आपने साथ अपना संगीत ले चलें</h1></div>

<div class="main">

<div class="text">

<div>
<p>उबुन्टू अद्भुत Rhythmbox संगीत प्लेयर के साथ आता है. उन्नत प्लेबैक विकल्प और
साथ मॆ Ubuntu One संगीत स्टोर निर्मित, सही गाने को ऊपर कतार में लाना सरल
है. और यह CD और पोर्टेबल संगीत प्लेयर के साथ महान काम करता है, तो आप अपने
सभी संगीत का आनंद लॆ सकतॆ हॆ जहाँ भी आप जाए.</p>
</div>

<div class="featured">
<h2 class="subtitle">समाहित सॉफ्टवेयर</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">रिद्मबाक्स संगीत वादक</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">उबुन्टू एकल संगीत स्टोर</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
