<div class="header"><h1 class="slidetitle">स्वतंत्र रूप से लिखें एवं प्रस्तुत करें</h1></div>

<div class="main">

<div class="text">

<div>
<p>लिबरेऑफिस एक मुक्त कार्यालय सूट हो जो प्रभावशाली दस्तावेज़ों, स्प्रेडशीटों,
और प्रस्तुतियों को बनाने की आवश्यकता होगी सब कुछ के साथ पैक है. लिबरेऑफिस
अपनी पूरी कोशिश करता है अन्य कार्यालय सॉफ्टवेयर के साथ काम कर सके, और यह
दूरगामी अनुकूलता के लिए ओपेन डॉकुमेंट मानकों का उपयोग करता है.</p>
</div>

<div class="featured">
<h2 class="subtitle">समाहित सॉफ्टवेयर</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice लेखक</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice केल्क</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
