<div class="header"><h1 class="slidetitle">अपनी तस्वीरों के साथ मज़े करें</h1></div>

<div class="main">

<div class="text">

<div>
<p>शॉटवेल एक आसान तस्वीर प्रबंधक है कि आप अपने गैजेट के लिए तैयार है. अपनी
तस्वीरों के हस्तांतरण करने के लिए एक कैमरा या फोन कनेक्ट करें, है, उन्हें
साझा करना और उन्हें सुरक्षित रखना आसान है . यदि आप रचनात्मक महसूस कर रहे
हैं, आप उबुन्टू सॉफ्टवेयर केंद्र में उपलबध बहुत सारे फोटो अनुप्रयोग का उपयोग
कर सकते हैं.</p>
</div>

<div class="featured">
<h2 class="subtitle">समाहित सॉफ्टवेयर</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">शॉटवेल फोटो प्रबंधक</p>
	</li>
</ul>
<h2 class="subtitle">समर्थित सॉफ्टवेयर</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">जी आइ एम पी छवि संपादक</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">पीटीवी विडियो संपादक</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
