<div class="header"><h1 class="slidetitle">Ubuntu apasse</h1></div>

<div class="main">

<div class="text">

<div>
<p>Em mittelpunkt fa de Ubuntu filosofie isch dr gläube, dass de compiuter ver
alli bedienbar sellti sii. Mit üsgrifte tools ver di bhinderte und optionä
ver z verschtelle fa farbscheme, tegscht gressi und sprach, Ubuntu isch ver
alli. Glich wer dü bisch und uberall wa dü bisch.</p>
</div>

<div class="featured">
<h2 class="subtitle">Apassigsmeglichkeitä</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Z üsgsee</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Unterschtützigstechnologiä</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Sprachunterstützig</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
