<div class="header"><h1 class="slidetitle">Schrib und präsentier choschtelos</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice isch es friis büropaket mit allem was d benetigsch fer
idruksfolli dokumänt, tabellä und presentationä z erstelle. LibreOffice git
schiis beschta um mit andere büroawendigä zämme z arbeite und nitzt sälber
de OpenDocument standard fer en beschtmeglichi kompatibiliät.</p>
</div>

<div class="featured">
<h2 class="subtitle">Enthalteni software</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
