<div class="header"><h1 class="slidetitle">سفارشی‌سازی‌ اوبونتو</h1></div>

<div class="main">

<div class="text">

<div>
<p>در دل فلسفه ی اوبونتو باوری است که می‌گوید رایانش برای همه است. با ابزارها و
گزینه‌های پیش‌رفته‌ای چون طرح رنگی، اندازه‌ی متن، و زبان ترجیحی شما، اوبونتو
برای همه است. هرکه و هرکجا که باشید.</p>
</div>

<div class="featured">
<h2 class="subtitle">گزینه‌های سفارشی‌سازی</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">ظاهر</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">فن‌آوری‌های یاری‌گر</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">پشتیبانی زبان</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
