<div class="header"><h1 class="slidetitle">ابر شخصی خودتان</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">اوبونتو وان</a> به شما ۵
گیگابایت فضای ابری رایگان برای دیت‌رسی به پرونده‌هایتن، به‌اشتراک گذاری
عکس‌هایتان و <a href="https://one.ubuntu.com/services/music/">پخش
آهنگ‌هایتان از طریق شبکه</a> به رایانه، تبلت و تلفن‌های هوشمندتان می‌دهد. هر
عکسی که بگیرید، به محض گرفتن روی تمام دستگاه‌هایتان ظاهر می‌شود. اوبونتو وان
روی اوبونتو، ویندوز، مک، اندروید، iOS و وب اجرا می‌شود.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
