<div class="header"><h1 class="slidetitle">متصل بمانید</h1></div>

<div class="main">

<div class="text">

<div>
<p>فهرست پیام به شما دیدی عقاب‌وار از پیام‌های وارده از همه‌ی برنامه‌های کاربری
و شبکه‌های اجتماعی می‌دهد. پس وقتی چیز جدیدی برای خواندن وجود داشته باشد،
آگاه خواهید شد، بدون توجّه به این که از کجا آمده است.</p>
</div>

<div class="featured">
<h2 class="subtitle">خدمات پشتیبانی‌شده</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">توییتر</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">فیس‌بوک</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">آیدنتی.کا</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
