<div class="header"><h1 class="slidetitle">به اوبونتو ۱۲.۱۰ خوش آمدید</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>سریع و پر از ویژگی‌های تازه، آخرین نسخه ی اوبونتو رایانش را از همیشه ساده‌تر
کرده است. در این‌جا تنها چند چیز جدید جالب برای مشاهده قرار دارند…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
