<div class="header"><h1 class="slidetitle">Ubuntu anpassen</h1></div>

<div class="main">

<div class="text">

<div>
<p>Im Mittelpunkt von Ubuntus Philosophie steht der Glaube, dass Rechner jedem
nützen können. Mit erweiterten Werkzeugen und Einstellungen wie Ihrem
bevorzugten Farbschema, der Textgröße und der Sprache ist Ubuntu für jeden
geeignet. Wer auch immer Sie sind und wo auch immer Sie sich befinden.</p>
</div>

<div class="featured">
<h2 class="subtitle">Anpassungsmöglichkeiten</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Darstellung</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Barrierefreiheits-Technologien</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Sprachunterstützung</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
