<div class="header"><h1 class="slidetitle">Holen Sie das Beste aus dem Internet</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu enthält Firefox, den Webbrowser, den Millionen von Leuten auf der
ganzen Welt nutzen. Und Web-Anwendungen, die Sie häufig nutzen (wie Facebook
oder Gmail zum Beispiel), können Sie an Ihre Arbeitsfläche heften, damit Sie
schneller darauf zugreifen können, wie bei Anwendungen auf Ihrem Rechner.</p>
</div>

<div class="featured">
<h2 class="subtitle">Enthaltene Software</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox – Webbrowser</p>
	</li>
</ul>
<h2 class="subtitle">Unterstützte Software</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
