<div class="header"><h1 class="slidetitle">Ihr persönlicher Online-Speicher</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> stellt Ihnen
5GB kostenlosen Speicherplatz in der Cloud zur Verfügung, damit Sie auf Ihre
Dateien zugreifen, Ihre Fotos freigeben und <a
href="https://one.ubuntu.com/services/music/">Ihre Musik</a> auf Ihre
Rechner, Tablets und Smartphones streamen können. Jedes Foto, das Sie
aufnehmen, erscheint auf all Ihren Geräten, sobald Sie es aufgenommen
haben. Ubuntu One läuft unter Ubuntu, Windows, Mac, Android, iOs und im Web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
