<div class="header"><h1 class="slidetitle">Nehmen Sie Ihre Musik mit</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu beinhaltet die unglaubliche Musikwiedergabe Rhythmbox. Mit
fortschrittlichen Wiedergabemöglichkeiten und dem eingebauten »Ubuntu One
Music Store« ist es so einfach wie nie, die perfekten Lieder
abzuspielen. Zudem arbeitet Rhythmbox exzellent mit CDs und tragbaren
Musikspielern zusammen, sodass Sie Ihre Musik überall genießen können, wo
Sie sich befinden.</p>
</div>

<div class="featured">
<h2 class="subtitle">Enthaltene Software</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox – Musikwiedergabe</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Music Store</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
