<div class="header"><h1 class="slidetitle">Schreiben und präsentieren Sie kostenlos</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice ist ein freies Büropaket mit allem, was Sie benötigen, um
eindrucksvolle Dokumente, Tabellen und Präsentationen zu
erstellen. LibreOffice gibt stets sein Bestes, um mit anderen
Büroanwendungen zusammenzuarbeiten, und nutzt den OpenDocument-Standard für
weitreichende Kompatibilität.</p>
</div>

<div class="featured">
<h2 class="subtitle">Enthaltene Software</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer – Textverarbeitung</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc – Tabellenkalkulation</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress – Präsentation</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
