<div class="header"><h1 class="slidetitle">Erfreuen Sie sich an Ihren Fotos</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell ist eine praktische Fotoverwaltung, die für Ihre Geräte bereit
ist. Verbinden Sie eine Kamera oder ein Handy mit Ihrem Rechner, um Ihre
Fotos spielend leicht zu importieren, zu teilen oder zu sichern. Wenn Sie
sich kreativ fühlen, können Sie die vielen Fotoanwendungen aus dem Ubuntu
Software-Center ausprobieren.</p>
</div>

<div class="featured">
<h2 class="subtitle">Enthaltene Software</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell – Fotoverwaltung</p>
	</li>
</ul>
<h2 class="subtitle">Unterstützte Software</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP – Bildbearbeitung</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">PiTiVi – Videobearbeitung</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
