<div class="header"><h1 class="slidetitle">In Verbindung bleiben</h1></div>

<div class="main">

<div class="text">

<div>
<p>Das Nachrichtenmenü bietet Ihnen einen Überblick über eingehende Nachrichten
aus allen Anwendungen und sozialen Netzwerken. So sehen Sie sofort, ob es
Neuigkeiten gibt, egal auf welchem Weg Sie diese erhalten haben.</p>
</div>

<div class="featured">
<h2 class="subtitle">Unterstütze Dienste</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
