<div class="header"><h1 class="slidetitle">Finden Sie noch mehr Anwendungen</h1></div>

<div class="main">

<div class="text">

<div>
<p>Sagen Sie tschüß zur Suche nach Anwendungen im Web. Mit dem Ubuntu
Software-Center finden und installieren Sie kinderleicht neue
Anwendung. Geben Sie einfach ein, nach was Sie suchen, oder erkunden Sie die
Kategorien, wie Wissenschaft, Bildung und Spiele, zusammen mit hilfreichen
Bewertungen anderer Nutzer.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
