<div class="header"><h1 class="slidetitle">Willkommen bei Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Schnell und voll neuer Funktionen, die neue Ubuntu-Version macht die Nutzung
Ihres Rechners einfacher als je zuvor. Hier sind nur einige der coolen
Neuerungen, nach denen Sie Ausschau halten sollten …</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
