<div class="header"><h1 class="slidetitle">ይጻፉ እና ያቅርቡ በነጻ</h1></div>

<div class="main">

<div class="text">

<div>
<p>ሊብሬ ቢሮ ነፃ የቢሮ ጥቅል ክፍል የሚመጣው ሁሉንም ነገር ይዞ ነው ፡ አስደናቂ ሰነዶች ፡ ሰንጠረዦች እና ማቅረቢያዎችን
ለመፍጠር ያስችሎታል ፡ ሊብሬ ቢሮ  ከሌሎች የቢሮ ሶፍትዌሮች ጋር ተባብሮ ለመስራት የተቻለውን ሁሉ ያደርጋል ፡
የሚጠቀመውም OpenDocument standards ነው ከሁሉም ጋር ተስማምቶ ለመስራት</p>
</div>

<div class="featured">
<h2 class="subtitle">የተካተቱ ሶፍትዌሮች</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">ነፃነት ቢሮ መጻፊያ</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">ነፃነት ቢሮ ሰንጠረዥ</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">ነፃነት ቢሮ ማስደነቂያ</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
