<div class="header"><h1 class="slidetitle">Musiqinizi yanınızda aparın</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu inanılmaz dərəcə də gözəl Rhythmbox Musiqi Oxuducusu ilə birlikdə
xidmətinizə gəlir. Möhtəşəm funksiyaları və həmçinin Ubuntu One Musiqi
Mağazasını dəstəkləyir. Musiqiləri dinləməkdən həzz alacaqsınız. Ən əsası bu
proqram CD-ləriniz və Mp3 Playerlərinizi dəstəkləyir. Beləliklə musiqi
dinləmək sizlər üçün rahat olacaq .</p>
</div>

<div class="featured">
<h2 class="subtitle">Daxildə olan proqramlar</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox Musiqi Oxuducusu</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Musiqi Mağazası</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
