<div class="header"><h1 class="slidetitle">Rahatlıqla yazın və təqdim edin</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice pulsuz ofis proqramıdır, bununla siz sənədlər, numayisler ve
s. hazırlaya bilərsiz.</p>
</div>

<div class="featured">
<h2 class="subtitle">Daxildə olan proqramlar</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Yazıcı</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Hesablayıcı</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice İmpress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
