<div class="header"><h1 class="slidetitle">விரும்பியபடி Ubuntuவை மாற்ற</h1></div>

<div class="main">

<div class="text">

<div>
<p>At the heart of Ubuntu’s philosophy is a belief that computing is for
everyone. With advanced accessibility tools and options like your preferred
color scheme, text size, and language, Ubuntu is for anyone. Whoever you
are, and wherever you are.</p>
</div>

<div class="featured">
<h2 class="subtitle">விருப்பப்படி மாற்ற</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">தோற்றம்</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">மாற்றுத்திறனாளிக்கு உதவும் தொழில்நூட்பங்கள்</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">ஆதரிப்பு மொழிகள்</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
