<div class="header"><h1 class="slidetitle">Make the most of the web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu includes Firefox, the web browser used by millions of people around
the world. And web applications you use frequently (like Facebook or Gmail,
for example) can be pinned to your desktop for faster access, just like apps
on your computer.</p>
</div>

<div class="featured">
<h2 class="subtitle">இணைக்கப்பட்ட மென்பொருள்கள்</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">பயர்பாக்ஸ் இணைய உலாவி</p>
	</li>
</ul>
<h2 class="subtitle">மேலும் நீங்கள் விரும்பினால்</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">ஃப்ளாஷ்</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">குரோமியம்</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
