<div class="header"><h1 class="slidetitle">ஏதேனும் கேள்விகள் உள்ளனவா?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Check out <a href="http://askubuntu.com/">askubuntu.com</a> for answers to
all your Ubuntu questions. There’s a good chance your question will have
been answered already and, if not, you’ll find thousands of volunteers eager
to help. For more support options, go to <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">உபுண்டுவைப் பற்றிப் பேசுவோம்</h2>
		<div class="l10n-string twitter-post-status-text">I'm installing #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
