<div class="header"><h1 class="slidetitle">இலவசமாக எழுது மற்றும் படை</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice is a free office suite packed with everything you’ll need to
create impressive documents, spreadsheets, and presentations. LibreOffice
tries its best to work with other office software, and it uses the
OpenDocument standards for far-reaching compatibility.</p>
</div>

<div class="featured">
<h2 class="subtitle">இணைக்கப்பட்ட மென்பொருள்கள்</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
