<div class="header"><h1 class="slidetitle">புகைப்படங்களுடன் புகுந்து விளையாட</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell is a handy photo manager that is ready for your gadgets. Connect a
camera or a phone to transfer your photos, then it’s easy to share them and
keep them safe. If you’re feeling creative, you can try lots of photo apps
from the Ubuntu Software Center.</p>
</div>

<div class="featured">
<h2 class="subtitle">இணைக்கப்பட்ட மென்பொருள்கள்</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">ஷாட்வெல் புகைப்படத் தொகுப்பி</p>
	</li>
</ul>
<h2 class="subtitle">மேலும் நீங்கள் விரும்பினால்</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">ஜிம்ப் புகைப்படத் திருத்தி</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">பிட்வி காணொளி தொகுப்பி</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
