<div class="header"><h1 class="slidetitle">Προσαρμόστε το Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Στο κέντρο της φιλοσοφίας του Ubuntu βρίσκεται η πεποίθηση ότι η χρήση
υπολογιστή είναι για τον καθένα. Με προχωρημένα εργαλεία προσπελασιμότητος
και επιλογές όπως προτιμώμενο συνδυασμό χρωμάτων, μέγεθος κειμένου και
γλώσσα, το Ubuntu είναι για τον καθένα. Όποιος και αν είναι, όπου και να
είναι.</p>
</div>

<div class="featured">
<h2 class="subtitle">Επιλογές προσαρμογής</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Εμφάνιση</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Τεχνολογίες υποβοήθησης</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Γλωσσική υποστήριξη</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
