<div class="header"><h1 class="slidetitle">Αξιοποιήστε το διαδίκτυο στο έπακρο</h1></div>

<div class="main">

<div class="text">

<div>
<p>Το Ubuntu περιλαμβάνει το Firefox, έναν περιηγητή ιστού που  χρησιμοποιείται
από εκατομμύρια ανθρώπους σε όλο τον κόσμο. Και οι διαδικτυακές εφαρμογές
που χρησιμοποιείτε συχνά (όπως Facebook ή Gmail για παράδειγμα) μπορούν να
καρφιτσωθούν στην επιφάνεια εργασίας σας για γρηγορότερη πρόσβαση, όπως
ακριβώς οι εφαρμογές στον υπολογιστή σας.</p>
</div>

<div class="featured">
<h2 class="subtitle">Προεγκατεστημένο λογισμικό</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Περιηγητής ιστού Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Υποστηριζόμενο λογισμικό</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
