<div class="header"><h1 class="slidetitle">Ερωτήσεις;</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Ελέγξτε στο <a href="http://forum.ubuntu-gr.org/">ubuntu-gr.org</a> για
απαντήσεις σε όλες τις ερωτήσεις σας για το Ubuntu. Υπάρχει πιθανότητα η
ερώτηση σας να έχει ήδη απαντηθεί και εάν όχι θα βρείτε χιλιάδες εθελοντές
πρόθυμους να σας βοηθήσουν. Για περισσότερες επιλογές υποστήριξης
επισκεφτείτε το  <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Ας μιλήσουμε για το Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Εγκαθιστώ το #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
