<div class="header"><h1 class="slidetitle">Το προσωπικό σας σύννεφο</h1></div>

<div class="main">

<div class="text">

<div>
<p>Το <a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> σας
παρέχει 5GB δωρέαν χώρου στο σύννεφο για πρόσβαση στα αρχεία σας,
μοιραστείτε τις φωτογραφίες σας <a
href="https://one.ubuntu.com/services/music/">τη μουσική σας</a> στους
υπολογιστές σας, τις ταμπλέτες και τα έξυπνα τηλέφωνα. Κάθε φωτογραφία θα
εμφανίζεται στις συσκευές σας, τη στιγμή της λήψης. Το Ubuntu One μπορεί να
τρέξει σε Ubuntu, Windows, Mac, Android, iOS και στο διαδίκτυο.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
