<div class="header"><h1 class="slidetitle">Πάρτε τη μουσική σας μαζί σας</h1></div>

<div class="main">

<div class="text">

<div>
<p>Το Ubuntu έρχεται με την καταπληκτική εφαρμογή αναπαραγωγής μουσικής
Rhythmbox. Με προχωρημένες δυνατότητες αναπαραγωγής και ενσωματωμένο το
μουσικό κατάστημα Ubuntu One, είναι εξαιρετικά εύκολο να βάλετε στη σειρά τα
καλύτερα τραγούδια. Δουλεύει τέλεια με τα CDs αλλά και με τους φορητούς
αναπαραγωγείς μουσικής, ώστε να μπορείτε να απολαμβάνετε την μουσική όπου
και αν βρίσκεστε.</p>
</div>

<div class="featured">
<h2 class="subtitle">Προεγκατεστημένο λογισμικό</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Αναπαραγωγή μουσικής Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Κατάστημα μουσικής Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
