<div class="header"><h1 class="slidetitle">Γράψτε και παρουσιάστε ελεύθερα</h1></div>

<div class="main">

<div class="text">

<div>
<p>Το LibreOffice είναι μια ελεύθερη σουίτα γραφείου που περιλαμβάνει όλα όσα
θα  χρειαστείτε για να δημιουργήσετε εντυπωσιακά έγγραφα, υπολογιστικά φύλλα
και παρουσιάσεις. Το LibreOffice προσπαθεί να συνεργάζεται όσο το δυνατόν
καλύτερα με άλλες σουίτες γραφείου και χρησιμοποιεί τα πρότυπα του
OpenDocument για να επιτύχει την μέγιστη συμβατότητα.</p>
</div>

<div class="featured">
<h2 class="subtitle">Προεγκατεστημένο λογισμικό</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
