<div class="header"><h1 class="slidetitle">Διασκεδάστε με τις φωτογραφίες σας</h1></div>

<div class="main">

<div class="text">

<div>
<p>Το Shotwell είναι ένας εύχρηστος διαχειριστής φωτογραφιών, έτοιμος για όλα
τα gadget που μπορεί να έχετε. Συνδέστε την κάμερα ή το τηλέφωνό σας για να
μεταφέρετε τις φωτογραφίες σας. Έπειτα είναι εύκολο να τις διαμοιραστείτε
και να τις κρατήσετε ασφαλείς. Εάν αισθάνεστε δημιουργικά, μπορείτε να
δοκιμάσετε πολλές από τις εφαρμογές φωτογραφίας που υπάρχουν στο Κέντρο
λογισμικού.</p>
</div>

<div class="featured">
<h2 class="subtitle">Προεγκατεστημένο λογισμικό</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Διαχείριση εικόνων Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Υποστηριζόμενο λογισμικό</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Επεξεργασία εικόνων GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Επεξεργασία βίντεο Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
