<div class="header"><h1 class="slidetitle">Μείνετε συνδεδεμένοι</h1></div>

<div class="main">

<div class="text">

<div>
<p>Το μενού μηνυμάτων σάς δίνει μια γενική άποψη των εισερχόμενων μηνυμάτων από
όλες τις εφαρμογές και τα κοινωνικά δίκτυα. Έτσι, μπορείτε να δείτε αμέσως
πότε υπάρχει κάτι νέο, ανεξάρτητα από το πως έφτασε.</p>
</div>

<div class="featured">
<h2 class="subtitle">Υποστηριζόμενες υπηρεσίες</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
