<div class="header"><h1 class="slidetitle">Ανακαλύψτε ακόμα περισσότερο λογισμικό</h1></div>

<div class="main">

<div class="text">

<div>
<p>Πείτε αντίο στην αναζήτηση για νέο λογισμικό στο διαδίκτυο. Με το κέντρο
λογισμικού Ubuntu, μπορείτε να βρείτε και να εγκαταστήσετε νέες εφαρμογές με
ευκολία. Απλά πληκτρολογείστε αυτό που ψάχνετε ή κάντε εξερεύνηση σε
κατηγορίες όπως Επιστήμη, Εκπαίδευση και Παιχνίδια, ενώ βλέποντας χρήσιμες
κριτικές από άλλους χρήστες.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
