<div class="header"><h1 class="slidetitle">Καλώς ήρθατε στο Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Γρήγορη και γεμάτη με νέα χαρακτηριστικά, η τελευταία έκδοση του Ubuntu
κάνει τους υπολογιστές πιο εύκολους στη χρήση από ποτέ. Δείτε εδώ μερικά από
τα πιο προχωρημένα νέα χαρακτηριστικά...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
