<div class="header"><h1 class="slidetitle">Personalizza Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>«Il computer deve essere per tutti»: questo è il cuore della filosofia di
Ubuntu. Grazie a strumenti avanzati per l'accessibilità e a centinaia di
opzioni di personalizzazione per caratteri, colori e lingue, Ubuntu è in
grado di adattarsi alle esigenze concrete delle persone, a chiunque.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opzioni di personalizzazione</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aspetto</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Tecnologie assistive</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Supporto lingue</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
