<div class="header"><h1 class="slidetitle">Il tuo cloud personale</h1></div>

<div class="main">

<div class="text">

<div>
<p>Un account gratuito con <a
href="https://one.ubuntu.com/services/free/">Ubuntu One</a> ti offre 5GB di
spazio cloud da poter utilizzare per archiviare e accedere ai tuoi file, le
tue fotografie e per lo <a
href="https://one.ubuntu.com/services/music/">streaming musicale</a> verso i
tuoi computer, tablet o smartphone. Tutte le foto che scatti vengono
sincronizzate istantaneamente su tutti i tuoi dispositivi. Ubuntu One è
disponibile per Ubuntu, Windows, Mac, Android, iOS e via web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
