<div class="header"><h1 class="slidetitle">La tua musica sempre con te</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu dispone del riproduttore multimediale Rhythmbox. Ricco di opzioni
avanzate e con l'integrazione dell'«Ubuntu One Music Store», ascoltare la
tua musica non è mai stato così facile. Puoi anche ascoltare i tuoi CD e
collegare il tuo lettore portatile, per avere la tua musica sempre con te.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programmi inclusi</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Riproduttore musicale Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Music Store</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
