<div class="header"><h1 class="slidetitle">Scrivi e presenta in libertà</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice è una suite da ufficio libera e gratuita comprensiva di tutto
ciò che ti può servire per creare documenti, fogli di calcolo e
presentazioni. LibreOffice è compatibile con altre applicazioni da ufficio e
utilizza lo standard OpenDocument per garantire la compatibilità dei tuoi
documenti.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programmi inclusi</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
