<div class="header"><h1 class="slidetitle">Mantieni i tuoi contatti</h1></div>

<div class="main">

<div class="text">

<div>
<p>Il menù messaggi ti consente di avere una vista d'insieme sui messaggi in
arrivo da tutte le applicazioni e dai social network. Basta un colpo
d'occhio per vedere se c'è qualche messaggio da leggere, indipendentemente
da come ti è stato recapitato.</p>
</div>

<div class="featured">
<h2 class="subtitle">Servizi supportati</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
