<div class="header"><h1 class="slidetitle">Benvenuti in Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Sempre più veloce e con moltissime novità, l'ultima versione di Ubuntu rende
l'uso del computer ancora più facile. Ecco alcune delle nuove
caratteristiche...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
