<div class="header"><h1 class="slidetitle">Pertsonalizatu Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubunturen filosofiaren bihotzean uste bat dago: ordenagailuak edonorentzako
dira. Irisgarritasun-tresna aurreratuekin eta kolore-eskema, testuen tamaina
edo hizkuntza lehenetsia hautatzeko aukerarekin, Ubuntu edonorentzako
da. Edonor zarela ere, edonon zaudela ere.</p>
</div>

<div class="featured">
<h2 class="subtitle">Pertsonalizatze-aukerak</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Itxura</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Laguntza-teknologiak</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Hizkuntza-sostengua</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
