<div class="header"><h1 class="slidetitle">Eraman musika aldean</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubunturekin batera dator Rhythmbox musika-erreproduzitzaile
bikaina. Erreprodukzio-aukera aurreratuekin eta Ubuntu One musika-denda
barneraturik duela, oso erraza da abesti perfektuen zerrenda
egitea. Gainera, ezin hobeki funtzionatzen du CD eta musika-erreproduzigailu
eramangarriekin, zure musikaz edonon goza dezazun.</p>
</div>

<div class="featured">
<h2 class="subtitle">Instalatutako softwarea</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox musika-erreproduzitzailea</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One musika-denda</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
