<div class="header"><h1 class="slidetitle">Idatzi eta aurkeztu dohainik</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice bulegorako suite librea eta doakoa da, dokumentu, kalkulu-orri
eta aurkezpen txundigarriak sortzeko behar duzun dena bere baitan
duena. LibreOfficek gainontzeko bulegorako suitekin bateragarritasuna
mantentzen du ahal den heinean, eta OpenDocument estandarrak darabiltza
erabateko bateragarritasunerako.</p>
</div>

<div class="featured">
<h2 class="subtitle">Instalatutako softwarea</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
