<div class="header"><h1 class="slidetitle">Ongi etorri Ubuntu 12.10era</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Fast and full of new features, the latest version of Ubuntu makes computing
easier than ever. Here are just a few cool new things to look out for…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
