<div class="header"><h1 class="slidetitle">ปรับแต่ง Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>หัวใจของปรัชญา Ubuntu คือความเชื่อที่ว่าคอมพิวเตอร์เป็นของทุกคน
ด้วยเครื่องมือที่ทันสมัยและการเข้าถึงตัวเลือกเช่นโทนสีที่คุณต้องการ
ขนาดตัวอักษรและภาษา Ubuntu เป็นสำหรับทุก ๆ คน ไม่ว่าคุณจะเป็นใคร</p>
</div>

<div class="featured">
<h2 class="subtitle">ตัวเลือกการปรับแต่ง</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">รูปโฉม</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">เทคโนโลยีสิ่งอำนวยความสะดวก</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">สนับสนุนภาษา</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
