<div class="header"><h1 class="slidetitle">เขียนเอกสารและงานนำเสนอได้อย่างเลรี</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice เป็นโปรแกรมสำนักงาน
ที่มีพร้อมสำหรับทุกสิ่งที่คุณต้องการในการสร้างเอกสาร ตารางคำนวน และงานนำเสนอ
LibreOffice พยายามอย่างดีที่สุดที่จะทำงานร่วมกับโปรแกรมสำนักงานตัวอื่น
และมันยังใช้มาตรฐาน OpenDocument เพื่อความเข้ากันได้อย่างทั่วถึง</p>
</div>

<div class="featured">
<h2 class="subtitle">ซอฟต์แวร์ที่มาในชุด</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
