<div class="header"><h1 class="slidetitle">Наладзіць Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>У аснове філасофіі Ubuntu ляжыць вера ў тое, што кампутар павінен быць
даступны кожнаму чалавеку. З дапамогай перадавых і гнуткіх інструментаў Вы
можаце наладзіць Ubuntu: памер шрыфта, колер, мова і шмат чаго
іншага. Менавіта таму Ubuntu пасуе Вам, кім бы Вы ні былі і дзе бы Вы не
знаходзіліся.</p>
</div>

<div class="featured">
<h2 class="subtitle">Наладкі параметраў</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Знешні выгляд</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Дапаможныя тэхналогіі</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Моўная падтрымка</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
