<div class="header"><h1 class="slidetitle">Бярыце сваю музыку з сабою</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu пастаўляецца з выдатным музычным плэерам Rhythmbox. З перадавымі
магчымасцямі прайгравання і доступам да музычнай крамы Ubuntu One, зараз
стала так проста дадаваць любімыя кампазіцыі ў плэйліст. Ён таксама
падтрымлівае працу з кампакт-дыскамі і партатыўнымі музычнымі плэерамі, так
што Вы зможаце атрымліваць асалоду ад музыкі ў любым месцы.</p>
</div>

<div class="featured">
<h2 class="subtitle">Усталяваныя праграмы</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Музычны плэер Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Музычная крама Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
