<div class="header"><h1 class="slidetitle">Стварайце прэзентацыі бясплатна</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice - гэта бясплатны офісны пакет, які мае ўсё неабходнае для
стварэння якасных дакументаў, табліц і прэзентацый. LibreOffice робіць усё
магчымае для працы з іншым офісным праграмным забеспячэннем і выкарыстоўвае
стандарты OpenDocument для максімальнай сумяшчальнасці.</p>
</div>

<div class="featured">
<h2 class="subtitle">Усталяваныя праграмы</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
