<div class="header"><h1 class="slidetitle">Атрымлівайце асалоду ад Вашых фотаздымкаў</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell - гэта зручны мэнэджар фотаздымкаў. Падлучыце фотаапарат альбо
тэлефон, скапіруйце фатаграфіі ў бібліятэку для бяспечнага захоўвання і
хуткага доступу. Паспрабуйце таксама мноства прыкладанняў для рэдагавання
здымкаў у Праграмным цэнтры Ubuntu, калі Вы лічыце сябе творчай асобай.</p>
</div>

<div class="featured">
<h2 class="subtitle">Усталяваныя праграмы</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Мэнэджар здымкаў Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Падтрымліваемыя праграмы</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Рэдактар графікі GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Відэа рэдактар Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
