<div class="header"><h1 class="slidetitle">Pielāgo Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu filosofijas pamatā ir uzskats, ka ikviens var lietot datoru. Ar
paplašinātiem pieejamības rīkiem un opcijām, piemēram, vēlamā krāsu shēma,
teksta izmērs un valoda, Ubuntu ir piemērots ikvienam.</p>
</div>

<div class="featured">
<h2 class="subtitle">Pielāgošanas opcijas</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Izskats</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Palīgtehnoloģijas</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Valodu atbalsts</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
