<div class="header"><h1 class="slidetitle">Jūsu personīgais mākonis</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> piešķir jums
5GB brīvu mākoņglabātuvi datņu piekļuvei, fotogrāfiju kopīgošanai un <a
href="https://one.ubuntu.com/services/music/">mūzikas atskaņošanai</a> uz
jūsu datoriem, planšetdatoriem un viedtālruņiem. Katra jūsu bilde, tikko
uzņemta, parādās uz visām jūsu ierīcēm. Ubuntu One darbojas uz Ubuntu,
Windows, Mac, Android, iOS un tīmeklī.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
