<div class="header"><h1 class="slidetitle">Ņemiet līdzi savu mūziku</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu nāk komplektā ar lielisko Rhythmbox mūzikas atskaņotāju. Ar
jaudīgajām atskaņošanas opcijām un iebūvēto Ubuntu One mūzikas veikalu, var
viegli sagatavot perfektu dziesmu repertuāru. Un tas lieliski strādā ar CD
un pārnēsājamiem mūzikas atskaņotājiem, lai varētu izbaudīt mūziku, lai kurp
jūs dotos.</p>
</div>

<div class="featured">
<h2 class="subtitle">Iekļautā programmatūra</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox mūzikas atskaņotājs</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One mūzikas veikals</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
