<div class="header"><h1 class="slidetitle">Rakstiet un prezentējiet par brīvu</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice ir brīvs biroja programmatūras komplekts, kurā ir viss
nepieciešamais, lai izveidotu izteiksmīgus dokumentus, izklājlapas un
prezentācijas. LibreOffice tiecas pēc vislabākās savietojamības ar citu
biroja programmatūru un izmanto OpenDocument standartu, lai sasniegtu
visplašāko savietojamību.</p>
</div>

<div class="featured">
<h2 class="subtitle">Iekļautā programmatūra</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
