<div class="header"><h1 class="slidetitle">Uzturiet sakarus</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ziņojumu izvēlne parāda ziņas no visām lietotnēm un sociālajiem tīkliem. Tā
jūs varat uzreiz uzzināt, ka ienākusi jauna ziņa, neatkarīgi no tās avota un
formas.</p>
</div>

<div class="featured">
<h2 class="subtitle">Atbalstītie servisi</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
