<div class="header"><h1 class="slidetitle">Laipni lūdzam Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Ātra un jaunu iespēju pilna, jaunākā Ubuntu versija padara datora lietošanu
vēl ērtāku. Lūk, tikai daži lieliski jaunumi, kuriem vērts pievērst
uzmanību...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
