<div class="header"><h1 class="slidetitle">Gnàth dheilbhte Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Aig cridhe feallsanachd Ubuntu tha a chreideas gu bheil coimpiutaireachd son
a h-uile duine. Le innealan ruigsinneachd adhartach agus iomadach
roghainnean leithid na sgeamaichean dathan a b'fheàrr leat,, cruthan-clò
agus cànanan. Tha Ubuntu son a h-uile duine. Às bi cò thu, agus às bith
càite a bheil thu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Roghainnean gnàth dealbhadh</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Dreach</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Teicneolas taiceil</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Taic cànan</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
