<div class="header"><h1 class="slidetitle">Dèan a' chuid as motha dhen lìn</h1></div>

<div class="main">

<div class="text">

<div>
<p>Tha Ubuntu tiort a-steach Firefox, Am brabhsair lìn cleachdte le milleanan
de dhaoine timcheall an t-saoghal, Agus faodaidh aplacaidean lìn a tha thu
cleachdadh tric (mar Facebook no Gmail, mar eisimpleir)a  bhith prìnichte ri
d' bhàrr-deasc son cothrom nas luath fhaighinn, dìreach mar apps air do
choimpiutair</p>
</div>

<div class="featured">
<h2 class="subtitle">Bathar-bòg a' gabhail a-steach</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Brabhsair lìon Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Taiceadh bathar-bog</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
