<div class="header"><h1 class="slidetitle">Ceistean sam bith?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rannsaich air <a href="http://askubuntu.com/">askubuntu.com</a> son
freagairtean rid cheistean Ubuntu gu lèir. Tha cothrom math ann gu robh do
cheistean  fhreagairt mar thà , ma 's nach robh, lorgaidh tu na mìltean de
shaor-thoileaich deiseil son do chuideachadh. Son barrachd roghainnean taic,
rach air <a href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Bruidhnidh sinn Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Tha mi stàladh #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
