<div class="header"><h1 class="slidetitle">Do sgòth pearsanta fhèin</h1></div>

<div class="main">

<div class="text">

<div>
<p>Tha <a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> toirt 5GB
stòr sgòth saor an asgaidh son cothrom fhaighinn air do fhaidhlichean,
roinneadh do dealbhan-camara agus <a
href="https://one.ubuntu.com/services/music/">sruth do cheòl</a> rid
choimpiutairean, tablaidean agus fònaichean-làimh glic. Dealbh-camara sam
bith a ghabhas tu nochdaidh e air na h-uile innleachdan agad sa bhad a
ghabhas thu e. Tha Ubuntu One a' ruith air Ubuntu, Windows, Mac, Android,
iOS agus an lìon.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
