<div class="header"><h1 class="slidetitle">Thoir do ceòl leat</h1></div>

<div class="main">

<div class="text">

<div>
<p>Tha Ubuntu a' tighinn le a' chluicheadair ceòl mìorbhaileach Rhythmbox. Le
roghainnean cluich air ais adhartach agus leis a' bhùth ceòl Ubuntu One air
a thogail a-steach, tha e simplidh ciudha n' àirde an h-òrain ceart. Agus
tha e ag obair glan le Meanbh-Clàr  agus cluicheadair ceòl
so-ghiùlainteachd, mar sin gheibh thu tlachd nad ceòl as bith càite an tèid
thu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Bathar-bòg a' gabhail a-steach</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox Music Player</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Bùth Ceòl</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
