<div class="header"><h1 class="slidetitle">Sgrìobh agus foillsich an asgaidh</h1></div>

<div class="main">

<div class="text">

<div>
<p>Seadh prògram oifis dàimheach saor an asgaidh th' ann LibreOffice làn gach
ni dh'fheumas tu son cruthachadh sgrìobhainnean drùidhteach,
duilleagan-cleithe, agus taisbeanaidhean. Tha  LibreOffice feuchainn ri
obair cho math is a ghabhas ri bathar-bòg oifis eile, tha e a cleachdadh
bun-tomhasach  OpenDocument le co-chòrdalachd farsaing.</p>
</div>

<div class="featured">
<h2 class="subtitle">Bathar-bòg a' gabhail a-steach</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
