<div class="header"><h1 class="slidetitle">Faigh spòrs le do dealbhan</h1></div>

<div class="main">

<div class="text">

<div>
<p>Seadh manaidsear dealbh  goireasach th'ann Shotwell deiseil  airson do
uidheaman. Ceangal camara no fòn son tar-aiseag do dhealbhan, nuairsinn tha
e furasta co-roinneadh agus iad a ghlèidheadh gu sàbhailte. Ma tha thu
faireachdainn cruthachail faodaidh tu feuchainn mòran prògraman dealbh bhon
Ionad Bathar-bòg Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Bathar-bòg a' gabhail a-steach</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell Photo Manager</p>
	</li>
</ul>
<h2 class="subtitle">Taiceadh bathar-bog</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP Image Editor</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi Video Editor</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
