<div class="header"><h1 class="slidetitle">Mair ceangailte</h1></div>

<div class="main">

<div class="text">

<div>
<p>Tha an clàr-iùil teachdaireachd toirt dhut sealladh iolair-shùil de
teachdairean a-steach bho na h-uile aplacaidean agus lìonraidhean
sòisealta. Mar sin chì thu sa bhad nuair tha rudeigin ùr ri leughadh, gun
umhail ciamar a thàinig  e.</p>
</div>

<div class="featured">
<h2 class="subtitle">Taiceadh seirbheisean</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
