<div class="header"><h1 class="slidetitle">Lorg fiù's a bharrachd bathar-bòg</h1></div>

<div class="main">

<div class="text">

<div>
<p>Dìreach clò-sgrìobh a-steach dè tha thu a' sireadh, no rannsaich seòrsachan
mar Saidheans, Foghlam agus Geamannan, ri thaobh ath-sgrùdaidhean
cuideachail bho cleachdaichean eile.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
