<div class="header"><h1 class="slidetitle">Fàilte gu Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Luath agus làn feartan, tha an tionndaidh nas ùr de Ubuntu a' dèanamh
coimpiutaireachd nas fhurasta na bha a-riamh. Seo dìreach cuid rudan
sgoinneil ùra a shealltainn a-mach air-shon...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
