<div class="header"><h1 class="slidetitle">Ubuntu oanpasse</h1></div>

<div class="main">

<div class="text">

<div>
<p>De essensje fan de filosofie fan Ubuntu is it leauwen yn kompjûterje foar
eltsenien. Mei geavancearde tapassingen fan tagonklikens en opsjes sa as
persoanlike kleuren, tekst grutte en taal, wol Ubuntu dêr foar eltsenien
wêze. Wa en wêr ast ek bist.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opsjes oanpasse</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Foarkommen</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Assistearjende technology</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Taal stipe</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
