<div class="header"><h1 class="slidetitle">Nim jo muzyk mei jo mei!</h1></div>

<div class="main">

<div class="text">

<div>
<p>Mei Rhythmbox, Ubuntu komy mei 'n geweldige muzyk spiler. Mei wiidweidige
spiel opsjes en de Ubuntu One muzyk winkel ynbouwd, der is neat oan om jo
favorite ferske of te spyljen. It wurket perfekt mei CD's en lytse muzyk
spilers, lykas MP3 spilers. <br /> Geniet fan jo muzykkolleksje wer jo ek
binne.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opnommen software</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox Muzyk Spyler</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Muzyk Winkel</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
