<div class="header"><h1 class="slidetitle">Fergees skrieuwe, rekenje en rresenteerje.</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice is 'n gratis kantoar pakket mei alles wat jo nedich hawwe foar
swiid dokuminten, rekenblêden en presintaasjes. It pakket dot syn bêst om te
wurkjen mei oare pakketten en brûkt derom de <i>OpenDocument</i> standert.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opnommen software</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
