<div class="header"><h1 class="slidetitle">Tùy biến Ubuntu theo ý</h1></div>

<div class="main">

<div class="text">

<div>
<p>Trọng tâm của triết lý Ubuntu là sự tin tưởng rằng mọi người đều được sử
dụng máy tính. Nhờ những công cụ hỗ trợ truy cập và những tùy biến như màu
sắc ưa thích, cỡ chữ và ngôn ngữ, Ubuntu dành cho tất cả mọi người. Cho dù
bạn là ai, bạn ở nơi đâu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Các lựa chọn tùy thích</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Giao diện</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Công nghệ hỗ trợ</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Hỗ trợ ngôn ngữ</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
