<div class="header"><h1 class="slidetitle">Tận dụng tối đa vọc web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu bao gồm trình duyệt Firefox, là phần mềm được hằng triệu người dùng
quanh thế giới. Và nhưng ứng dụng web mà bạn dùng thường xuyên (như Facebook
hoặc Gmail) có thể đặt trên màn hình desktop, giúp truy cập nhanh hơn, như
các ứng dụng khác của máy tính của bạn.</p>
</div>

<div class="featured">
<h2 class="subtitle">Phần mềm cài sẵn</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Trình duyệt web Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Những phần mềm được hỗ trợ</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
