<div class="header"><h1 class="slidetitle">Bạn có thắc mắc?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Hãy truy cập <a href="http://askubuntu.com/">askubuntu.com</a> để tìm những
câu trả lời về tất cả nhưng câu hỏi của bạn về Ubuntu. Sẽ có nhiều khả năng
câu hỏi của bạn đã được đắp lại rồi và, nếu chưa có, bạn sẽ gặp hằng ngàn
người tình nguyện sẵn sằng giúp bạn. Để được hỗ trợ đầy đủ hơn hãy truy cập
vào <a href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Hãy nói về Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Tôi đang cài đặt #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
