<div class="header"><h1 class="slidetitle">Đám mây riêng của bạn</h1></div>

<div class="main">

<div class="text">

<div>
<p>Dịch vụ <a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> cung
cấp cho bạn 5GB không gian lưu trữ miễn phí trên đám mây, cho phép bạn truy
cập các tệp của bạn, chia sẻ các ảnh và <a
href="https://one.ubuntu.com/services/music/">đưa dòng nhạc của bạn</a> đến
máy tính, máy tính bảng và điện thoại thông minh của bạn. Như thế, bất kỳ
ảnh nào mà bạn chụp sẽ hiện lên trên tất cả các thiết bị của bạn ngay sau
khi chụp xong. Ubuntu One chạy được trên Ubuntu, Windows, Mac, Android, iOS
và web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
