<div class="header"><h1 class="slidetitle">Hãy mang âm nhạc theo bạn</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu cài sẵn bộ phát nhạc Rhythmbox. Với những chức năng phát nhạc tiên
tiến và việc tích hợp cửa hàng nhạc Ubuntu One, thật dễ dàng tạo ra danh
sách những bài nhạc tuyệt vời. Rhythmbox còn chạy tốt với đĩa CD và các
thiết bị chơi nhạc xách tay, để bạn thưởng thức được tất cả nhạc của bạn ở
mọi nơi.</p>
</div>

<div class="featured">
<h2 class="subtitle">Phần mềm cài sẵn</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Bộ Phát Nhạc Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Cửa hàng Âm nhạc Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
