<div class="header"><h1 class="slidetitle">Viết và trình bày một cách tự do</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice là một bộ phần mềm văn phòng cho phép bạn tạo ra những tài liệu
ấn tượng, bảng tính và bản trình chiếu. LibreOffice luôn nỗ lực để tương
thích với các bộ phần mềm văn phòng khác, thông qua định dạng tài liệu chuẩn
OpenDocument để đạt độ tương thích cao.</p>
</div>

<div class="featured">
<h2 class="subtitle">Phần mềm cài sẵn</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">Soạn thảo LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">Bảng tính LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">Trình diễn LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
