<div class="header"><h1 class="slidetitle">Giữ kết nối</h1></div>

<div class="main">

<div class="text">

<div>
<p>Thực đơn tin nhắn sẽ giúp bạn nhận ngay có tin nhắn mới từ tất cả các ứng
dụng và mạng xã hội. Vì vậy bạn sẽ biết ngay lập tức mỗi khi có một tin gì
cần đọc không phụ thuộc vào ứng dụng phát tán.</p>
</div>

<div class="featured">
<h2 class="subtitle">Những dịch vụ được hỗ trợ</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
