<div class="header"><h1 class="slidetitle">Tìm nhiều phần mềm hơn nữa</h1></div>

<div class="main">

<div class="text">

<div>
<p>Bạn sẽ không cần phải tìm kiếm phần mềm mới trên web nữa. Nhờ Trung tâm Phần
mềm Ubuntu, bạn sẽ dễ dàng tìm và cài đặt những phần mềm mới. Chỉ cần điền
những gì mà bạn đang cần, hoặc tham khảo các mục phần mềm như Khoa học, Giáo
dục và Chò trơi đã kèm các thông tin hữu ích của nhiều người dùng khác.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
