<div class="header"><h1 class="slidetitle">Chúc mừng bạn đã đến với Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Phiên bản mới nhất của Ubuntu, làm việc nhanh chóng và chứa đầy kỹ năng mới,
sẽ giúp bạn dùng máy tính một cách dễ hơn bao giờ. Sau đây là một vài tiết
mục mới và tuyệt vời cho bạn biết...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
