<div class="header"><h1 class="slidetitle">Pritaikykite Ubuntu savo poreikiams</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu filosofijos esmė - tikėjimas, kad kompiuteriai tinka kiekvienam. Su
daugeliu galimybių, pvz. pasirinkti jums tinkamiausią spalvų schemą, teksto
dydį bei kalbą ir pažangiais pritaikymo neįgaliesiems įrankiais, Ubuntu yra
skirta naudotis visų tautų žmonėms.</p>
</div>

<div class="featured">
<h2 class="subtitle">Individualizavimo galimybės</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Išvaizda</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Pagalbinės technologijos</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Kalbų palaikymas</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
