<div class="header"><h1 class="slidetitle">Pasiimkite savo muziką su savimi</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu sistemoje yra nuostabus Rhythmbox muzikos grotuvas. Su pažangiomis
muzikos klausymosi galimybėmis ir integruota Ubuntu One muzikos parduotuve
Jums bus paprasta ir patogu klausytis mėgiamas dainas. Rhythmbox puikiai
veikia ir su CD, ir su nešiojamais muzikos grotuvais, tad galite mėgautis
visa savo muzika kur be nueitumėte.</p>
</div>

<div class="featured">
<h2 class="subtitle">Įtraukta programinė įranga</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Muzikos grotuvas „Rhythmbox“</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One muzikos parduotuvė</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
