<div class="header"><h1 class="slidetitle">Rašykite dokumentus, kurkite pateiktis</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice - tai laisvas biuro programų rinkinys, kuriame yra viskas, ko
gali prireikti kuriant įspūdingus dokumentus, el. lenteles, diagramas bei
pateiktis. LibreOffice yra sukurtas OpenOffice.org rinkinio pagrindu, jis
puikiai suderinamas su kitais populiariais raštinės programų paketais, taip
pat pilnai palaiko plačiai naudojamą tarptautinį biuro dokumentų standartą
OpenDocument.</p>
</div>

<div class="featured">
<h2 class="subtitle">Įtraukta programinė įranga</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer rašyklė</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc skaičiuoklė</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress - pateiktys</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
