<div class="header"><h1 class="slidetitle">Personalizar o Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>No coração da filosofia Ubuntu está a aposta de que a informática é para
todos. O Ubuntu é para todos, com ferramentas avançadas de acessibilidade e
opções tal como o esquema de cores personalizado, tamanho de texto e
idioma. Quem quer que você seja, e onde estiver.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opções de personalização</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aspeto</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Tecnologias de acessibilidade</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Suporte de idioma</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
