<div class="header"><h1 class="slidetitle">Leve a sua música consigo</h1></div>

<div class="main">

<div class="text">

<div>
<p>O Ubuntu vem com o fantástico leitor de música Rhythmbox. Com opções de
reprodução avançadas e a loja de música Ubuntu One incorporada, é simples
organizar as músicas perfeitas. E funciona muito bem com CDs e reprodutores
de música portáteis, para que possa desfrutar de toda a sua música onde quer
que vá.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programas incluídos</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Reprodutor de Música Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Loja de Música do Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
