<div class="header"><h1 class="slidetitle">Escreva e apresente gratuitamente</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice é um conjunto de aplicações de produtividade repleto de
funcionalidades que lhe permitirão criar documentos, folhas de cálculo e
apresentações. O LibreOffice tenta ao máximo ser interoperável com outros
softwares de produtividade e utiliza os  formatos standard OpenDocument para
maior compatibilidade.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programas incluídos</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
