<div class="header"><h1 class="slidetitle">Divirta-se com as suas fotos</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell é um coveniente gestor de fotos que está preparado para todas as
suas gadgets. Ligue uma camara ou um telemóvel para transferir as suas
fotos, torna-se então fácil partilha-las e mantê-las em segurança.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programas incluídos</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Gestor de fotos Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Programas suportados</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Editor de imagens GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Editor de vídeo Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
