<div class="header"><h1 class="slidetitle">Personalizar Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Nel corazón de la filosofía d'Ubuntu ta la creyencia de que la computación
ye pa toos. Con ferramientes avanzaes d'accesibilidá, como esquemes de
colores preferíos, tamañu del testu y llingua, Ubuntu ye pa
toos. Quienquiera que seyas, y auquiera que teas.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opciones de personalización</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aspeutu</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Teunoloxíes d&#8217;asistencia</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Sofitu de llingües</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
