<div class="header"><h1 class="slidetitle">La to propia nube personal</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> date 5GB
d'almacenamientu de baldre na ñube p'acceder a los tos ficheros, compartir
semeyes y <a href="https://one.ubuntu.com/services/music/">emitir la to
musica</a> a los tos ordenadores, tabletes y smartphones. Una semeya que
saques, apaecerá en tolos preseos nel instante que la saques. Ubuntu One
funciona n'Ubuntu, Windows, Mac, Android, iOS y la web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
