<div class="header"><h1 class="slidetitle">Lleva la música contigo</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu vien con l'ablucante reproductor de música Rhythmbox. Con opciones
avanzaes de reproducción y la tienda de música d'Ubuntu One integrada, ye
percenciello enllazar les tos canciones preferíes. Y funciona bien con
reproductores de música portátiles y CD, de mou que pues esfrutar de la to
música ellí au vayas.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluyíu</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Reproductor de música Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Tienda de música Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
