<div class="header"><h1 class="slidetitle">Escribi y fai presentaciones de baldre</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice ye un paquete d'oficina llibre con tolo que necesites pa crear
impresionantes documentos, fueyes de cálculu, y presentaciones. LibreOffice
fai tolo posible pa funcionar con otres aplicaciones d'oficina, y usa
l'estándar OpenDocument pa una compatibilidá de llargu algame.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluyíu</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
