<div class="header"><h1 class="slidetitle">Calténte coneutáu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Nel menú de mensaxería tienes a vista de páxaru los mensaxes entrantes de
toles aplicaciones y redes sociales. D'esta manera tienes a la vista cuándo
hai daqué nuevo que lleer, ensin qu'importe cómo llegó.</p>
</div>

<div class="featured">
<h2 class="subtitle">Servicios sofitaos</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
