<div class="header"><h1 class="slidetitle">Bienveníu a Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rápida y llena de carauterístiques nueves, la cabera versión d'Ubuntu fai
más fácil que nunca usar l'ordenador. Estes son namái dalgunes de les nueves
coses prestoses que ver...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
