<div class="header"><h1 class="slidetitle">Prilagodite Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>U srcu Ubuntuove filozofije nalazi se vjera da je računalstvo namijenjeno
svima. Uz napredne alate pristupačnosti i mogućnosti poput preferiranih
shema boja, veličine teksta i jezika, Ubuntu je idealan izbor za sve - tko
god da jeste i gdje god da jeste.</p>
</div>

<div class="featured">
<h2 class="subtitle">Mogućnosti prilagodbe</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Izgled</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Pomoćne tehnologije</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Jezična podrška</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
