<div class="header"><h1 class="slidetitle">Ponesite glazbu sa sobom</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu dolazi s fantastičnim Rhythmbox sviračem glazbe. S naprednim
mogućnostima reprodukcije i ugrađenom Ubuntu One glazbenom trgovinom,
sastavljanje savršenog popisa pjesama nikada nije bio lakši. Rhythmbox radi
savršeno s CD-ima i prijenosnim sviračima glazbe, stoga možete uživati u
svojoj glazbi gdje god krenete.</p>
</div>

<div class="featured">
<h2 class="subtitle">Uključen softver</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox svirač glazbe</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One glazbena trgovina</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
