<div class="header"><h1 class="slidetitle">Pišite i prezentirajte besplatno</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice je besplatan paket uredskih aplikacija koji sadrži sve što vam
je potrebno za stvaranje impresivnih dokumenata, proračunskih tablica i
prezentacija. LibreOffice daje sve od sebe kako bi bio kompatibilan s
ostalim paketima uredskih aplikacija, te koristi OpenDocument standarde za
bolju kompatibilnost.</p>
</div>

<div class="featured">
<h2 class="subtitle">Uključen softver</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
