<div class="header"><h1 class="slidetitle">Ostanite povezani</h1></div>

<div class="main">

<div class="text">

<div>
<p>The messaging menu gives you an eagle-eye view of incoming messages from all
applications and social networks. So you can see straight away when there’s
something new to read, regardless of how it arrived.</p>
</div>

<div class="featured">
<h2 class="subtitle">Podržani servisi</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
