<div class="header"><h1 class="slidetitle">Ubuntu aanpassen</h1></div>

<div class="main">

<div class="text">

<div>
<p>De kern van de Ubuntu-filosofie is dat computers er voor iedereen moeten
zijn. Met geavanceerde toegankelijkheidshulpmiddelen en vele opties voor het
aanpassen van lettertypen, kleurenschema's en talen is Ubuntu een systeem
voor iedereen. Wie of waar u ook bent.</p>
</div>

<div class="featured">
<h2 class="subtitle">Aanpasmogelijkheden</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Uiterlijk</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Hulptechnologieën</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Taalondersteuning</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
