<div class="header"><h1 class="slidetitle">Optimaal gebruik maken van het internet</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu bevat Firefox, de webbrowser die door miljoenen mensen over de hele
wereld gebruikt wordt. En webtoepassingen die u vaak gebruikt (zoals
Facebook of Gmail) kunnen vastgezet worden op uw bureaublad voor snellere
toegang, net als met toepassingen op uw computer.</p>
</div>

<div class="featured">
<h2 class="subtitle">Meegeleverde software</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox webbrowser</p>
	</li>
</ul>
<h2 class="subtitle">Ondersteunde software</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
