<div class="header"><h1 class="slidetitle">Vragen?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Raadpleeg <a href="http://askubuntu.com/">askubuntu.com</a> voor antwoorden
op al uw vragen over Ubuntu. Er is een grote kans dat uw vraag al beantwoord
is en, zo niet, dan vindt u hier duizenden vrijwilligers die u graag willen
helpen. Ga voor meer ondersteuningsmogelijkheden naar <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Laten we het over Ubuntu hebben</h2>
		<div class="l10n-string twitter-post-status-text">Bezig met installeren van #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
