<div class="header"><h1 class="slidetitle">Uw persoonlijke cloud</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> geeft u 5GB
gratis cloudopslag voor toegang tot uw bestanden, foto's delen en <a
href="https://one.ubuntu.com/services/music/">muziek streamen</a> naar uw
computers, tablets en smartphones. Elke foto die u neemt verschijnt direct
op al uw apparaten. Ubuntu One draait op Ubuntu, Windows, Mac, Android, iOS
en het internet.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
