<div class="header"><h1 class="slidetitle">Neem uw muziek mee</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu wordt geleverd met de uitstekende muziekspeler Rhythmbox. De
uitgebreide afspeelmogelijkheden en de ingebouwde Ubuntu One muziekwinkel
maken het samenstellen van de ideale muziekverzameling eenvoudig. Ook kan
het overweg met cd's en draagbare muziekspelers, zodat u van al uw muziek
kunt genieten waar u ook bent.</p>
</div>

<div class="featured">
<h2 class="subtitle">Meegeleverde software</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox muziekspeler</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One muziekwinkel</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
