<div class="header"><h1 class="slidetitle">Schrijven en presenteren zonder kosten</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice is een kosteloos kantoorpakket dat alles bevat wat nodig is om
indrukwekkende documenten, rekenbladen en presentaties te maken. LibreOffice
streeft naar zo goed mogelijke samenwerking met andere kantoorsoftware, en
om zo compatibel mogelijk te zijn gebruikt het de OpenDocument-standaarden.</p>
</div>

<div class="featured">
<h2 class="subtitle">Meegeleverde software</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
