<div class="header"><h1 class="slidetitle">Beleef plezier aan uw foto's</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell is een handig fotobeheerprogramma, klaar voor al uw gadgets. Sluit
een camera of telefoon aan om uw foto's over te zetten; zo kunt u ze
eenvoudig delen en veilig bewaren. Als u in een creatieve bui bent, kunt u
een van de vele fototoepassingen die zich in het Ubuntu softwarecentrum
bevinden uitproberen.</p>
</div>

<div class="featured">
<h2 class="subtitle">Meegeleverde software</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell fotobeheer</p>
	</li>
</ul>
<h2 class="subtitle">Ondersteunde software</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP afbeeldingenbewerker</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi videobewerker</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
