<div class="header"><h1 class="slidetitle">Verbonden blijven</h1></div>

<div class="main">

<div class="text">

<div>
<p>In het berichtenmenu ziet u het direct als er binnenkomende berichten zijn
uit alle toepassingen en sociale netwerken. U kunt dus meteen zien wanneer
er iets nieuws te lezen is, ongeacht hoe het binnenkomt.</p>
</div>

<div class="featured">
<h2 class="subtitle">Ondersteunde diensten</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
