<div class="header"><h1 class="slidetitle">Welkom bij Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>De nieuwste versie van Ubuntu is snel en heeft heel veel nieuwe functies,
waardoor het werken met de computer eenvoudiger dan ooit wordt gemaakt. Hier
zijn slechts enkele van de mooie nieuwe dingen om naar uit te kijken...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
