<div class="header"><h1 class="slidetitle">Customise Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>At the heart of Ubuntu’s philosophy is a belief that computing is for
everyone. With advanced accessibility tools and options like your preferred
color scheme, text size, and language, Ubuntu is for anyone. Whoever you
are, and wherever you are.</p>
</div>

<div class="featured">
<h2 class="subtitle">Customisation options</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Appearance</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Assistive technologies</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Language support</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
