<div class="header"><h1 class="slidetitle">Настройте Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>В основе философии Ubuntu лежит убеждение, что компьютер должен быть
доступен для всех. С помощью расширенных специальных возможностей и
параметров, таких, как цветовая схема, размер шрифта и язык, Ubuntu подойдёт
для вас, кем бы вы ни были и где бы вы ни были.</p>
</div>

<div class="featured">
<h2 class="subtitle">Настройки параметров</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Внешний вид</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Вспомогательные технологии</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Языковая поддержка</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
