<div class="header"><h1 class="slidetitle">Всё для интернета</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu поставляется с Firefox, браузером, используемым миллионами людей во
всём мире. Веб-приложения, которые вы часто используете (например Facebook
или Gmail), могут быть расположены на рабочем столе и у вас появится к ним
такой же доступ, как к обычным приложениям.</p>
</div>

<div class="featured">
<h2 class="subtitle">Установленные программы</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Веб-браузер Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Поддерживаемые приложения</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Флеш-анимация</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
