<div class="header"><h1 class="slidetitle">Ваше персональное облако</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> предоставляет
5 ГБ места в облачном хранилище, где вы можете сохранять и делиться
фотографиями, файлами и возможностью <a
href="https://one.ubuntu.com/services/music/">трансляции вашей музыки</a> на
другие компьютеры, планшеты и коммуникаторы. Создаваемые фотографии
появляются на всех ваших устройствах. Ubuntu One совместима с Ubuntu,
Windows, Mac, Android, iOS, также предусмотрен веб-доступ.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
