<div class="header"><h1 class="slidetitle">Ваша музыка всегда с вами</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu поставляется с музыкальным проигрывателем Rhythmbox. С передовыми
возможностями воспроизведения и доступом к музыкальному магазину Ubuntu One,
теперь так просто добавлять любимые композиции в список
воспроизведения. Поддерживается работа с компакт-дисками и портативными
музыкальными плеерами, так что вы сможете наслаждаться музыкой в любом
месте.</p>
</div>

<div class="featured">
<h2 class="subtitle">Установленные программы</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Музыкальный проигрыватель Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Музыкальный магазин Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
