<div class="header"><h1 class="slidetitle">Создавайте презентации бесплатно</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice — это бесплатный офисный пакет, имеющий всё необходимое для
создания впечатляющих документов, таблиц и презентаций. LibreOffice делает
всё возможное для работы с другим офисным программным обеспечением и
использует стандарты OpenDocument для максимальной совместимости.</p>
</div>

<div class="featured">
<h2 class="subtitle">Установленные программы</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
