<div class="header"><h1 class="slidetitle">Оставайтесь на связи</h1></div>

<div class="main">

<div class="text">

<div>
<p>Меню сообщений предоставляет вам возможность контролировать поступление
сообщений со всех социальных сетей. Таким образом вы всегда будете в курсе
событий.</p>
</div>

<div class="featured">
<h2 class="subtitle">Поддерживаемые службы</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
