<div class="header"><h1 class="slidetitle">Дополнительные программы</h1></div>

<div class="main">

<div class="text">

<div>
<p>Попрощайтесь с поиском новых программ в интернете. Центр приложений Ubuntu
предлагает вам поиск и простую установку программ. Введите поисковый запрос
или ознакомьтесь с категориями программ, такими как наука, образование и
игры, а также отзывами пользователей.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
