<div class="header"><h1 class="slidetitle">Добро пожаловать в Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Быстрая и современная, последняя версия Ubuntu упрощает работу за
компьютером. Здесь перечислены некоторые новые возможности…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
