<div class="header"><h1 class="slidetitle">随心定制 各取所需</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu
哲学的核心是相信每个人都可以自由使用计算机。它拥有完善的无障碍访问工具，您也可以自定义配色方式、字体大小和语言等多种设置。无论您是谁，无论您身在何方，Ubuntu
总能满足您的需求。</p>
</div>

<div class="featured">
<h2 class="subtitle">自定义选项</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">外观</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">辅助技术</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">语言支持</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
