<div class="header"><h1 class="slidetitle">云端服务 安全可靠</h1></div>

<div class="main">

<div class="text">

<div>
<p>免费版<a href="https://one.ubuntu.com/services/"> Ubuntu One </a>帐号为您提供 5GB
云存储空间，您可以将自己的文件、照片以及 <a href="https://one.ubuntu.com/services/music/">stream
your music</a> 存储在云端，并与多个设备进行同步，以便随时随地都能访问。有了 Ubuntu
One，您用手机拍完一张照片，立刻就能在桌面上看到它。Ubuntu One 可以运行在 Ubuntu、Windows、Mac、Android、iOS
以及网页版等多种平台上。</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
