<div class="header"><h1 class="slidetitle">至美音乐 随时相伴</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu 中自带了功能强大的 Rhythmbox 音乐播放器。它包含丰富的播放选项，并内置了 Ubuntu One
音乐商店，让您可以轻易地将喜欢的音乐排列得井井有条。同时，Rhythmbox 对 CD 和便携音乐播放器也有着良好的兼容性，使您可以随时随地享受音乐。</p>
</div>

<div class="featured">
<h2 class="subtitle">预装软件</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox 音乐播放器</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One 音乐商店</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
