<div class="header"><h1 class="slidetitle">自由书写 尽情展现</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice 是一个自由的办公套件，您可以用它来创建精美的文档、电子表格和演示文稿。LibreOffice
与其它办公软件有着良好的兼容性，并采用开放文档标准以广泛支持各种文档格式。</p>
</div>

<div class="featured">
<h2 class="subtitle">预装软件</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice 文书处理</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice 电子表格</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice 演示文稿</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
