<div class="header"><h1 class="slidetitle">消息动态 一览无余</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu 消息指示器让来自各种程序和社交网络的动态尽收眼底。不管信息来自何方，只需轻轻一瞥，一切尽在掌握。</p>
</div>

<div class="featured">
<h2 class="subtitle">支持的服务</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
