<div class="header"><h1 class="slidetitle">欢迎使用 Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>最新版本的 Ubuntu 快速且具有丰富新特性，用起来比以往更方便。这里有一些值得注意的的新玩意……</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
