<div class="header"><h1 class="slidetitle">Personalize o Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>No coração da filosofia Ubuntu está uma crença de que a computação é para
todos. Com ferramentas de acessibilidade e opções avançadas como o seu
esquema de cores preferido, tamanho do texto e linguagem, o Ubuntu é para
qualquer um. Quem quer que você seja, e onde quer que esteja.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opções de personalização</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aparência</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Tecnologias assistivas</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Suporte a idiomas</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
