<div class="header"><h1 class="slidetitle">Aproveitar ao máximo a web</h1></div>

<div class="main">

<div class="text">

<div>
<p>O Ubuntu inclui o Firefox, o navegador web usado por milhões de pessoas pelo
mundo. E aplicações da web que você usa com frequência (como Facebook ou
Gmail, por exemplo) podem ser fixados em seu desktop para acesso rápido,
assim como aplicativos em seu computador.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programas inclusos</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Navegador Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Programas suportados</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
