<div class="header"><h1 class="slidetitle">Alguma pergunta?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Confira o <a href="http://askubuntu.com/">askubuntu.com</a> para respostas a
todas as suas dúvidas. Há uma boa chance da sua dúvida já ter sido
respondida e, se não, você irá encontrar milhares de voluntários dispostos a
ajudar. Para mais opções de suporte, vá até  <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Fale com Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Eu estou instalando o #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
