<div class="header"><h1 class="slidetitle">Sua própria nuvem pessoal</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> lhe dá 5 GB
de armazenamento grátis na nuvem para você acessar seus arquivos,
compartilhar suas fotos e <a
href="https://one.ubuntu.com/services/music/">transmitir as suas músicas</a>
para seus computadores, tablets e smartphones. Qualquer foto que você tirar
aparece em todos os seus aparelhos, no momento que você tirar. O Ubuntu One
pode ser executado no Ubuntu, Windows, Mac, Android, iOS e na Internet.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
