<div class="header"><h1 class="slidetitle">Leve suas músicas com você</h1></div>

<div class="main">

<div class="text">

<div>
<p>O Ubuntu vem com o incrível reprodutor de músicas Rhythmbox. Com opções
avançadas de reprodução e a loja de músicas do Ubuntu One, é simples
enfileirar as músicas perfeitas. E funciona muito bem com CDs e reprodutores
de música portáteis, para que você possa desfrutar de toda a sua música onde
quer que vá.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programas inclusos</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Reprodutor de músicas Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Loja de músicas do Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
