<div class="header"><h1 class="slidetitle">Escreva e apresente gratuitamente</h1></div>

<div class="main">

<div class="text">

<div>
<p>O LibreOffice é uma suíte de escritório livre repleta de tudo que você
precisa para criar documentos impressionantes, planilhas e apresentações. O
LibreOffice tenta fazer o melhor para trabalhar com outros programas de
escritório, usando os padrões OpenDocument de alta compatibilidade.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programas inclusos</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
