<div class="header"><h1 class="slidetitle">Divirta-se com suas fotos</h1></div>

<div class="main">

<div class="text">

<div>
<p>O Shotwell é um prático organizador de fotos que está pronto para os seus
equipamentos eletrônicos. Conecte uma câmera ou um celular para transferir
suas fotos e então será fácil compartilhá-las e mantê-las em segurança. Se
você se sentir criativo, você pode experimentar diversos aplicativos de foto
da Central de Programas do Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programas inclusos</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Organizador de fotos Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Programas suportados</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Editor de imagens GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Editor de vídeo Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
