<div class="header"><h1 class="slidetitle">Mantenha-se conectado</h1></div>

<div class="main">

<div class="text">

<div>
<p>O menu de mensagens dá a você uma visão minuciosa de mensagens recebidas de
todos os aplicativos e redes sociais. Então você pode ver diretamente quando
houver algo novo para ler, não importa como tenha chegado.</p>
</div>

<div class="featured">
<h2 class="subtitle">Serviços suportados</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
