<div class="header"><h1 class="slidetitle">Bem-vindo ao Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rápida e cheia de novos recursos, a última versão do Ubuntu torna o uso do
computador mais fácil do que nunca. Aqui estão apenas algumas novas coisas
legais em destaque:</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
