<div class="header"><h1 class="slidetitle">Your own personal cloud</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> gives you 5GB of free cloud storage to access your files, share your photos and <a href="https://one.ubuntu.com/services/music/">stream your music</a> to your computers, tablets and smartphones. Any photo you take appears on all your devices, the instant you take it. Ubuntu One runs on Ubuntu, Windows, Mac, Android, iOS and the web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
