<div class="header"><h1 class="slidetitle">Bienvenido a FoSOBI (GNU/Linux)</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Estamos al limite, para que abel $(Cat) ponga a disposicion su distro </p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
