<div class="header"><h1 class="slidetitle">Az Ubuntu személyre szabása</h1></div>

<div class="main">

<div class="text">

<div>
<p>Az Ubuntu filozófiájának középpontjában az a hit áll, hogy a
számítástechnika mindenkié. Fejlett akadálymentesítési eszközökkel és olyan
lehetőségekkel, mint az előnyben részesített színséma, szövegméret és nyelv,
az Ubuntu mindenki számára megfelelő. Bárki is legyen Ön, bárhol is legyen.</p>
</div>

<div class="featured">
<h2 class="subtitle">Személyre szabási lehetőségek</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Megjelenés</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Akadálymentesítési technológiák</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Nyelvi támogatás</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
