<div class="header"><h1 class="slidetitle">A személyes felhője</h1></div>

<div class="main">

<div class="text">

<div>
<p>Az <a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> 5GB
ingyenes felhőtárhelyet kínál, ahonnan elérheti fájljait, megoszthatja
fényképeit és <a href="https://one.ubuntu.com/services/music/">továbbíthatja
zenéit</a> számítógépeire, táblagépeire és okos telefonjaira. Minden
fényképe azonnal megjelenik az összes eszközén, amint elkészíti. Az Ubuntu
One fut Ubuntu, Windows, Mac, Android, iOS rendszereken, és a weben.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
