<div class="header"><h1 class="slidetitle">Vigye magával zenéit</h1></div>

<div class="main">

<div class="text">

<div>
<p>Az Ubuntu a nagyszerű Rhythmbox zenelejátszóval érkezik. Fejlett lejátszási
opcióinak és a beépített Ubuntu One zeneboltnak köszönhetően könnyedén
összeállíthatja az Önnek tetsző dalokat. Emellett jól működik CD-kel és
hordozható zenelejátszókkal, így élvezheti zenéit bárhol is jár.</p>
</div>

<div class="featured">
<h2 class="subtitle">Tartalmazott szoftverek</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox zenelejátszó</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One zenebolt</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
