<div class="header"><h1 class="slidetitle">Írjon és készítsen bemutatókat ingyenesen</h1></div>

<div class="main">

<div class="text">

<div>
<p>A LibreOffice egy ingyenes irodai alkalmazáscsomag, amelyben minden
megtalálható, amire szüksége lehet látványos dokumentumok, táblázatok és
bemutatók készítéséhez. A LibreOffice megpróbál lehetőségeihez mérten a
legjobban együttműködni más irodai alkalmazásokkal, továbbá az OpenDocument
szabványait használva próbál messzemenően kompatibilis is maradni.</p>
</div>

<div class="featured">
<h2 class="subtitle">Tartalmazott szoftverek</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
