<div class="header"><h1 class="slidetitle">Maradjon kapcsolatban ismerőseivel</h1></div>

<div class="main">

<div class="text">

<div>
<p>Az üzenetkezelési menüben áttekintheti az alkalmazásaiban és közösségi
hálózataiban kapott üzeneteit. Így azonnal láthatja, ha új olvasnivaló
érkezett, bárhogyan is jutott el Önhöz.</p>
</div>

<div class="featured">
<h2 class="subtitle">Támogatott szolgáltatások</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
