<div class="header"><h1 class="slidetitle">Üdvözli az Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Az Ubuntu gyors és funkció gazdag új verziója könnyebbé teszi a
számítástechnikát, mint valaha. Itt van néhány új dolog, amire érdemes
odafigyelni…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
