<div class="header"><h1 class="slidetitle">Możliwości personalizacji</h1></div>

<div class="main">

<div class="text">

<div>
<p>Sercem filozofii Ubuntu jest przekonanie, że komputery są dla
wszystkich. Dzięki rozbudowanym narzędziom ułatwień dostępu oraz wielu
opcjom dostosowania systemu, takich jak preferowane czcionki, schematy
kolorów czy obsługa wielu języków, Ubuntu dopasowane jest do potrzeb
wszystkich ludzi, kimkolwiek są i gdziekolwiek się znajdują.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opcje dostosowywania</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Wygląd</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Ułatwienia dostępu</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Obsługa wielu języków</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
