<div class="header"><h1 class="slidetitle">Make the most of the web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Do Ubuntu dołączono przeglądarkę Firefox, używaną przez miliony ludzi na
całym świecie. Umożliwia ona umieszczanie na pulpicie aktywatorów
najczęściej używanych usług sieciowych (np. Facebook lub Gmail) i
korzystanie z nich jak ze zwykłych programów.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dołączone oprogramowanie</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Przeglądarka internetowa Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Obsługiwane oprogramowanie</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Przeglądarka internetowa Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
