<div class="header"><h1 class="slidetitle">Potrzebna pomoc?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Wiele gotowych odpowiedzi oraz ludzi chętnych do pomocy, można odnaleźć na
stronie <a href="http://askubuntu.com/">Ask Ubuntu</a>. Inne możliwości
uzyskania pomocy przedstawiono pod adresem <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Porozmawiajmy o Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Instaluję #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
