<div class="header"><h1 class="slidetitle">Własna chmura</h1></div>

<div class="main">

<div class="text">

<div>
<p>Usługa <a href="https://one.ubuntu.com/services/free/">Ubuntu One</a>
oferuje 5GB przestrzeni dyskowej w chmurze, w celu przechowywania plików,
udostępniania zdjęć i <a
href="https://one.ubuntu.com/services/music/">przesyłania muzyki w postaci
strumieni</a> do komputerów, tabletów i telefonów. Każde zdjęcie pojawi się
we wszystkich urządzeniach zaraz po wykonaniu. Dostęp do usługi Ubuntu One
można uzyskać na systemach Ubuntu, Windows, Mac, Android, iOS i za
pośrednictwem przeglądarki internetowej.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
