<div class="header"><h1 class="slidetitle">Muzyka zawsze przy sobie</h1></div>

<div class="main">

<div class="text">

<div>
<p>W Ubuntu znajduje się niesamowity odtwarzacz muzyki Rythmbox. To proste
narzędzie umożliwiające odsłuchiwanie ulubionej muzyki, wyposażone w
zaawansowane opcje odtwarzania oraz dostęp do usługi sklepu muzycznego
Ubuntu One. Doskonale radzi sobie z obsługą płyt CD i sprzętowych
odtwarzaczy muzycznych, dzięki czemu pozwala cieszyć się muzyką w każdej
sytuacji.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dołączone oprogramowanie</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Odtwarzacz muzyki Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Sklep muzyczny Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
