<div class="header"><h1 class="slidetitle">Dokumenty i prezentacje bez kosztów</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice jest darmowym pakietem biurowym, wyposażonym we wszystko co
niezbędne do stworzenia profesjonalnej prezentacji, zaawansowanych
dokumentów tekstowych czy arkuszy kalkulacyjnych. Obsługuje wszystkie
najpopularniejsze formaty plików wraz ze standardem OpenDocument.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dołączone oprogramowanie</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
