<div class="header"><h1 class="slidetitle">Zawsze w kontakcie</h1></div>

<div class="main">

<div class="text">

<div>
<p>Menu wiadomości daje możliwość szybkiego wglądu do treści przesyłanych przez
programy i serwisy społecznościowe. Wszystkie wiadomości są dostępne w
jednym miejscu, bez znaczenia skąd pochodzą.</p>
</div>

<div class="featured">
<h2 class="subtitle">Obsługiwane usługi</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
