<div class="header"><h1 class="slidetitle">Witamy w Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Szybki i pełen nowych funkcjonalności - nowa wersja systemu Ubuntu ułatwia
korzystanie z komputera bardziej niż kiedykolwiek. Oto kilka interesujących
nowości...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
