<div class="header"><h1 class="slidetitle">উবুন্টু সংকলিত করা</h1></div>

<div class="main">

<div class="text">

<div>
<p>উবুন্টুর মূল দর্শনে এটি একটি বিশ্বাস যে সবার জন্য কম্পিউটিং। উন্নত
একসেসিবিলিটি টুলস এবং অপশন সহ যেমন আপনার পছন্দের রং, লেখার আকার এবং ভাষা,
উবুন্টু সবার জন্য। আপনি যেই হোন, এবং যেখানেই থাকুন।</p>
</div>

<div class="featured">
<h2 class="subtitle">সংকলনের পছন্দসমূহ</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">অবয়ব</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">সাহায্যকারী প্রযুক্তিসমূহ</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">ভাষা সমর্থন</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
