<div class="header"><h1 class="slidetitle">আপনার মিউজিক আপনার সাথেই রাখুন</h1></div>

<div class="main">

<div class="text">

<div>
<p>উবুন্টুর সাথে আসে দারুন মিউজিক প্লেয়ার রিদমবক্স। উন্নত প্লেব্যাক অপশন এবং
উবুন্ট ওয়ান মিউজিক স্টোর বিল্টইন ভাবে থাকায়, এটি খুব সহজেই যথাযথ গানটি খুঁজে
নিয়ে আসে। আর এটি সিডি এবং পোর্টেবল মিউজিক প্লেয়ারের সাথে‌ চমৎকার কাজ করে-
তাই আপনি যেখানেই যান না কেন, আপনার সব গান উপভোগ করতে পারবেন।</p>
</div>

<div class="featured">
<h2 class="subtitle">অন্তর্ভুক্ত সফটওয়্যার</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">রিদমবক্স মিউজিক প্লেয়ার</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">উবুন্টু ওয়ান মিউজিক স্টোর</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
