<div class="header"><h1 class="slidetitle">বিনামূল্যের জন্য লিখুন এবং প্রদর্শন করুন</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice একটি মুক্ত অফিস স্যুট প্যাক যাতে আপনি ইম্প্রেসিভ নথি,
স্প্রেডশীট, এবং প্রেজেন্টেশন তৈরী করতে যা যা প্রয়োজনীয় সব কিছু পাবেন।
LibreOffice অন্যান্য অফিস সফ্টওয়্যারের সাথে কাজ করার জন্য সাধ্যমত চেষ্টা
করে, এবং এটি বহুদূর প্রসারিত উপযুক্ততার জন্য OpenDocument আদর্শ ব্যবহার করে।</p>
</div>

<div class="featured">
<h2 class="subtitle">অন্তর্ভুক্ত সফটওয়্যার</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">লিব্রেঅফিস রাইটার</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">লিব্রেঅফিস ক্যাল্ক</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">লিব্রেঅফিস ইমপ্রেস</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
