<div class="header"><h1 class="slidetitle">Tilpas Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Hjertet af Ubuntus filosofi er en tro på, at computere er for alle. Med
avancerede tilgængelighedsværktøjer og mange tilpasningsmuligheder såsom dit
foretrukne farveskema, tekststørrelse og sprog, kan Ubuntu bruges af
alle. Uanset hvem du er, og uanset hvor du er.</p>
</div>

<div class="featured">
<h2 class="subtitle">Tilpasningsmuligheder</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Udseende</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Hjælpeteknologier</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Sprogunderstøttelse</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
