<div class="header"><h1 class="slidetitle">Tag din musik med dig</h1></div>

<div class="main">

<div class="text">

<div>
<p>Med Ubuntu følger den fantastiske musikafspiller Rhythmbox. Avancerede
afspilningsindstillinger samt indbygget adgang til Ubuntu One-musikbutikken
gør det let at sætte de perfekte sange på. Programmet virker godt sammen med
cd'er og flytbare musikafspillere, så du kan nyde al din musik hvor end du
går.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgende programmer</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox – musikafspiller</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu Ones musikbutik</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
