<div class="header"><h1 class="slidetitle">Skriv og præsentér frit</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice er en fri kontorpakke pakket med alt hvad du skal bruge for at
lave imponerende dokumenter, regneark og præsentationer. LibreOffice gør sit
bedste for at arbejde sammen med andet Office-software, og bruger
OpenDocument-standarder for langtrækkende kompatibilitet.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgende programmer</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Tekstbehandling</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Regneark</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Præsentation</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
