<div class="header"><h1 class="slidetitle">Шке муро-влакым воктенет нал</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu comes with the amazing Rhythmbox music player. With advanced playback
options and the Ubuntu One music store built in, it’s simple to queue up the
perfect songs. And it works great with CDs and portable music players, so
you can enjoy all your music wherever you go.</p>
</div>

<div class="featured">
<h2 class="subtitle">Шындыктыме программе-влак</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox Music Player</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One муро кевыт</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
