<div class="header"><h1 class="slidetitle">Suaikan Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Teras falsafah Ubuntu ialah pengkomputeran untuk semua. Dengan peralatan
kebolehcapaian yang canggih serta pelbagai pilihan seperti fon pilihan,
skema warna, dan bahasa, Ubuntu sememangnya disediakan untuk semua. Tidak
kira siapa anda, dan dimana anda berada.</p>
</div>

<div class="featured">
<h2 class="subtitle">Pilihan penyuaian</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Penampilan</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Teknologi bantuan</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Sokongan bahasa</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
