<div class="header"><h1 class="slidetitle">Awan peribadi anda</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> menyediakan
5GB storan awan secara percuma untuk anda capai fail anda, kongsi foto anda
dan <a href="https://one.ubuntu.com/services/music/">strimkan muzik anda</a>
ke komputer, tablet dan telefon pintar anda. Apa jua foto yang diambil akan
muncul dalam semua peranti anda. Ubuntu One boleh dijalankan pada Ubuntu,
Windows, Mac, Android, iOS dan sesawang.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
