<div class="header"><h1 class="slidetitle">Bawa muzik anda bersama</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu disertakan dengan pemain muzik Rhythmbox yang hebat. Dengan pilihan
main balik termaju dan kedai muzik Ubuntu One terbina-dalam, ia adalah mudah
membaris gilirkan lagu dengan sempurna. Dan ia sesuai dimainkan dengan CD
dan pemain muzik mudah alih, supaya anda dapat menikmati semua muzik anda
dimana saja anda berada.</p>
</div>

<div class="featured">
<h2 class="subtitle">Perisian yang disertakan</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Pemain Muzik Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Kedai Muzik Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
