<div class="header"><h1 class="slidetitle">Tulis dan persembahkan dengan bebas</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice merupakan suit pejabat bebas@percuma dengan segalanya anda
perlukan untuk mencipa dokumen, lembaran elektronik, dan persembahan yang
menarik. LibreOffice sebaik mungkin dapat berfungsi dengan baik perisian
pejabat yang lain, dan guna piawaian Dokumen Terbuka supaya keserasiannya
lebih menyeluruh.</p>
</div>

<div class="featured">
<h2 class="subtitle">Perisian yang disertakan</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
