<div class="header"><h1 class="slidetitle">Kekal berhubung</h1></div>

<div class="main">

<div class="text">

<div>
<p>Menu pemesejan yang memberikan anda pandangan mata-helang mesej masuk dari
semua aplikasi dan rangkaian sosial. Jadi anda boleh lihat terus apa jua
maklumat baru untuk dibaca, tanpa mengetahui bagaimana ia tiba.</p>
</div>

<div class="featured">
<h2 class="subtitle">Perkhidmatan yang disokong</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
