<div class="header"><h1 class="slidetitle">Selamat datang ke Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Fitur baru yang pantas dan lengkap, versi terkini Ubuntu menjadikan
pengkomputeran menjadi lebih mudah. Terdapat beberapa perkara baru yang anda
boleh cari...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
