<div class="header"><h1 class="slidetitle">Prilagođavanje Ubuntu-a</h1></div>

<div class="main">

<div class="text">

<div>
<p>U srcu filozofije Ubuntu je uvjerenje da je računarstvo za svakoga. Sa
naprednim alatima za pristupačnost i opcijama kao što su željene šema boja,
veličina teksta i jezik, Ubuntu je za svakoga, bez obzira ko ste i gdje ste.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opcije prilagođavanja</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Izgled</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Pomoćne tehnologije</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Podrška za jezike</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
