<div class="header"><h1 class="slidetitle">Vaš vlastiti lični oblak</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> vam poklanja
5GB besplatnog oblačnog prostora za pohranu fajlova, fotografija i <a
href="https://one.ubuntu.com/services/music/">muzike</a> na računar, talbet
i smartphone. Bilo koja fotografija koju sačuvate u ovom prostoru će se
pojaviti na svim vašim uređajima. Ubuntu One se može pokrenuti na Ubuntu-u,
Windows-ima, Mac-u, Android-u, iOS-u i internetu.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
