<div class="header"><h1 class="slidetitle">Nosite muziku sa sobom</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu dolazi sa fantastičnim Rhythmbox muzičkim plejerom. Zahvaljujući
naprednim opcijama za reprodukciju i Ubuntu One muzičkoj prodavnici, to
jednostavno možete emitovati savršene pjesme. I to odlično funkcioniše sa
CD-a i prenosivim muzičkim plejerima, tako da možete uživati u vašoj muzici
gdje god da idete.</p>
</div>

<div class="featured">
<h2 class="subtitle">Uključeni softver</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox muzički program</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Music radnja</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
