<div class="header"><h1 class="slidetitle">Pišite i prezentirajte besplatno</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice je besplatan paket sa svim što vam je potrebno da napravite
impresivne dokumente, unakrsne tabele i prezentacije. LibreOffice pokušava
najbolje da radi sa drugim kancelarijskim softverom, i koristi ODF standard
za veliku kompatibilnost.</p>
</div>

<div class="featured">
<h2 class="subtitle">Uključeni softver</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
