<div class="header"><h1 class="slidetitle">Ostanite povezani</h1></div>

<div class="main">

<div class="text">

<div>
<p>Izbornik poruka omogućava pregled poruka iz svih aplikacija i društvenih
mreža. Prikazuje nove poruke, bez obzira na način na koji su stigle.</p>
</div>

<div class="featured">
<h2 class="subtitle">Podržani servisi</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
