<div class="header"><h1 class="slidetitle">Dobrodišli u Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Posljednja Ubuntu verzija, brza i puna noviteta, korištenje računara čini
lakšim nego ikad prije. Evo nekoliko odličnih stvari na koje trebate
obratiti pažnju…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
