<div class="header"><h1 class="slidetitle">خصص أوبونتو</h1></div>

<div class="main">

<div class="text">

<div>
<p>من قلب فلسفة أوبنتو ينبع إيمان بأن الحوسبة ملك للجميع. مع أدوات الإتاحة
المتقدمة وخيارات مثل تنسيق ألوانك المفضّلة، وحجم الخط، واختيار اللغة ستشعر
بأن أبونتو ملك لك، كائنًا من كنت وأينما كنت.</p>
</div>

<div class="featured">
<h2 class="subtitle">خيارات التخصيص</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">المظهر</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">التقنيات المُساعِدة</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">دعم اللغات</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
