<div class="header"><h1 class="slidetitle">سحابتك الشخصية</h1></div>

<div class="main">

<div class="text">

<div>
<p>حساب <a href="https://one.ubuntu.com/services/">أبونتو ون</a> يعطيك 5 جيجا
بايت من مساحة التخزين السحابي مجانًا، ليتيح لك تخزين ومزامنة ملفاتك وصورك
عبر الأجهزة والوصول إليها أينما كنت من أي مكان في العالم، ومشاركتها بسهولة
مع الأصدقاء والعائلة والزملاء. التقط صورة على هاتفك المحمول وشاهدها فورًا
على سطح مكتبك وعلى جميع أجهزتك، أو أضف <a
href="https://one.ubuntu.com/services/music/">دفق الموسيقى</a> لجهازك
المحمول للاستمتاع بالموسيقى أثناء الحركة. أبونتو ون متوفر حاليا على معظم
أنظمة التشغيل كأبونتو، وويندوز، وماكنتوش، وأندرويد، وأنظمة تشغيل آيفون
وآيبود وآيباد بالإضافة إلى الوِب.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
