<div class="header"><h1 class="slidetitle">خذ صوتياتك معك</h1></div>

<div class="main">

<div class="text">

<div>
<p>يأتي أبونتو مع مُشغل الصوتيات الرائع «أنغام». مع خيارات تشغيل متقدمة ومع
متجر أبونتو ون مُدمج به، يتيح لك بكل بساطة عمل اصطفاف لصوتياتك
المُفضّلة. ويعمل بكفاءة مع الأقراص الصوتية ومع مُشغّلات الصوتيات
المحمولة. لذا يمكنك الاستمتاع بصوتياتك أينما ذهبت.</p>
</div>

<div class="featured">
<h2 class="subtitle">البرمجيات المدمجة</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">مشغل الصوتيات أنغام</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">متجر موسيقى أبنتو ون</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
