<div class="header"><h1 class="slidetitle">أكتب مستنداتك وقدّم عروضك بالمجان</h1></div>

<div class="main">

<div class="text">

<div>
<p>ليبر أوفيس هو حزمة برامج مكتب مجانية تأتي مع جميع الأشياء التي قد تحتاج لها
لإنشاء المستندات، والعروض التقديمية، والجداول المُمتدة. ليبر أوفيس تبذل ما
بوسعها للعمل مع برمجيات المكتب الأخرى، وتستخدم معايير المُستند المفتوح (ODF)
للوصول للتوافقية في خطة بعيدة المدى.</p>
</div>

<div class="featured">
<h2 class="subtitle">البرمجيات المدمجة</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">ليبر أوفيس رايتر</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">ليبر أوفيس كالك</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">ليبر أوفيس إمبرس</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
