<div class="header"><h1 class="slidetitle">ابق متصلًا</h1></div>

<div class="main">

<div class="text">

<div>
<p>يمنحك مؤشر رسائل أبونتو نظرة عين النسر للرسائل الواردة من جميع التطبيقات
والشبكات الاجتماعية. لتكتشف على الفور عندما يصلك أي جديد، بصرف النظر عن
طريقة وصوله.</p>
</div>

<div class="featured">
<h2 class="subtitle">الخدمات المدعومة</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">تويتر</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">فيسبوك</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">أيدنتيكا</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
