<div class="header"><h1 class="slidetitle">مرحبًا بك في أبونتو 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>يتميز أبونتو بالخفة والمرونة ليجعل من حاسوبك أكثر متعة في الاستخدام. الآن مع
الإصدارة الأخيرة من واجهة يونتي الجذابة ستجد الاستخدام أسهل من أي وقت
مضى. يمكنك الاطلاع على بعض المميزات الرائعة والجديدة من خلال عرض الشرائح
الحالي...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
