<div class="header"><h1 class="slidetitle">Przisposōbcie sie Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Nŏjważniyjsze dlŏ filozofije Ubuntu je wiara, iże kōmputer je dlŏ kŏżdego. Z
szerokiymi nŏrzyńdziami dostympu i ôpcyjami jak ukłŏd farb, kery mŏcie
radzi, srogość tekstu, mŏwa, Ubuntu je richtig dlŏ kŏżdego. Niyma ważne fto
żeście sōm i kaj żeście sōm.</p>
</div>

<div class="featured">
<h2 class="subtitle">Ôpcyje przisposobiyniŏ</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Wyglōnd</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Technologije ułatwianiŏ</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Inne mŏwy</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
