<div class="header"><h1 class="slidetitle">Weźcie sie swojõ muzykã ze sobōm</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu przichodzi z rewelacyjnym ôdgrywŏczym muzyki - Rhytmbox. Z szerokiymi
ôpcyjami ôdgrywaniŏ i wbudowanym sklepym muzycznym Ubuntu One, łatwo idzie
zebrać nŏjlepsze śpiywki. Richtig dobrze poradzi siã ôn z kōmpaktami i
przenośnymi ôdgrywŏczami, także mogecie siã cieszyć muzykōm niyważne kaj
bydziecie.</p>
</div>

<div class="featured">
<h2 class="subtitle">Softwer we kōmplecie</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Ôdgrywŏcz muzyki Rhytmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Sklep muzyczny Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
