<div class="header"><h1 class="slidetitle">Piszcie i prezyntujcie za darmo</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice je to swobodny kōmplet softweru do bjyra, kery mŏ wszystko co
potrzebujecie, coby pisać dokumynty, tabele i prezyntacyje. LibreOffice robi
wszystko, coby prŏcować z inkszymi programami bjyrowymi i używŏ standardu
OpenDocument dlŏ wysokij kōmpatybilności.</p>
</div>

<div class="featured">
<h2 class="subtitle">Softwer we kōmplecie</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
