<div class="header"><h1 class="slidetitle">Anpassa Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntus grundfilosofi är att datorer är till för alla. Med avancerade
hjälpmedelsverktyg och inställningar såsom ditt föredragna färgschema,
textstorlek och språk, så passar Ubuntu för alla. Vem du än är och var du än
befinner dig.</p>
</div>

<div class="featured">
<h2 class="subtitle">Anpassningsalternativ</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Utseende</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Hjälpmedelstekniker</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Språkstöd</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
