<div class="header"><h1 class="slidetitle">Ta din musik med dig</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu levereras med den otroliga musikspelaren Rhythmbox. Med de mest
avancerade uppspelningsfunktionerna och musikaffären Ubuntu One inbyggd så
är det enkelt att lägga din favoritmusik i spellistan. Dessutom fungerar det
perfekt med cd-skivor och bärbara musikspelare, så att du kan njuta av din
musik oavsett var du befinner dig.</p>
</div>

<div class="featured">
<h2 class="subtitle">Inkluderad programvara</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Musikspelaren Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Music Store</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
