<div class="header"><h1 class="slidetitle">Skapa och presentera helt gratis</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice är en kostnadsfri kontorssvit som är fullpackad med allt du
behöver för att skapa imponerande dokument, kalkylblad och
presentationer. LibreOffice gör sitt bästa för att fungera med andra
kontorsprogram och använder OpenDocument-standarder för bästa möjliga
kompatibilitet.</p>
</div>

<div class="featured">
<h2 class="subtitle">Inkluderad programvara</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
