<div class="header"><h1 class="slidetitle">Njut av dina foton</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell är en händig fotohanterare som är redo för dina prylar. Anslut en
kamera eller telefon för att överföra dina foton, sedan är det enkelt att
dela dem och behålla dem säkert. Om du känner dig kreativ så kan du prova
massor av fotoprogram från Programcentral för Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Inkluderad programvara</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Fotohanteraren Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Programvara som stöds</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Bildredigeraren GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Videoredigeraren Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
