<div class="header"><h1 class="slidetitle">ਖੁੱਲ੍ਹ ਕੇ ਲਿਖੋ ਅਤੇ ਪੇਸ਼ ਕਰੋ</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice is a free office suite packed with everything you’ll need to
create impressive documents, spreadsheets, and presentations. LibreOffice
tries its best to work with other office software, and it uses the
OpenDocument standards for far-reaching compatibility.</p>
</div>

<div class="featured">
<h2 class="subtitle">ਮੌਜੂਦਾ ਸਾਫਟਵੇਅਰ</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">ਲਿਬਰੇਆਫਿਸ ਰਾਇਟਰ</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">ਲਿਬਰੇਆਫਿਸ ਕੈਲਸ</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">ਲਿਬਰੇਆਫਿਸ ਇੰਪਰੈਸ</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
