<div class="header"><h1 class="slidetitle">Escriviu i presenteu gratuïtament</h1></div>

<div class="main">

<div class="text">

<div>
<p>El LibreOffice és un paquet ofimàtic lliure amb tot el que necessiteu per
crear documents de qualitat, fulls de càlcul i presentacions. El LibreOffice
intenta fer el possible per funcionar amb altres aplicacions ofimàtiques i
utilitza l'estàndard OpenDocument per obtindre una extensa compatibilitat.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programari inclòs</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
