<div class="header"><h1 class="slidetitle">ئۇبۇنتۇنى ئۆزلەشتۈرۈش</h1></div>

<div class="main">

<div class="text">

<div>
<p>ئۇبۇنتۇنىڭ غايىسى: كومپيۇتېرنى ھەممە ئادەم ئىشلىتەلەيدىغان
بولۇشتۇر. ئۇبۇنتۇنى بارلىق ئىنسانلار ئۈچۈندۇر، ئۇنىڭدىكى ئالىي قوشۇمچە
ئىقتىدار قوراللىرى ۋە باشقا نۇرغۇن تاللانمىلار يەنى رەڭ، تېكىست چوڭلۇقى، تىل
قاتارلىقلارنىڭ ھەممىسى مۇشۇنىڭ ئىسپاتىدۇر. سىز قەيەردە بولسىڭىز ئۇبۇنتۇ سۇ
يەردە.</p>
</div>

<div class="featured">
<h2 class="subtitle">ئۆزلەشتۈرۈش تاللانمىلىرى</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">كۆرۈنۈشى</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">ياردەمچى تېخنىكىلار</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">تىل قوللاش</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
