<div class="header"><h1 class="slidetitle">مۇزىكىلىرىڭىزنى ئۆزىڭىز بىلەن بىرگە ئېلىپ يۈرەلەيسىز</h1></div>

<div class="main">

<div class="text">

<div>
<p>ئۇبۇنتۇغا Rhythmbox مۇزىكا قويغۇسى قوشۇلغان بولۇپ. ئالىي قويۇش تاللانمىسى ۋە
ئۇبۇنتۇ مۇزىكا دۇكىنى ئارقىلىق ناخشىلارنى ئاسانلا قاتارغا تىزالايسىز. CD ۋە
ئېلىپ يۈرگىلى بولىدىغان مۇزىكا قويغۇچلار بىلەنمۇ ياخشى ئىشلەيدىغان بولۇپ،
قەيەردىلا بولماڭ مۇزىكىلىرىڭىزدىن ھۇزۇرلىنالايسىز.</p>
</div>

<div class="featured">
<h2 class="subtitle">ئوز ئىچىگە ئالغان يۇمشاق دېتال</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox نەغمە قويغۇچ</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One مۇزىكا دۇكىنى</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
