<div class="header"><h1 class="slidetitle">يېزىش ۋە دوكلات تەييارلاشمۇ دېتالىمۇ ھەقسىز</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice  بولسا ھەقسىز، يەنە كېلىپ ھەممە نەرسە مۇجەسسەملەنگەن ئىشخانا
ئىشلىرى دېتالىدۇر. ئۇنىڭدىن پايدىلىنىپ پۈتۈكلەرنى، جەدۋەللەرنى، دوكلاتلارنى
ياسىيالايسىز. ئۇ يەنە باشقا ئىشخانا ئىشلىرى دېتاللىرى بىلەنمۇ ناھايىتى ياخشى
ماسلىشىدۇ. ئۇنىڭدا OpenDocument دېگەن ھۆججەت ئۆلچىمى ئىشلىتىلگەن.</p>
</div>

<div class="featured">
<h2 class="subtitle">ئوز ئىچىگە ئالغان يۇمشاق دېتال</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice يازغۇچ</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
