<div class="header"><h1 class="slidetitle">把網路發揮得淋漓盡致</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu 包含 Firefox，這套全世界上百萬人使用的網頁瀏覽器。您還可以將經常使用的網頁應用程式 (像是 Facebook 或 Gmail 等)
釘選在桌面上供您快速存取，宛如您電腦上的程式一般。</p>
</div>

<div class="featured">
<h2 class="subtitle">附帶軟體</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox 網路瀏覽器</p>
	</li>
</ul>
<h2 class="subtitle">支援軟體</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
