<div class="header"><h1 class="slidetitle">讓音樂陪著您上山下海</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu 預裝令人驚嘆的 Rhythmbox 音樂播放器。有了進階播放控制選項，以及內建的 Ubuntu One
音樂商店，要排出完美音樂清單變得簡單不已。此外，Rhythmbox 對於 CD 或者是隨身音樂播放器都能支援良好，因此您可以隨時隨地欣賞您所有的音樂。</p>
</div>

<div class="featured">
<h2 class="subtitle">附帶軟體</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox 音樂播放程式</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One 音樂商店</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
