<div class="header"><h1 class="slidetitle">自由創作並展現</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice 是一套自由的辦公套裝軟體，包含所有您建立令人印象深刻的文件、試算表、簡報時所需要的一切。LibreOffice
努力與其他辦公軟體之間能互通，並且採用 OpenDocument 標準來達到高超的相容性。</p>
</div>

<div class="featured">
<h2 class="subtitle">附帶軟體</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
