<div class="header"><h1 class="slidetitle">管理相片變得趣味十足</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell
是個好用的相片管理程式，已經預備用於您的裝置上。只要將相機或手機連接到電腦，就能傳輸您的相片，接著您還可以輕鬆分享，而這些相片也會安全地保存起來。若您覺得有靈感湧上心頭，您還可以嘗試
Ubuntu 軟體中心提供的多種相片程式。</p>
</div>

<div class="featured">
<h2 class="subtitle">附帶軟體</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell 相片管理程式</p>
	</li>
</ul>
<h2 class="subtitle">支援軟體</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP 影像編輯器</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi 影片編輯器</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
