<div class="header"><h1 class="slidetitle">Personnalisez Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Au cœur de la philosophie Ubuntu se trouve la croyance que l'informatique
doit être accessible à tous. Proposant des outils d'accessibilité et des
options avancées telles que le choix du thème de couleurs, de la taille des
polices et de la langue, Ubuntu est faite pour tout le monde. Qui que vous
soyez, où que vous soyez.</p>
</div>

<div class="featured">
<h2 class="subtitle">Options de personnalisation</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Apparence</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Accessibilité</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Prise en charge des langues</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
