<div class="header"><h1 class="slidetitle">Votre propre espace de stockage en ligne</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a>  met à votre
disposition 5Go d'espace de stockage en ligne gratuit pour accéder à vos
fichiers, partager vos photos et <a
href="https://one.ubuntu.com/services/music/">partager votre musique en
ligne</a> entre vos ordinateurs, tablettes et smartphones. Chaque photo que
vous faites apparaît sur tous vos appareils, à l'instant même où vous la
prenez. Ubuntu One fonctionne sur Ubuntu, Windows, Mac, Android, iOS et sur
le Web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
