<div class="header"><h1 class="slidetitle">Emportez votre musique avec vous</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu est livrée avec l’excellent lecteur de musique Rhythmbox. Grâce à ses
options de lecture avancées et au magasin de musique intégré Ubuntu One,
c'est un jeu d'enfant de préparer la playlist parfaite. De plus, il gère
parfaitement CD et baladeurs numériques, vous pouvez donc profiter de votre
musique partout où vous allez.</p>
</div>

<div class="featured">
<h2 class="subtitle">Logiciels inclus</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Lecteur de musique Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Boutique musicale Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
