<div class="header"><h1 class="slidetitle">Créez vos documents et présentations</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice est une suite bureautique libre livrée avec tout ce dont vous
aurez besoin pour créer des tableaux, présentations et documents
convaincants. LibreOffice fait le maximum pour être compatible avec les
autres logiciels de bureautique, et utilise le standard OpenDocument afin de
garantir une compatibilité à long terme.</p>
</div>

<div class="featured">
<h2 class="subtitle">Logiciels inclus</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
