<div class="header"><h1 class="slidetitle">Profitez pleinement de vos photos</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell est un gestionnaire de photos vraiment très pratique. Connectez un
appareil photo ou un téléphone pour transférer vos photos, les partager, ou
en conserver une copie de secours. Si vous vous sentez l'âme créatrice,
essayez les nombreuses autres applications pour la photo disponibles dans la
Logithèque Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Logiciels inclus</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Gestionnaire de photos Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Logiciels pris en charge</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Éditeur d'images GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Éditeur vidéo Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
