<div class="header"><h1 class="slidetitle">Restez connecté</h1></div>

<div class="main">

<div class="text">

<div>
<p>Le menu de la messagerie vous donne une vue précise des messages entrants
depuis toutes les applications et les réseaux sociaux. Vous pouvez ainsi
voir immédiatement s'il y a quelque chose de nouveau à lire, quelle qu'en
soit la provenance.</p>
</div>

<div class="featured">
<h2 class="subtitle">Services pris en charge</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
