<div class="header"><h1 class="slidetitle">Obtenez encore plus de logiciels</h1></div>

<div class="main">

<div class="text">

<div>
<p>Dites adieu à la recherche de nouveaux logiciels sur le Web. Avec la
Logithèque Ubuntu, vous pouvez trouver et installer facilement de nouvelles
applications. Tapez juste ce que vous cherchez, ou explorez les catégories
telles que Sciences, Éducation et Jeux, avec également des avis très utiles
d'autres utilisateurs.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
