<div class="header"><h1 class="slidetitle">Bienvenue dans Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rapide et pleine de nouvelles fonctionnalités, la dernière version d'Ubuntu
rend l'informatique plus facile que jamais. Voici juste quelques nouveautés
à découvrir…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
