<div class="header"><h1 class="slidetitle">Prispôsobte si Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Jadrom filozofie Ubuntu je viera v to, že práca s počítačom je pre
každého. S pokročilými nástrojmi prístupnosti a voľbami ako napr. vami
preferovaná farebná schéma, veľkosť textu a jazyk je Ubuntu dostupné pre
všetkých. Ktokoľvek ste a kdekoľvek sa nachádzate.</p>
</div>

<div class="featured">
<h2 class="subtitle">Možnosti prispôsobenia</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Vzhľad</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Asistenčné technológie</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Jazyková podpora</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
