<div class="header"><h1 class="slidetitle">Váš osobný cloud</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> vám zadarmo
poskytuje 5 GB voľného miesta v cloudovom úložisku, s ktorého môžete
pristupovať k vašim súborom, zdieľať vaše fotografie a <a
href="https://one.ubuntu.com/services/music/">streamovať vašu hudbu</a> do
vašich počítačov, mobilov a tabletov. Keď urobíte fotografiu, tá sa
automaticky zobrazí na všetkých vašich zariadeniach. Ubuntu One spustíte na
Ubuntu, Windows, Mac, Android, iOS a webe.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
