<div class="header"><h1 class="slidetitle">Zoberte si hudbu so sebou</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu prináša úžasný prehrávač hudby Rhythmbox. S pokročilými možnosťami
prehrávania a zabudovaným hudobným obchodom Ubuntu One je tak jednoduché
zbierať perfektné piesne. A tiež pracuje perfektne s CD a prenosnými
prehrávačmi hudby, takže si môžete zobrať hudbu všade so sebou.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dodávaný softvér</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox - prehrávač hudby</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Obchod s hudbou Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
