<div class="header"><h1 class="slidetitle">Píšte a prezentujte zdarma</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice je slobodný kancelársky balík vybavený všetkým, čo potrebujete
na tvorbu pôsobivých dokumentov, tabuliek a prezentácií. LibreOffice sa
snaží čo najlepšie spolupracovať s ostatnými kancelárskymi balíkmi, a tiež
používa štandard OpenDocument pre rozsiahlu kompatibilitu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dodávaný softvér</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
