<div class="header"><h1 class="slidetitle">Buďte v spojení</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ponuka správ vám umožňuje hneď vidieť nové správy zo všetkých aplikácií a
sociálnych sietí. Takže na prvý pohľad vidíte, či je niečo nové.</p>
</div>

<div class="featured">
<h2 class="subtitle">Podporované služby</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
