<div class="header"><h1 class="slidetitle">Vitajte v Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rýchle a plné nových funkcií. Najnovšia verzia Ubuntu zjednodušuje prácu s
počítačom ako nikdy. Tu je len zopár zaujímavých vecí, ktoré by ste si mali
pozrieť...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
