<div class="header"><h1 class="slidetitle">Personalice Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>En el corazón de la filosofía de Ubuntu está la creencia de que la
computación es para todos. Con funciones avanzadas de accesibilidad como sus
esquemas de colores preferidos, tamaño del texto e idioma, Ubuntu es para
todos. Quienquiera que sea y dondequiera que esté.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opciones de personalización</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Apariencia</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Tecnologías de asistencia</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Soporte de idiomas</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
