<div class="header"><h1 class="slidetitle">Su propia nube personal</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> le da 5GB de
almacenamiento en nube gratuito para acceder a sus archivos, compartir sus
fotos y <a href="https://one.ubuntu.com/services/music/">transmitir su
música</a> a sus equipos, tabletas y smartphones. Cualquier foto que tome
aparece en sus demás dispositivos al instante. Ubuntu One funciona en
Ubuntu, Windows, Mac, Android, iOS y la web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
