<div class="header"><h1 class="slidetitle">Lleve su música con usted</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu incluye el impresionante reproductor de música Rhythmbox. Con
opciones avanzadas de reproducción y la tienda de música de Ubuntu One
integrada, es sencillo hacer listas con sus canciones preferidas. Y funciona
muy bien con reproductores de música portátiles y CD, de manera que puede
disfrutar de su música allí donde vaya.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluido</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Reproductor de música Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Tienda de música de Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
