<div class="header"><h1 class="slidetitle">Escriba y haga presentaciones gratis</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice es un paquete de oficina libre con todo lo que necesita para
crear impresionantes documentos, hojas de cálculo y
presentaciones. LibreOffice hace todo lo posible para funcionar con otras
aplicaciones de oficina y usa el estándar OpenDocument para una
compatibilidad de largo alcance.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluido</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
