<div class="header"><h1 class="slidetitle">Manténgase conectado</h1></div>

<div class="main">

<div class="text">

<div>
<p>El menú de mensajería le permite ver de reojo los mensajes entrantes de
todas las aplicaciones y redes sociales. Así puede ver enseguida cuando hay
algo nuevo que leer, sin importar su procedencia.</p>
</div>

<div class="featured">
<h2 class="subtitle">Servicios compatibles</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
