<div class="header"><h1 class="slidetitle">Encuentre aún más software</h1></div>

<div class="main">

<div class="text">

<div>
<p>Dígale adiós a buscar software nuevo en la web. Con el Centro de software de
Ubuntu, puede encontrar e instalar aplicaciones nuevas fácilmente. Solo
escriba lo que está buscando, o explore categorías como Ciencia, Educación y
Juegos, junto a reseñas útiles de otros usuarios.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
