<div class="header"><h1 class="slidetitle">Bienvenido/a a Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rápido y repleto de características nuevas, la versión más reciente de
Ubuntu hace que la computación sea más fácil que nunca. Echemos un vistazo…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
