<div class="header"><h1 class="slidetitle">Tajlori Ubuntun</h1></div>

<div class="main">

<div class="text">

<div>
<p>La koro de la filozofio de Ubuntu estas, ke komputado estas por ĉiu. Kun
specialaj iloj por alirebleco kaj agordoj kiel via preferata kolorskemo,
tekstgrando, kaj lingvo, Ubuntu estas por ĉiu ajn. Kiu ajn vi estas, kaj kie
ajn vi troviĝas.</p>
</div>

<div class="featured">
<h2 class="subtitle">Tajloraj opcioj</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aspekto</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Helpaj teknologioj</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Lingvosubteno</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
