<div class="header"><h1 class="slidetitle">Portu vian muzikon kun vi</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu enhavas la mirindan muzikludilon Rhythmbox. La ampleksaj reproduktaj
ebloj kaj la kunliverita muzikvendejo de Ubuntu Unu, simplas envicigi la
perfektajn kantojn. Kaj ĝi funkcias bonege per KD-oj kaj porteblaj
muzikludiloj, do vi povos ĝui vian muzikon kie ajn survoje.</p>
</div>

<div class="featured">
<h2 class="subtitle">Inkluzivita programaro</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox Muzikludilo</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Muzikvendejo de Ubuntu Unu</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
