<div class="header"><h1 class="slidetitle">Skribu kaj prezentu libere</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice estas senkosta oficeja programaro plena kun ĉio kion vi bezonas
por krei imponajn dokumentojn, kalkultabelojn kaj prezentaĵojn. LibreOffice
klopodas plej bone funkcii kun aliaj oficejaj programaroj, kaj ĝi uzas la
normon OpenDocument por ampleksa kongrueco.</p>
</div>

<div class="featured">
<h2 class="subtitle">Inkluzivita programaro</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Verkilo</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Kalk</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Prezentilo</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
