<div class="header"><h1 class="slidetitle">Tilpass Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>I hjartet av Ubuntu sin filosofi er tanken om at datamaskiner er for
alle. Med avanserte hjelpeverktøy og innstillingar for farge, tekststorleik
og språk, er Ubuntu for alle. Uansett kven du er og kvar du er.</p>
</div>

<div class="featured">
<h2 class="subtitle">Alternativ for tilpassing</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Utsjånad</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Hjelpeteknologi</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Språkstøtte</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
