<div class="header"><h1 class="slidetitle">Di personlege nettsky</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> gjev deg 5
GiB gratis nettlagring for filer, deling av bilete og <a
href="https://one.ubuntu.com/services/music/">direkteoverføring av
musikk</a> til datamaskiner, nettbrett og mobiltelefonar. Bilete du tek vert
overført til dei andre einingane dine med éin gong. Ubuntu One støttar
Ubuntu, Windows, Mac, Android, iOS og internett.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
