<div class="header"><h1 class="slidetitle">Ta musikken med deg</h1></div>

<div class="main">

<div class="text">

<div>
<p>Med Ubuntu følgjer den imponerande musikkspelaren Rhythmbox. Med avanserte
avspelingsalternativ og musikkbutikken Ubuntu One innebygd, er det enkelt å
laga den perfekte spelelista. Den fungerer òg utmerka med CD-ar og berbare
musikkspelarar, slik at du kan lytte til musikken din uansett kvar du er.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgjande programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Musikkspelaren Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One musikkbutikk</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
