<div class="header"><h1 class="slidetitle">Skriv og presenter gratis</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice er ein gratis kontorpakke med alt du treng for å laga
imponerande dokument, rekneark og presentasjonar. LibreOffice gjer sitt
beste for å arbeida saman med anna kontorprogramvare, og brukar
OpenDocument-formatet for vidstrekt kompabilitet.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgjande programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
