<div class="header"><h1 class="slidetitle">Personalitzeu l'Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>La convicció que tothom hauria de poder utilitzar un ordinador és el punt
central de la filosofia de l'Ubuntu. Eines avançades d'accessibilitat i un
gran nombre d'opcions com ara tipus de lletra, esquemes de colors i
llengües, fan de l'Ubuntu un sistema operatiu universal, sigueu qui sigueu i
sigueu on sigueu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opcions de personalització</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aparença</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Tecnologies assistives</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Suport de llengua</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
