<div class="header"><h1 class="slidetitle">El vostre núvol personal</h1></div>

<div class="main">

<div class="text">

<div>
<p>L'<a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> us dóna 5GB
d'emmagatzematge gratuït al núvol personal per accedir als vostres fitxers,
compartir les vostres fotografies i <a
href="https://one.ubuntu.com/services/music/">escoltar la vostra música en
flux</a> als vostres ordinadors, tauletes i mòbils. Qualsevol fotografia
apareix a tots els vostres dispositius en el moment que la feu. L'Ubuntu One
funciona a l'Ubuntu al Windows, al Mac, a l'Android, l'iOS i a la web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
