<div class="header"><h1 class="slidetitle">Porteu la vostra música sempre a sobre</h1></div>

<div class="main">

<div class="text">

<div>
<p>L'Ubuntu incorpora l'increïble reproductor de música Rhythmbox. Amb opcions
de reproducció avançades i la botiga de música integrada de l'Ubuntu One, fa
molt senzill crear llistes de reproducció amb les vostres cançons
preferides. També funciona molt bé amb els CD i reproductors de música
portàtils, perquè pugueu gaudir de tota la vostra música allà on aneu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programari inclòs</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Reproductor de música Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Botiga de música de l'Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
