<div class="header"><h1 class="slidetitle">Mantingueu-vos connectat</h1></div>

<div class="main">

<div class="text">

<div>
<p>El menú de missatgeria proporciona una vista d'ocell dels missatges
provinents de totes les aplicacions i xarxes socials. Així podeu veure d'un
cop d'ull el que hi ha de nou per llegir, independentment de com arribi.</p>
</div>

<div class="featured">
<h2 class="subtitle">Serveis compatibles</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
