<div class="header"><h1 class="slidetitle">Us donem la benvinguda a l'Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Ràpida i plena de funcions noves, la darrera versió de l'Ubuntu fa que
utilitzar l'ordinador sigui més fàcil que mai. Aquí teniu una mostra de les
novetats més interessants...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
