<div class="header"><h1 class="slidetitle">Налаштуйте Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>В основі філософії Ubuntu є віра в те, що комп’ютер — це інструмент для
кожного. Завдяки вдосконаленим спеціальним можливостям, таким, як схема
кольорів, розмір шрифту і мова, Ubuntu підійде для всіх, незалежно від того,
хто ви є і де знаходитесь.</p>
</div>

<div class="featured">
<h2 class="subtitle">Доступність налаштування</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Зовнішній вигляд</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Допоміжні технології</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Мовна підтримка</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
