<div class="header"><h1 class="slidetitle">Візьміть вашу музику з собою</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu поставляється з неперевершеним музичним програвачем Rhythmbox. З
розширеними можливостями відтворення і вбудовною крамницею Ubuntu One Music
Store, у ньому дуже просто додавати в чергу улюблені пісні. Він також чудово
працює з CD-плеєрами та портативними музичними плеєрами, так що ви можете
насолоджуватись вашою музикою, де б ви не знаходились.</p>
</div>

<div class="featured">
<h2 class="subtitle">Включене програмне забезпечення</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Музичний програвач Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Музична крамниця Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
