<div class="header"><h1 class="slidetitle">Пишіть та презентуйте безкоштовно</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice — це безкоштовний офісний пакет з усім тим, що Ви потребуєте для
створення вражаючих документів, таблиць та презентацій. LibreOffice
намагається якнайкраще працювати з іншим офісними програмами, і він
використовує стандарти OpenDocument для найкращої сумісності.</p>
</div>

<div class="featured">
<h2 class="subtitle">Включене програмне забезпечення</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
