<div class="header"><h1 class="slidetitle">Насолоджуйтесь своїми фотографіями</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell — це зручний фото-менеджер, що готовий для вашого
обладнання. Підключіть камеру чи телефон щоб перемістити Ваші фото, а потім
легко ділитися та зберігати їх. Якщо ви творчий, Ви можете спробувати велику
кількість фото-менеджерів з Центру програмного забезпечення Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Включене програмне забезпечення</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Менеджер фотографій Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Підтримуване програмне забезпечення</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Графічний редактор GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Відеоредактор Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
