<div class="header"><h1 class="slidetitle">કસ્ટમાઇઝ ઉબુન્ટુ</h1></div>

<div class="main">

<div class="text">

<div>
<p>At the heart of Ubuntu’s philosophy is a belief that computing is for
everyone. With advanced accessibility tools and options like your preferred
color scheme, text size, and language, Ubuntu is for anyone. Whoever you
are, and wherever you are.</p>
</div>

<div class="featured">
<h2 class="subtitle">વૈવિધ્યપણું વિકલ્પો</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">દેખાવ</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">સહાયક તકનીકો</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">ભાષા આધાર</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
