<div class="header"><h1 class="slidetitle">Prilagodite Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>V srcu mišljenja Ubuntu je prepričanje, da je računalništvo za vse. Z
naprednimi orodji dostopnosti in možnostmi, kot so prednostna barvna shema,
velikost besedila in jezika, je Ubuntu pripravljen za vse. Kdorkoli ste in
kjerkoli ste.</p>
</div>

<div class="featured">
<h2 class="subtitle">Možnosti prilagajanja</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Videz</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Pomožne tehnologije</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Jezikovna podpora</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
