<div class="header"><h1 class="slidetitle">Vaš osebni oblak</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> vam nudi 5 GB
brezplačne shrambe v oblaku za dostop do vaših datotek, souporabe vaših slik
in <a href="https://one.ubuntu.com/services/music/">pretoka vaše glasbe</a>
med vašimi računalniki, tabličnimi računalniki in pametnimi telefoni. Vsaka
slika, ki jo posnamete, se pojavi na vseh vaših napravah in to v trenutku,
ko jo posnamete. Ubuntu One deluje na sistemih Ubuntu, Mac, Android, iOS in
na spletu.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
