<div class="header"><h1 class="slidetitle">Vzemite glasbo s seboj</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu vsebuje osupljiv predvajalnik glasbe Rhythmbox. Z naprednimi
možnostmi predvajanja in vgrajeno glasbeno trgovino Ubuntu One je enostavno
poslušati dovršeno glasbo. Odlično deluje s CD-ji in prenosnimi
predvajalniki glasbe, zato lahko v svoji glasbi uživate, kamorkoli greste.</p>
</div>

<div class="featured">
<h2 class="subtitle">Priloženi programi</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Predvajalnik glasbe Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Glasbena trgovina Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
