<div class="header"><h1 class="slidetitle">Pišite in predstavljajte brezplačno</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice je prosta pisarniška zbirka z vsem, kar potrebujete za
ustvarjanje dokumentov, preglednic in predstavitev, ki napravijo dober
vtis. LibreOffice poskuša delovati z drugimi pisarniškimi programi in za
daljnosežno združljivost uporablja standarde OpenDocument.</p>
</div>

<div class="featured">
<h2 class="subtitle">Priloženi programi</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
