<div class="header"><h1 class="slidetitle">Ostanite povezani</h1></div>

<div class="main">

<div class="text">

<div>
<p>Meni sporočanja vam nudi točen pregled nad vhodnimi sporočili iz vseh
programov in družabnih omrežij. Tako lahko takoj vidite, če je kaj novega,
ne glede kako je  prispelo.</p>
</div>

<div class="featured">
<h2 class="subtitle">Podprte storitve</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
