<div class="header"><h1 class="slidetitle">Dobrodošli v Ubuntuju 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Hitra in polna novih zmožnosti, zadnja različica Ubuntuja naredi lažje delo
z računalnikom kot kdajkoli prej. Tu je samo nekaj odličnih novih stvari,
katere vam predstavljamo ...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
