<div class="header"><h1 class="slidetitle">Прилагодите Убунту</h1></div>

<div class="main">

<div class="text">

<div>
<p>У срцу Убунту филозофије је уверење да је рачунарство за свакога. Са
напредним алатима приступачности и опцијама као што су ваше жељене шеме
боја, величина текста и језици, Убунту је за свакога. Било ко да сте, и било
где да сте.</p>
</div>

<div class="featured">
<h2 class="subtitle">Опције прилагођавања</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Изглед</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Технологије за испомоћ</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Језичка подршка</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
