<div class="header"><h1 class="slidetitle">Понесите вашу музику са собом</h1></div>

<div class="main">

<div class="text">

<div>
<p>Убунту долази са невероватном Ритам машином музичким програмом. Уз напредне
опције репродукције и уграђеном Убунту један музичком продавницом, врло је
једноставно поређати савршене песме. И то одлично функционише са ЦД и
преносивим музичким уређајима, тако да можете уживати у свој вашој музици
где год да се налазите.</p>
</div>

<div class="featured">
<h2 class="subtitle">Укључени програми</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Ритам машина музички програм</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Убунту један музичка радња</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
