<div class="header"><h1 class="slidetitle">Пишите и презентујте бесплатно</h1></div>

<div class="main">

<div class="text">

<div>
<p>Либре Офисе је слободан канцеларијски пакет који садржи све што вам је
потребно да направите импресивне документе, унакрсне табеле и
презентације. Либре Офис даје све од себе да би радио са другим
канцеларијским програмима, и користи ОДФ стандард за далекосежну
подударност.</p>
</div>

<div class="featured">
<h2 class="subtitle">Укључени програми</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">Либреофис писац</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">Либреофис рачун</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">Либреофис презентација</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
