<div class="header"><h1 class="slidetitle">Забавите се уз ваше фотографије</h1></div>

<div class="main">

<div class="text">

<div>
<p>Фото-бунар је згодан управник фотографија који је спреман за ваше
справице. Повежите фотоапарат или телефон да пренесете ваше фотографије,
затим ће бити лако да их делите и да их држите на сигурном. Ако сте
креативни, можете пробати многе друге програме намењене фотографијама из
Убунтуовог софтверског центра.</p>
</div>

<div class="featured">
<h2 class="subtitle">Укључени програми</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Фото-бунар организовање слика</p>
	</li>
</ul>
<h2 class="subtitle">Подржани програми</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Гимп програм за обраду слика</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Питиви видео уредник</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
