<div class="header"><h1 class="slidetitle">התאמת אובונטו לטעמך</h1></div>

<div class="main">

<div class="text">

<div>
<p>בלב הפילוסופיה הניצבת מאחורי אובונטו עומדת האמונה כי מחשוב מיועד
לכולם. באמצעות כלי נגישות ואפשרויות כגון: ערכת צבע מועדפת, גודל גופן ושפה,
אובונטו מיועדת לכולם. ואין זה משנה מי אתם והיכן אתם נמצאים.</p>
</div>

<div class="featured">
<h2 class="subtitle">אפשרויות ההתאמה האישית</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">מראה</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">טכנולוגיות מסייעות</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">תמיכה בשפות</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
