<div class="header"><h1 class="slidetitle">העננה האישית שלך</h1></div>

<div class="main">

<div class="text">

<div>
<p>השירות <a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> מעניק
לך 5 ג״ב של אחסון בענן בחינם כדי לגשת לקבצים שלך, לשתף את התמונות שלך ו<a
href="https://one.ubuntu.com/services/music/">להזרים את המוזיקה שלך</a>
למחשבים, לסמארטפונים ולטאבלטים שלך. כל תמונה שתצולם על ידיך תופיע אוטומטית
בכל המכשירים שלך, מיד ברגע הצילום. Ubuntu One פועל על אובונטו, Windows,‏ Mac
אנדרויד ובאמצעות הדפדפן.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
