<div class="header"><h1 class="slidetitle">לקחת את המוזיקה שלך אתך</h1></div>

<div class="main">

<div class="text">

<div>
<p>באובונטו ישנו גם את נגן המוזיקה Rhythmbox. הנגן מתפאר ביכולות נגינה מתקדמות
ותמיכה מובנית בחנות המוזיקה Ubuntu One, כך שפשוט מאוד להכין רשימת השמעה של
השירים האהובים עליך. הנגן עובד גם מצוין עם תקליטורים ונגני מוזיקה ניידים כך
ששמורה לך האפשרות ליהנות מכל המוזיקה שלך בכל מקום.</p>
</div>

<div class="featured">
<h2 class="subtitle">תוכנות בהפצה</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">נגן המוזיקה Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">חנות המוזיקה של Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
