<div class="header"><h1 class="slidetitle">לכתוב ולהציג בחופשיות</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice הנה חבילת יישומים משרדיים העמוסה בכל מה שדרוש ליצירת מסמכים,
גיליונות אלקטרוניים ומצגות מרשימים. LibreOffice‫ מנסה כלל הניתן לעבוד עם
יישומים משרדיים אחרים ומשתמש בתקני OpenDocument כדי להשיג תאימות מרחיקת לכת.</p>
</div>

<div class="featured">
<h2 class="subtitle">תוכנות בהפצה</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
