<div class="header"><h1 class="slidetitle">הנאה צרופה מהתמונות שלך</h1></div>

<div class="main">

<div class="text">

<div>
<p>‫Shotwell הוא מנהל תמונות יעיל המוכן להתמנשקות מול כל החידושים הטכנולוגיים
שברשותך. ניתן לחבר מצלמה או טלפון כדי להעביר את התמונות שלך, ומשם קל ופשוט
לשתף אותן ולשמור עליהן במקום בטוח. אם נופלת עליך המוזה, ניתן להתנסות במגוון
רחב של יישומי תמונות דרך מרכז התכנה של אובונטו.</p>
</div>

<div class="featured">
<h2 class="subtitle">תוכנות בהפצה</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">מנהל התמונות Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">תוכנות נתמכות</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">עורך התמונות GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">עורך הווידאו Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
