<div class="header"><h1 class="slidetitle">הישארו מחוברים</h1></div>

<div class="main">

<div class="text">

<div>
<p>תפריט ההודעות מעניק לך סקירה מגבוה על הודעות נכנסות מכל היישומים והרשתות
החברתיות. כדי שניתן יהיה לראות על המקום כאשר יש משהו חדש לקרוא, ללא תלות
באופן הגעתו.</p>
</div>

<div class="featured">
<h2 class="subtitle">שרותים נתמכים</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
