<div class="header"><h1 class="slidetitle">מציאת תוכנות נוספות</h1></div>

<div class="main">

<div class="text">

<div>
<p>אפשר כבר לומר שלום לחיפוש תכניות חדשות באינטרנט. עם מרכז התכנה של אובונטו
ניתן לחפש ולהתקין ישומים חדשה בקלי קלות. עליך פשוט להקליד את מבוקשך או לסייר
בין הקטגוריות הכוללות מדע, חינוך ומשחקים לצד סקירות מועילות ממשתמשים אחרים.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
