<div class="header"><h1 class="slidetitle">ברוך בואך לאובונטו 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>מהירות ותכונות חדשות רבות, הגרסה העדכנית ביותר של אובונטו הופכת את השימוש
במחשב לפשוט מתמיד. להלן רק מספר מצומצם של דברים מגניבים וחדשים שכדאי לצפות
להם…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
