<div class="header"><h1 class="slidetitle">ఉబుంటూను మలచుకోండి</h1></div>

<div class="main">

<div class="text">

<div>
<p>సంగణన ప్రక్రియ అందరికీ అందుబాటులో ఉండాలనేదే ఉబుంటు ప్రాధమిక తత్వం. అందుబాటు
ఉపకరణాలు మరియు ఇష్టమైన రంగుల విధానం, పాఠ్యం పరిమాణం, భాష ఎంపికతో ఉబుంటు
ఎవరికైనా ఎక్కడవున్నవారికైనా అందరికోసం చేయబడింది.</p>
</div>

<div class="featured">
<h2 class="subtitle">మలచుటకు ఎంపికలు</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">కనిపించువిధం</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">తోడ్పాటు సాంకేతికాలు</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">భాష తోడ్పాటు</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
