<div class="header"><h1 class="slidetitle">మీ సంగీతం మీతో పాటే తీసుకెళ్లండి</h1></div>

<div class="main">

<div class="text">

<div>
<p>ఉబుంటులో అద్బుతమైన రిథమ్‌బాక్స్ సంగీత ప్రదర్శకంతో వస్తుంది. ఉన్నతమైన
ప్లేబ్యాక్ ఐచ్ఛికాలు మరియు ఉబుంటు వన్ సంగీత దుఖాణం అంతర్నిర్మితమైనందు వల్ల,
మంచి పాటలను సులభంగా వరుసలో చేర్చవచ్చు. రిథమ్‌బాక్స్ సీడీలు మరియు పోర్టబుల్
మ్యూజిక్ ప్లేయర్లతోను బాగా పనిచేస్తుంది, అందువలన మీరు ఎక్కడికి వెళ్ళినా మీ
సంగీతాన్ని ఆస్వాదించవచ్చు.</p>
</div>

<div class="featured">
<h2 class="subtitle">జతగావున్న సాఫ్ట్‍వేర్</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">రిథమ్‌బాక్స్ సంగీత ప్రదర్శకం</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">ఉబుంటు ఒన్ సంగీత దుకాణం</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
