<div class="header"><h1 class="slidetitle">స్వేచ్ఛగా వ్రాయండి మరియు సమర్పించండి</h1></div>

<div class="main">

<div class="text">

<div>
<p>లిబ్రేఆఫీసు అనేది మీరు సృష్టించాల్సిన పత్రాలను, స్ప్రెడ్‌షీట్లను మరియు
సమర్పణలను తయారుచేయుటకు ప్యాక్‌ చేయబడిన స్వేచ్ఛా కార్యాలయ
పరిజనము. లిబ్రేఆఫీసు ఇతర కార్యాలయ సాఫ్ట్‍వేరుతో ఉత్తమంగా పనిచేయుటకు శక్తి
మేర ప్రయత్నిస్తున్నది మరియు ఇది ఎంతో అనుకూలత ఉన్న ఒపెన్‌డాక్యుమెంట్
ప్రమాణాలను వినియోగిస్తున్నది.</p>
</div>

<div class="featured">
<h2 class="subtitle">జతగావున్న సాఫ్ట్‍వేర్</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">లిబ్రెఆఫీస్ రైటర్</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">లిబ్రెఆఫీస్ కేల్క్</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">లిబ్రెఆఫీస్ ఇంప్రెస్</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
