<div class="header"><h1 class="slidetitle">自訂 Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu 的中心思想是相信每個人都能使用電腦。有了進階的無障礙輔助工具和選項，像是偏好的色彩方案、文字大小、語言等，Ubuntu
讓每個人都能使用。不管您的身分，或是您的所在地區為何都一樣。</p>
</div>

<div class="featured">
<h2 class="subtitle">自訂選項</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">外觀</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">輔助科技</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">語言支援</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
