<div class="header"><h1 class="slidetitle">您的個人雲</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> 提供您 5GB
的免費雲端儲存空間，您可以藉此存取您的檔案、分享您的相片、<a
href="https://one.ubuntu.com/services/music/">讓您的音樂串流</a>至電腦、平板，甚至是智慧型手機上。您所擺放的任何相片都會即刻同步出現在您的裝置上。Ubuntu
One 可以在 Ubuntu、Windows、Mac、Android、iOS、網頁等平臺上執行。</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
