<div class="header"><h1 class="slidetitle">Tilpass Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>En sentral tanke bak Ubuntu er at datamaskiner er til for alle. Med
avanserte verktøy for tilgjengelighet og valgmuligheter for farger,
tekststørrelse og språk, kan Ubuntu tilpasses din bruk, uansett hvem eller
hvor du er.</p>
</div>

<div class="featured">
<h2 class="subtitle">Tilpasningsalternativer</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Utseende</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Hjelpeteknologier</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Språkstøtte</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
