<div class="header"><h1 class="slidetitle">Få mest mulig ut av nettet</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu kommer med Firefox, en nettleser som brukes av millioner av
mennesker. Dessuten kan nettapplikasjoner som du bruker ofte (for eksempel
Facebook eller Gmail), låses til skrivebordet for rask tilgang, akkurat som
programmene på datamaskinen.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgende programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox nettleser</p>
	</li>
</ul>
<h2 class="subtitle">Støttet programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
