<div class="header"><h1 class="slidetitle">Noen spørsmål?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Ta en titt på <a href="http://askubuntu.com/">askubuntu.com</a> viss du har
spørsmål om Ubuntu. Sannsynligvis har svaret ditt allerede blitt besvart, og
viss ikke er tusenvis av frivillige klare til å hjelpe deg. Gå til <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a> for mer støtte.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">La oss snakke Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Jeg installerer #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
