<div class="header"><h1 class="slidetitle">Din personlige nettsky</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> gir deg 5 GB
gratis skylagring for å få tilgang til filer, dele bilder og <a
href="https://one.ubuntu.com/services/music/">direkteoverføre musikk</a> til
datamaskiner, nettbrett og smarttelefoner. Bilder du tar, dukker automatisk
opp på alle enhetene dine i samme øyeblikk som du tar dem. Ubuntu One
fungerer i Ubuntu, Windows, Mac OS X, Android, iOS og på Internett.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
