<div class="header"><h1 class="slidetitle">Ta musikken med deg</h1></div>

<div class="main">

<div class="text">

<div>
<p>Med Ubuntu følger den imponerende musikkspilleren Rythmbox. Med avanserte
avspillingsalternativer og musikkbutikken Ubuntu One bygget inn er det
enkelt å lage den perfekte spillelisten. Den virker også utmerket med CD-er
og bærbare musikkspillere, så du kan nyte musikken din hvor enn du går.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgende programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox musikkavspiller</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Musikkbutikk</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
