<div class="header"><h1 class="slidetitle">Skriv og fremfør gratis</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice er en gratis pakke med programmer med alt du trenger for å lage
flotte dokumenter, regneark og presentasjoner. LibreOffice er kompatibel med
de fleste tilsvarende kontorprogrampakker, og bruker også
OpenDocument-standarder.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgende programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
