<div class="header"><h1 class="slidetitle">Ha det gøy med bildene dine</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell er en praktisk bildebehandler med støtte for de fleste dingser og
apparater. Koble til et kamera eller en telefon for å overføre bildene dine,
og det er enkelt å dele og lagre dem. Er du i det kreative hjørnet finner du
mange bildebehandlingsprogrammer i Ubuntu programvaresenter.</p>
</div>

<div class="featured">
<h2 class="subtitle">Medfølgende programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell fotobehandler</p>
	</li>
</ul>
<h2 class="subtitle">Støttet programvare</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP bildebehandler</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi videoredigering</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
