<div class="header"><h1 class="slidetitle">Vær tilkoblet</h1></div>

<div class="main">

<div class="text">

<div>
<p>Meldingsmenyen gir deg et overblikk over innkommende meldinger fra alle
programmer og sosiale nettverk. Dermed kan du umiddelbart se når det er noe
nytt å lese, uansett hvor det er.</p>
</div>

<div class="featured">
<h2 class="subtitle">Støttede tjenester</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
