<div class="header"><h1 class="slidetitle">Finn enda mer programvare</h1></div>

<div class="main">

<div class="text">

<div>
<p>Si farvel til å søke på nettet etter ny programvare. Med Ubuntu
programvaresenter kan du med letthet finne og installere nye
programmer. Bare skriv inn hva du ser etter, eller utforsk kategorier som
vitenskap, utdanning og spill, sammen med andre brukeres vurderinger.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
