<div class="header"><h1 class="slidetitle">Velkommen til Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Den nyeste versjonen av Ubuntu er rask og full av funksjoner, og den gjør
databruk enklere enn noen gang. Her er er bare noen av de stilige, nye
tingene å se etter …</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
