<div class="header"><h1 class="slidetitle">Ubuntu қалыпқа келтіріңіз</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu философия жүрегінде, әрбір адамның өмірлік жағдайларына, физикалық
шектеулеріне қарамастан, компьютерді қолдану мүмкіндігіне ие болу сенімі
бар. Мүмкіншілігі шектелген адамдар үшін қосымша құралдар және түстер
схемалары, қаріптер көлемі мен тілдермен байланысты көптеген баптаулар
көмегімен, Ubuntu қандай адам болмасын қолдана алады.</p>
</div>

<div class="featured">
<h2 class="subtitle">Жекешелендіру, қалыпқа келтіру мүмкіншіліктері</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Сырт көрініс</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Арнайы мүмкіншіліктер</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Тілдік қолдау</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
