<div class="header"><h1 class="slidetitle">Өлеңдеріңізді өзіңізбен алыңыз</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu тамаша Rhythmbox аудио плеерімен бірге келеді. Қосымша ойнату
баптаулары мен Ubuntu One өлеңдер сақтау орны, өлеңдер топтамасын оңай
ұйымдастыру сияқты мүмкіншіліктері бар. CD мен портативті плеерлерімен
керемет жұмыс істеп, сіздің қайда бармасаңыз да өлеңдерді тыңдап
рахаттануыңызға болады.</p>
</div>

<div class="featured">
<h2 class="subtitle">Алдын-ала орнатылған бағдарламалар</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox аудио плеер</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One өлеңдер сақтау орны</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
