<div class="header"><h1 class="slidetitle">Құжаттар мен көрсетілімдерді тегін құрыңыз</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice офистік пакеті – күрделі құжаттарды, электрондық кестелерді және
көрсетілімдерді құруға мүмкіндік беретін тегін және бос офистік
пакет. LibreOffice үйлесімділікті жоғарылату үшін OpenDocument стандарттарын
қолдана отырып, офистік бағдарламалармен жұмыс істеуіне аса мән береді.</p>
</div>

<div class="featured">
<h2 class="subtitle">Алдын-ала орнатылған бағдарламалар</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
