<div class="header"><h1 class="slidetitle">ប្តូរអ៊ូប៊ុនទូតាមបំណង</h1></div>

<div class="main">

<div class="text">

<div>
<p>ស្ថិត​ក្នុង​​ទស្សនៈ​របស់​អ៊ូប៊ុនទូ​គឺ​ជឿជាក់​ថា
កុំព្យូទ័រ​សម្រាប់​អ្នក​រាល់​គ្នា ។
ជា​មួយ​នឹង​ឧបករណ៍​ចូល​ដំណើរការ​កម្រិត​ខ្ពស់
និង​ជម្រើស​ផ្សេងៗ​ដូច​ដែល​អ្នក​ពេញ​ចិត្តមាន គ្រោង​ពណ៌ ទំហំ​អត្ថបទ និង​ភាសា
អ៊ូប៊ុនទូ​សម្រាប់​អ្នក​រាល់​គ្នា ។ ទោះ​បី​អ្នក​ជា​អ្នកណា​ក៏​ដោយ
នៅ​ទី​ណា​ក៏​ដោយ ។</p>
</div>

<div class="featured">
<h2 class="subtitle">ការប្តូរជម្រើសតាមបំណង</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">រូបរាង</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">បច្ចេកវិទ្យាជំនួយ</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">គំទ្រភាសារ</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
