<div class="header"><h1 class="slidetitle">Make the most of the web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu includes Firefox, the web browser used by millions of people around
the world. And web applications you use frequently (like Facebook or Gmail,
for example) can be pinned to your desktop for faster access, just like apps
on your computer.</p>
</div>

<div class="featured">
<h2 class="subtitle">ផ្នែកទន់មនជាមួយ</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">កម្មវិធី​រុករក​បណ្ដាញ Firefox</p>
	</li>
</ul>
<h2 class="subtitle">បានគាំទ្រផ្នែកទន់</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">ជះពន្លឺ</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">ក្រូម</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
