<div class="header"><h1 class="slidetitle">យក​តន្ត្រី​របស់​អ្នក​តាម​ខ្លួន</h1></div>

<div class="main">

<div class="text">

<div>
<p>អ៊ូប៊ុន​ទូ​​មាន​កម្មវិធី​ចាក់​តន្ត្រី​ Rhythmbox ដ៏​អស្ចារ្យ ។
ជា​មួយ​នឹង​ជម្រើស​ចាក់​ឡើងវិញ​កម្រិត​ខ្ពស់ ហើយ​​ហាង​តន្ត្រី​របស់ Ubuntu One
ដែល​មាន​ស្រាប់ វា​ងាយសម្រួល​ដាក់​បទ​ចម្រៀង​ដែល​ពេញ​និយម ។
ហើយ​វា​ដំណើរការ​ល្អ​បំផុត​ជា​មួយ​ស៊ីឌី និង​កម្មវិធី​ចាក់​តន្ត្រី​ចល័ត
ដូច្នេះ​អ្នក​អាច​រីករាយ​ជា​មួយ​តន្ត្រី​របស់​អ្នក​គ្រប់​ទី​កន្លែង ។</p>
</div>

<div class="featured">
<h2 class="subtitle">ផ្នែកទន់មនជាមួយ</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">ឧបករណ៍ចាក់ចំរៀង Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">ហានលក់ដូរ Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
