<div class="header"><h1 class="slidetitle">សរសេរ និង​បង្ហាញ​ដោយ​ឥត​គិត​ថ្លៃ</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice
គឺ​ជា​ឈុត​កម្មវិធីការិយាល័យ​ឥត​គិត​ថ្លៃ​ដែល​មាន​អ្វី​គ្រប់យ៉ាង​​តាមដែល​អ្នក​ត្រូវ​ការ
ដើម្បី​បង្កើត​ឯកសារ សៀវភៅ​បញ្ជី ការ​បង្ហាញ​​ដែល​គួរ​ឲ្យ​ទាក់ទាញ ។
LibreOffice ព្យាយាម​អស់​ពី​សមត្ថភាព
ដើម្បី​ធ្វើ​ការ​ជា​មួយ​នឹង​កម្មវិធី​ការិយាល័យ​ផ្សេងៗ​ទៀត
ហើយ​វា​ប្រើ​ស្តង់ដារ OpenDocument សម្រាប់​ភាព​ឆប​គ្នា ។</p>
</div>

<div class="featured">
<h2 class="subtitle">ផ្នែកទន់មនជាមួយ</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
