<div class="header"><h1 class="slidetitle">Personalizar Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>No corazón da filosofía de Ubuntu está a crenza de que a computación é para
todos. Con ferramentas avanzadas de accesibilidade como os seus esquemas de
cores preferidos, tamaño do texto e idioma, Ubuntu é para todos. Quen queira
que sexa, e onde queira que estea.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opcións de personalización</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Aparencia</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Tecnoloxías de asistencia</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Configuración do idioma</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
