<div class="header"><h1 class="slidetitle">Saque o máximo partido da web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu inclúe Firefox, o navegador web usado por millóns de persoas ao redor
do mundo. E os aplicativos web que usa frecuentemente (como Facebook ou
Gmail, por exemplo) poden ancorarse no seu escritorio para un acceso rápido,
ao igual que os aplicativos no seu computador.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluído</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Navegador web Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Software compatíbel</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
