<div class="header"><h1 class="slidetitle">Algunha pregunta?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Visite <a href="http://askubuntu.com/">askubuntu.com</a> para obter
respostas ás súas preguntas sobre Ubuntu. É moi probábel que a súa pregunta
xa fora respondida e, se non, atopará milleiros de voluntarios dispostos a
axudarlle. Para obter máis opcións de asistencia, vaia a <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Falemos de Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Estou instalando #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
