<div class="header"><h1 class="slidetitle">A súa propia «nube» persoal</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> dálle 5GB de
almacenamento na nube de balde para acceder aos seus ficheiros, compartir as
súas fotos e <a href="https://one.ubuntu.com/services/music/">transmitir a
súa música</a> aos seus computadores, tabletas e smartphones. Calquera foto
que tome aparece nos seus outros dispositivos ao instante. Ubuntu One
funciona en Ubuntu, Windows, Mac, Android, iOS e a web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
