<div class="header"><h1 class="slidetitle">Leve a súa música con vostede</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu inclúe o impresionante reprodutor de música Rhythmbox. Con opcións
avanzadas de reprodución e a tenda de música de Ubuntu One integrada, é
doado facer listas coas súas cancións preferidas. E funciona moi ben con
reprodutores de música portátiles e CD, de maneira que pode gozar da súa
música alí onde vaia.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluído</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Reprodutor de música Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Tenda de música de Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
