<div class="header"><h1 class="slidetitle">Escriba e faga presentacións de balde</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice é un paquete de oficina libre con todo o que precisa para crear
impresionantes documentos, follas de cálculo e presentacións. LibreOffice
fai todo o posíbel para funcionar con outros aplicativos de oficina, e usa o
estándar OpenDocument para unha compatibilidade de largo alcance.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluído</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">O Writer do LibreOffice</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">O Calc do LibreOffice</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">O Impress do LibreOffice</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
