<div class="header"><h1 class="slidetitle">Goce coas súas fotos</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell é un práctico xestor de imaxes que está listo para os seus
trebellos. Conecte unha cámara ou un teléfono para transferir as súas fotos,
é moi doado compartilas e mantelas seguras. Se se sente creativo, pode
probar moitos aplicativos de retoque fotográfico no Centro de software de
Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Software incluído</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Xestor de fotos Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Software compatíbel</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Editor de imaxes GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Editor de vídeo PiTiVi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
