<div class="header"><h1 class="slidetitle">Mantéñase conectado</h1></div>

<div class="main">

<div class="text">

<div>
<p>O menú de mensaxaría permítelle botar unha ollada aos mensaxes entrantes de
todos os aplicativos e redes sociais. Así pode ver moi rápido cando hai algo
novo que ler, sen importar a súa procedencia.</p>
</div>

<div class="featured">
<h2 class="subtitle">Servizos compatíbeis</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
