<div class="header"><h1 class="slidetitle">Atope aínda máis software</h1></div>

<div class="main">

<div class="text">

<div>
<p>Dígalle adeus a buscar software novo no web. Co Centro de software de
Ubuntu, pode atopar e instalar aplicativos novos de forma doada. Só escriba
o que está buscando, ou explore categorías como Ciencia, Educación e Xogos,
xunto con reseñas útiles doutros usuarios.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
