<div class="header"><h1 class="slidetitle">Benvido a Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Rápido e repleto de características novas, a versión máis recente de UBuntu
fai que a computación sexa máis doada que nunca. Votemos unha ollada…</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
