<div class="header"><h1 class="slidetitle">Përshtat Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Në zemër të filozofisë së Ubuntu është besimi se kompjuteri është për
gjithkënd. Me mjete të avancuara të hyrjes dhe me opsione si skema juaj e
preferuar e ngjyrave, përmasa e tekstit dhe gjuha, Ubuntu është për
gjithkënd. Kushdo që jeni dhe kudo që jeni.</p>
</div>

<div class="featured">
<h2 class="subtitle">Opsionet e Përshtatjes</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Paraqitja</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Teknologjitë ndihmëse</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Mbështetja gjuhësore</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
