<div class="header"><h1 class="slidetitle">Merre muzikën tënde me vete</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu vjen me luajtësin e mrekullueshëm të muzikës Rhythmbox. Me opsione të
avancuara për luajtjen dhe me dyqanin e muzikës Ubuntu One të ndërtuar
brenda vetes, është e thjeshtë që të gjeni këngët perfekte. Dhe ai punon
shumë mirë me CD-të dhe me luajtësit portativë të muzikës, kështu që mund të
kënaqeni me muzikën tuaj kudo që shkoni.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programet e përfshira</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Luajtësi i Muzikës Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Dyqani i Muzikës i Ubuntu</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
