<div class="header"><h1 class="slidetitle">Shkruaj dhe prezanto falas</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice është një program falas për zyrën i mbushur me gjithçka që do
t'iu nevojitej për të krijuar dokumente, fletë llogarie dhe prezantime
mbreslënëse. LibreOffice bën ç'është e mundur për të punuar me programet e
tjera për zyrën dhe përdor standartet e OpenDocument për kompatibilitet të
gjithanshëm.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programet e përfshira</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
