<div class="header"><h1 class="slidetitle">Kënaquni me fotot tuaja</h1></div>

<div class="main">

<div class="text">

<div>
<p>Showtell është një menaxhues i përdorshëm fotosh që është gati për mjetet e
tuah. Lidhni një kamera apo telefon për të transferuar fotot tuaja, pastaj
është e lehtë ti shpërndani ato dhe ti mbani të sigurta. Nëse ndiheni
krijues, ju mund të provoni shumë programe për fotot nga Qendra e Programeve
të Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Programet e përfshira</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell Menaxher Fotosh</p>
	</li>
</ul>
<h2 class="subtitle">Programet e mbështetura</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Redaktuesi i Pamjeve GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi Modifikues Videosh</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
