<div class="header"><h1 class="slidetitle">Ubuntu'ни мослаш</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu философиясининг юрагида "Компьютер - ҳамма учун" ғояси ётади. Қўшимча
қулай асбоблар ва параметрлар билан сиз ранг схемалари, матн ҳажмлари ҳамда
тилларни ёқтириб қоласиз. Ким бўлишдан ва қаерда бўлишидан қатъий назар,
Ubuntu ҳамма учун!</p>
</div>

<div class="featured">
<h2 class="subtitle">Танловларни мослаш</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Кўриниши</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Ёрдамчи технологиялар</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Тилларни қувватлаш</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
