<div class="header"><h1 class="slidetitle">Мусиқангизни ўзингиз билан олинг</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu’да ажойиб Rhythmbox мусиқа ижрочиси мавжуд. Қўшимча ижро этиш
танловлари билан бирга, унга "Ubuntu One мусиқа магазини" қўшилган, ажойиб
қўшиқларни олишга жуда қулай. У  энг зўр CD’лар ва  кўтариб юриладиган
мусиқа ижро этувчи қурилмалар билан ишлай олади, шунинг учун сиз қаерда
бўлсангиз ҳам барча мусиқаларингизни эшитиб, роҳатланишингиз мумкин.</p>
</div>

<div class="featured">
<h2 class="subtitle">қўшилган дастур</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox мусиқа ижро этувчи</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu бир мусиқа магазини</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
