<div class="header"><h1 class="slidetitle">Бемалол ёзинг ва намойиш қилинг</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice сизга ҳужжат, жадвал ва намойишлар яратишда керак бўладиган
ҳамма дарстурларни ўзида жамлаган текин офис пакетидир.  LibreOffice бошқа
офис дастурлари билан яхши ишлашга ҳаракат қилади ва узоқ вақт мосликни
сақлаш учун OpenDocument стандартларидан фойдаланади.</p>
</div>

<div class="featured">
<h2 class="subtitle">қўшилган дастур</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
