<div class="header"><h1 class="slidetitle">Ubuntun mukauttaminen</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntun filosofian ytimessä on usko siihen, että tietokoneiden käyttö sopii
kaikille. Tämän takia Ubuntu tarjoaa erilaisia mukauttamismahdollisuuksia
sopiakseen mahdollisimman monelle ihmiselle kaikkialla maailmassa. Tarjolla
ovat muun muassa edistyneet esteettömyystoiminnot sekä lukuisat valinnaiset
kirjasimet, väriteemat ja kielet.</p>
</div>

<div class="featured">
<h2 class="subtitle">Mukauttamisvalinnat</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Ulkoasu</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Esteettömyystekniikat</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Kielituki</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
