<div class="header"><h1 class="slidetitle">Ota kaikki irti internetistä</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu sisältää Firefoxin, miljoonien käyttämän verkkoselaimen. Useimmin
käyttämäsi verkkosovellukset (kuten Facebook tai Gmail) on mahdollista
kiinnittää työpöydälle, jolloin niiden käyttö sujuu vaivatta tavallisten
sovellusten tapaan.</p>
</div>

<div class="featured">
<h2 class="subtitle">Sisältyvät ohjelmistot</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox-selain</p>
	</li>
</ul>
<h2 class="subtitle">Tuetut ohjelmistot</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
