<div class="header"><h1 class="slidetitle">Kysyttävää?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Tutustu englanninkieliseen <a
href="http://askubuntu.com/">askubuntu.com</a>-sivustoon, kun haluat
vastauksia Ubuntu-aiheisiin kysymyksiisi. Kysymykseesi saattaa olla vastaus
valmiina, ja jos ei ole, tuhannet ihmiset ovat valmiita auttamaan. Lisää
tukimahdollisuuksia on mainittu sivulla <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Puhutaanpa Ubuntusta</h2>
		<div class="l10n-string twitter-post-status-text">#Ubuntu - asennan sitä nyt!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
