<div class="header"><h1 class="slidetitle">Henkilökohtainen pilvesi</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> tarjoaa viisi
gigatavua ilmaista pilvipalvelutilaa tiedostoille, kuvien jakamiseen ja <a
href="https://one.ubuntu.com/services/music/">musiikin suoratoistoon</a>
tietokoneille, taulutietokoneille ja älypuhelimille. Halutessasi ottamasti
valokuvat ovat välittömästi käytettävissä kaikilla laitteillasi. Ubuntu One
toimii Ubuntulla, Windowsilla, Macilla, Androidilla, iOS:illa ja
verkkoselaimella.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
