<div class="header"><h1 class="slidetitle">Ota musiikki mukaasi</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntussa on upea Rytmilaatikko-musiikkisoitin. Edistyksellisten
soittomahdollisuuksien ja Ubuntu One -musiikkikaupan ansiosta parhaiden
kappaleiden löytäminen on helppoa. Se toimii loistavasti myös CD-levyjen ja
kannettavien musiikkisoittimien kanssa. Musiikin kuunteleminen ei ole
koskaan ollut näin nautinnollista.</p>
</div>

<div class="featured">
<h2 class="subtitle">Sisältyvät ohjelmistot</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rytmilaatikko-musiikkisoitin</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One -musiikkikauppa</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
