<div class="header"><h1 class="slidetitle">Kirjoita ja tee esityksiä helposti</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice on vapaa toimisto-ohjelmisto, joka sisältää kaiken tarvittavan
näyttävien asiakirjojen, taulukoiden ja esitysten luomiseen. LibreOffice
pyrkii parhaansa mukaan toimimaan yhteen muiden toimisto-ohjelmistojen
kanssa, ja käyttää OpenDocument-standardeja laajan yhteensopivuuden
saavuttamiseksi.</p>
</div>

<div class="featured">
<h2 class="subtitle">Sisältyvät ohjelmistot</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
