<div class="header"><h1 class="slidetitle">Leikittele valokuvillasi</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell on kätevä tapa hallita valokuvia sekä kuvalähteitä. Kuvien
siirtäminen, jakaminen ja varmuuskopioiminen on helppoa yhdistämällä kamera
tai puhelin tietokoneeseen. Ubuntun sovellusvalikoimasta löytyy useita
kuvanmuokkausohjelmistoja.</p>
</div>

<div class="featured">
<h2 class="subtitle">Sisältyvät ohjelmistot</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell - valokuvien hallinta</p>
	</li>
</ul>
<h2 class="subtitle">Tuetut ohjelmistot</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP-kuvankäsittely</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi-videomuokkain</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
