<div class="header"><h1 class="slidetitle">Pysy yhteyksissä</h1></div>

<div class="main">

<div class="text">

<div>
<p>Viestivalikko tarjoaa näkymän saapuneisiin viesteihin kaikista sovelluksista
ja sosiaalisista verkoista. Näet heti uudet viestit riippumatta siitä, mitä
kautta viesti on vastaanotettu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Tuetut palvelut</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
