<div class="header"><h1 class="slidetitle">Löydä upeita sovelluksia</h1></div>

<div class="main">

<div class="text">

<div>
<p>Älä enää etsi uusia ohjelmia internetistä. Ubuntun sovellusvalikoiman avulla
voit etsiä ja asentaa sovelluksia vaivatta. Kirjoita haluamasi hakuehdot,
tai selaa eri luokkia, kuten tiede, koulutus ja pelit. Muiden käyttäjien
antamat arvostelut helpottavat valintaasi.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
