<div class="header"><h1 class="slidetitle">Tervetuloa, tämä on Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Nopeus ja uudet ominaisuudet, Ubuntun uusin versio tekee
tietojenkäsittelystä helpompaa kuin koskaan aiemmin. Seuraavaksi muutamia
asioita, joihin kannattaa kiinnittää huomiota...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
