<div class="header"><h1 class="slidetitle">Make the most of the web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu, tüm dünyadan milyonlarca kişinin kullandığı Firefox ağ tarayıcısını
içermektedir. Sıklıkla kullandığınız ağ uygulamalarını (örneğin Facebook ve
Gmail), daha hızlı erişebilmek için bilgisayarınızdaki uygulamalar gibi
masaüstüne sabitleyebilirsiniz.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dahili yazılımlar</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox genelağ tarayıcı</p>
	</li>
</ul>
<h2 class="subtitle">Desteklenen yazılım</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
