<div class="header"><h1 class="slidetitle">Müziğinizi yanınızda taşıyın</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu, muhteşem Rhythmbox müzik çalarla birlikte gelir. Gelişmiş oynatma
seçenekleri ve Ubuntu One müzik mağazasıyla tümleşik yapısı sayesinde en
sevdiğiniz şarkılarınızın listesini oluşturmak çok kolaydır. Ayrıca; CD'ler,
taşınabilir müzikçalarlar ile mükemmel uyum içindedir. Böylelikle nereye
giderseniz gidin müzik zevkiniz sizinledir.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dahili yazılımlar</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox Müzik Çalar</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One Müzik Mağazası</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
