<div class="header"><h1 class="slidetitle">Özgürce yazın ve sunun</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice; metin belgeleri, hesap tabloları ve sunular oluşturmanız için
ihtiyacınız olan her aracı sunan, ücretsiz bir ofis paketidir. LibreOffice
diğer ofis yazılımlarıyla en iyi uyumluluğu sağlamaya çalışır ve geniş
kapsamlı bir uyumluluk için OpenDocument standartını kullanır.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dahili yazılımlar</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Kelime İşlemci</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Hesap Makinesi</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Sunu</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
