<div class="header"><h1 class="slidetitle">Fotoğraflarınızla eğlenceli anlar yaşayın</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell, elektronik aygıtlarınıza yönelik kullanışlı bir fotoğraf
yöneticisidir. Fotoğraflarınızı aktarmak için bir fotoğraf makinesini veya
telefonu bilgisayarınıza bağlayın. Artık fotoğraflarınızı paylaşmak ve
güvende tutmak çok kolay olacak. Kendinizi yaratıcı buluyorsanız, Ubuntu
Yazılım Merkezi'nde bolca bulunan fotoğraf uygulamalarını deneyebilirsiniz.</p>
</div>

<div class="featured">
<h2 class="subtitle">Dahili yazılımlar</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell Fotoğraf Yöneticisi</p>
	</li>
</ul>
<h2 class="subtitle">Desteklenen yazılım</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP Görüntü Düzenleyici</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi Video Düzenleyici</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
