<div class="header"><h1 class="slidetitle">Bağlantıyı koparmayın</h1></div>

<div class="main">

<div class="text">

<div>
<p>Anlık ileti seçkesi, tüm uygulamalarınızdan ve sosyal ağlarınızdan gelen tüm
iletilere keskin bir bakış atmanıza olanak sağlar. Böylece okunacak yeni bir
şey olduğunda nasıl geldiğine bakmaksızın doğrudan geleni görebilirsiniz.</p>
</div>

<div class="featured">
<h2 class="subtitle">Desteklenen hizmetler</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
