<div class="header"><h1 class="slidetitle">Ubuntu 12.10'a hoşgeldiniz</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Hızlı ve yeni özellikleri ile Ubuntu'nun son sürümü bilgi işlemeyi hiç
olmadığı kadar kolaylaştırıyor. Bakmak isteyebileceğinizbazı havalı
şeyler...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
