<div class="header"><h1 class="slidetitle">Ubuntuのカスタマイズ</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntuの哲学の中心となっているのは、「あらゆる人のためのコンピューター」という信念です。高度なアクセシビリティツール・好きなカラースキーム・テキストサイズの調整・利用言語といった選択肢により、Ubuntuはあらゆる人に寄り添います。あなたが誰であっても、あなたがどこにいようとも。</p>
</div>

<div class="featured">
<h2 class="subtitle">カスタマイズの選択肢</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">外観</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">支援技術</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">言語サポート</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
