<div class="header"><h1 class="slidetitle">ウェブを最大限に活用</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntuには、世界中の多くの人々に使われているウェブブラウザーであるFirefoxが含まれています。また、頻繁に使用するウェブアプリケーション(例えばFacebookやGmailのような)は、ちょうどコンピューター上のアプリケーションのように、より素早くアクセスするためにデスクトップに留めておくことができます。</p>
</div>

<div class="featured">
<h2 class="subtitle">含まれるソフトウェア</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox ウェブブラウザー</p>
	</li>
</ul>
<h2 class="subtitle">サポートされるソフトウェア</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
