<div class="header"><h1 class="slidetitle">質問がありますか?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Ubuntuに関するすべての質問の答えは、<a
href="http://askubuntu.com/">askubuntu.com</a>を確認してください。あなたの質問がすでに回答済みである場合がかなりあります。またそうでなくても、多くのボランティアが助けたがっているのが分かるでしょう。さらにサポートオプションが必要であれば、<a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>を確認してください。</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Ubuntuについて話しましょう</h2>
		<div class="l10n-string twitter-post-status-text">#Ubuntu をインストールしています!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
