<div class="header"><h1 class="slidetitle">あなたのパーソナルクラウド</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu
One</a>はコンピューターやタブレット、スマートフォンからファイルにアクセスしたり、写真を共有したり、<a
href="https://one.ubuntu.com/services/music/">音楽をストリーミング</a>したりするための5GBの無料クラウドストレージを提供します。写真をとるとただちに、どの写真もすべてのデバイスに現われます。Ubuntu
OneはUbuntu、Windows、Mac、Android、iOS、そしてウェブ上で実行できます。</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
