<div class="header"><h1 class="slidetitle">音楽を持ち歩こう</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntuに素晴らしいRhythmboxミュージックプレーヤーがやってきました。拡張された再生オプションやビルトインのUbuntu
Oneミュージックストアは、簡単に理想的な音楽を追加することができます。そしてCDとポータブルミュージックプレーヤーで連携し、あなたがどこにいてもすべての音楽を楽しむことができます。</p>
</div>

<div class="featured">
<h2 class="subtitle">含まれるソフトウェア</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmboxミュージックプレイヤー</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One ミュージックストア</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
