<div class="header"><h1 class="slidetitle">フリーの文書作成・プレゼンテーション</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOfficeはフリーのオフィススイートで、印象的なドキュメント、表計算、プレゼンテーションを作成するのに必要なものがすべて含まれています。LibreOfficeは他のオフィスソフトウェアと協調できるよう力を尽くしており、高い互換性のある
OpenDocument 規格を採用しています。</p>
</div>

<div class="featured">
<h2 class="subtitle">含まれるソフトウェア</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
