<div class="header"><h1 class="slidetitle">写真を楽しもう</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwellはガジェットに対応した便利な写真管理ツールです。カメラや電話を接続して写真を転送すれば、写真の共有や安全な保管を簡単に行えます。クリエイティブなことをしたい場合は、Ubuntuソフトウェアセンターからたくさんの写真アプリケーションを試すことができます。</p>
</div>

<div class="featured">
<h2 class="subtitle">含まれるソフトウェア</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell フォトマネージャ</p>
	</li>
</ul>
<h2 class="subtitle">サポートされるソフトウェア</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP 画像エディタ</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">PiTiVi 動画エディタ</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
