<div class="header"><h1 class="slidetitle">つながったままで</h1></div>

<div class="main">

<div class="text">

<div>
<p>メッセージングメニューは、すべてのアプリケーションやソーシャルネットワークからの受信メッセージを追跡してお知らせします。そのためどのように届いたかにかかわらず、何か読むものがあればすぐに見ることができます。</p>
</div>

<div class="featured">
<h2 class="subtitle">サポートされるサービス</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
