<div class="header"><h1 class="slidetitle">Ubuntu 12.10 にようこそ</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>高速で新機能が満載されているUbuntuの最新バージョンでは、これまで以上に簡単にコンピューターが使用できます。今から紹介するのは気の利いた新機能のほんの一部です...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
