<div class="header"><h1 class="slidetitle">Kustomasi Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Inti filosofi Ubuntu adalah keyakinan bahwa komputasi itu untuk semua
orang. Dengan perkakas aksesibilitas canggih dan pilihan berupa skema warna,
ukuran teks, hingga bahasa, Ubuntu cocok digunakan oleh siapa saja. Siapapun
Anda, dan di manapun Anda berada.</p>
</div>

<div class="featured">
<h2 class="subtitle">Pilihan Penyesuaian</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Penampilan</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Teknologi bantuan</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Dukungan bahasa</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
