<div class="header"><h1 class="slidetitle">Yang "ter" di dunia web</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu menyertakan Firefox, peramban web yang digunakan oleh jutaan orang di
dunia. Selain itu, aplikasi-aplikasi web yang sering Anda gunakan (seperti
Facebook atau Gmail) dapat dihubungkan pada desktop Anda untuk akses yang
lebih cepat, selayaknya mengakses aplikasi di komputer sendiri.</p>
</div>

<div class="featured">
<h2 class="subtitle">Perangkat lunak yang disertakan</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Firefox peramban web</p>
	</li>
</ul>
<h2 class="subtitle">Perangkat lunak yang didukung</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
