<div class="header"><h1 class="slidetitle">Ada pertanyaan?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Kunjungilah <a href="http://askubuntu.com/">askubuntu.com</a> untuk jawaban
semua pertanyaan Anda mengenai Ubuntu. Pertanyaan-pertanyaan itu bisa jadi
telah dijawab sebelumnya. Namun jika tidak, ratusan sukarelawan di sana siap
membantu Anda. Untuk dukungan lebih lanjut, kunjungilah <a
href="http://www.ubuntu.com/support">ubuntu.com/support</a>.</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Mari bicara Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Saya memasang #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
