<div class="header"><h1 class="slidetitle">Awan pribadi Anda</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> memberikan
Anda 5GB ruang simpan awan secara cuma-cuma, sehingga Anda dapat mengakses
berkas, berbagi foto, serta <a
href="https://one.ubuntu.com/services/music/">mendengarkan musik</a> melalui
komputer, tablet, hingga ponsel cerdas yang Anda miliki. Setiap foto yang
Anda ambil akan segera muncul di semua perangkat tersebut. Ubuntu One dapat
berjalan di sistem Ubuntu, Windows, Mac, Android, iOS serta web.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
