<div class="header"><h1 class="slidetitle">Bawa alunan musik bersama Anda</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu datang dengan pemutar musik Rhythmbox yang mengagumkan. Dengan opsi
putar ulang tingkat lanjut dan toko musik Ubuntu One didalamnya, mudah untuk
mengantrikan lagu-lagu yang sempurna. Dan dia bekerja baik dengan CD dan
pemutar musik portabel, sehingga Adan dapat menikmati semua musik Anda
kemanapun Anda pergi.</p>
</div>

<div class="featured">
<h2 class="subtitle">Perangkat lunak yang disertakan</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox Pemutar Musik</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Toko Musik Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
