<div class="header"><h1 class="slidetitle">Gratis menulis dan mempresentasikan</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice adalah aplikasi perkantoran bebas yang dikemas dengan semua yang
Anda butuhkan untuk membuat dokumen, spreadsheet, dan presentasi yang
mengesankan. LibreOffice mencoba yang terbaik untuk bekerja dengan peranti
lunak perkantoran lainnya, dan LibreOffice menggunakan standar OpenDocument
untuk kompatibilitas yang lebih luas.</p>
</div>

<div class="featured">
<h2 class="subtitle">Perangkat lunak yang disertakan</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
