<div class="header"><h1 class="slidetitle">Mengelola koleksi foto dengan menyenangkan</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell adalah manajer foto yang mudah digunakan, yang siap untuk gadget
Anda. Hubungkan kamera atau telepon untuk mentransfer foto Anda, maka mudah
untuk berbagi dan menjaga foto-foto Anda tetap aman. Jika Anda merasa
kreatif, Anda bisa mencoba banyak aplikasi foto dari Pusat Perangkat Lunak
Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Perangkat lunak yang disertakan</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Shotwell Manajer Foto</p>
	</li>
</ul>
<h2 class="subtitle">Perangkat lunak yang didukung</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">GIMP Penyunting Gambar</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Pitivi Penyunting Video</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
