<div class="header"><h1 class="slidetitle">Tetap terhubung</h1></div>

<div class="main">

<div class="text">

<div>
<p>Menu pesan memberikan Anda kilasan semua pesan masuk dari berbagai aplikasi
dan jejaring sosial. Dengan demikian, Anda takkan tertinggal untuk membaca
kabar-kabar baru dari semua sumber tersebut.</p>
</div>

<div class="featured">
<h2 class="subtitle">Layanan yang didukung</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
