<div class="header"><h1 class="slidetitle">Memperoleh perangkat lunak yang lain</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ucapkan selamat tinggal dengan letihnya mencari aplikasi baru di
Internet. Dengan adanya Pusat Perangkat Lunak Ubuntu, Anda dapat menemukan
serta memasang aplikasi-aplikasi baru dengan sangat mudah. Ketik saja yang
ingin Anda cari,  atau jelajahilah semua kategori yang ada, seperti Sains,
Pendidikan, maupun Permainan, dilengkapi pula ulasan dari para pengguna.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
