<div class="header"><h1 class="slidetitle">Selamat Datang di Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Cepat dan kaya fitur baru, versi terbaru Ubuntu ini membuat kegiatan
berkomputer Anda menjadi lebih mudah dari sebelumnya. Berikut beberapa hal
baru yang bisa Anda jumpai...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
