<div class="header"><h1 class="slidetitle">Ubuntu kohandamine</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu mõtteviisi tuumaks on arusaam, et arvutid on kõigile. Kõrgel tasemel
hõlbustusvahenditega ja võimalusega valida endale kasutamiseks meelepäraseid
kirjatüüpe, värviskeeme ja keeli on Ubuntu sobiv kõigile inimestele. Ubuntu
austab inimeste eripärasid!</p>
</div>

<div class="featured">
<h2 class="subtitle">Kohandamise valikud</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Välimus</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Hõlbustusvahendid</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Keeletugi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
