<div class="header"><h1 class="slidetitle">Võta oma muusika kaasa</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntuga on kaasas suurepärane Rythmboxi muusikaesitaja. Esituse
peenseadistuste ja sisseehitatud Ubuntu One muusikapoe abiga on väga lihtne
luua mitmesuguseid esitusloendeid. Ja see töötab ka nii CD-de kui
kaasaskantavate mängjatega, mistõttu saad oma muusikat nautida alati,
sõltumata oma asukohast.</p>
</div>

<div class="featured">
<h2 class="subtitle">Kaasasolev tarkvara</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Rhythmbox muusikamängija</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Ubuntu One muusikapood</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
