<div class="header"><h1 class="slidetitle">Piiranguteta kirjutamine ja esitlemine</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice on tasuta kontoritöö pakett, milles on kõik, mida vajad
muljetavaldavate dokumentide, arvutustabelite ja esitluste
loomiseks. LibreOffice teeb kõik, et saada läbi ka muu kontoritarkvaraga,
kasutades kõrgetasemelise ühilduvuse tagamiseks OpenDocument standardit.</p>
</div>

<div class="featured">
<h2 class="subtitle">Kaasasolev tarkvara</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
