<div class="header"><h1 class="slidetitle">Přizpůsobte si Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Jedním ze základních kamenů filosofie Ubuntu je přesvědčení, že práce s
počítačem by měla být pro každého. S pokročilými nástroji usnadnění a
možnostmi nastavení barev, velikosti textu a jazyka je Ubuntu opravdu pro
každého. Kdokoli a kdekoli jste.</p>
</div>

<div class="featured">
<h2 class="subtitle">Možnosti přizpůsobení</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Vzhled</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Technologie usnadnění</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Jazyková podpora</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
