<div class="header"><h1 class="slidetitle">Využijte z webu maximum</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu obsahuje Firefox, webový prohlížeč s miliony uživatelů na celém
světe. Webové aplikace, které používáte nejčastěji (jako například Facebook
nebo Gmail) si navíc můžete přidat do pracovního prostředí a používat je tak
rychle a snadno jako jakoukoli běžnou aplikaci.</p>
</div>

<div class="featured">
<h2 class="subtitle">Obsažený software</h2>
<ul>
	<li>
	<img class="icon" src="icons/firefox.png" />
	<p class="caption">Webový prohlížeč Firefox</p>
	</li>
</ul>
<h2 class="subtitle">Podporovaný software</h2>
<ul>
	<li>
	<img class="icon" src="icons/flash.png" />
	<p class="caption">Flash</p>
	</li>
	<li>
	<img class="icon" src="icons/chromium.png" />
	<p class="caption">Chromium</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/browse.jpg" />

</div>
