<div class="header"><h1 class="slidetitle">Nějaké otázky?</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Odpovědi na své otázky kolem Ubuntu naleznete na <a
href="http://forum.ubuntu.cz/">forum.ubuntu.cz</a>. Je velmi pravděpodobné,
že na podobnou otázku již někdo odpověděl dříve a pokud ne, naleznete zde
mnoho dobrovolníků, kteří vám rádi pomohou. Pro další možnosti, jak získat
podporu pro Ubuntu, navštivte <a
href="http://www.ubuntu.cz/podpora">ubuntu.cz/podpora</a></p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

<div class="twitter-stream" data-twitter-query="#ubuntu">
	<div class="twitter-stream-header twitter-post-status-link">
		<h2 class="title">Pojďme se bavit o Ubuntu</h2>
		<div class="l10n-string twitter-post-status-text">Instaluji #Ubuntu!</div>
		<img class="logo" src="link/twitter-logo-16.png" />
	</div>
	<div class="twitter-stream-tweets"></div>
</div>

</div>
