<div class="header"><h1 class="slidetitle">Váš vlastní osobní cloud</h1></div>

<div class="main">

<div class="text">

<div>
<p><a href="https://one.ubuntu.com/services/free/">Ubuntu One</a> vám nabízí
5GB místa v cloudu zdarma pro přístup k vaším souborům, sdílení fotografií a
<a href="https://one.ubuntu.com/services/music/">streamování hudby</a> na
všechny vaše počítače, tablety a chytré telefony. Každá fotografie se objeví
ve všech zařízeních jakmile ji vyfotíte. Ubuntu One funguje na Ubuntu,
Windows, Mac, Android, iOS a na webu.</p>
</div>

</div>

<img class="screenshot" src="screenshots/ubuntuone.jpg" />

</div>
