<div class="header"><h1 class="slidetitle">Mějte svou hudbu s sebou</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ubuntu přichází s úžasným přehrávačem hudby - Rhythmbox. S pokročilými
možnostmi přehrávání a s vestavěnou podporou služby Ubuntu One music store,
je velmi snadné vybrat si skvělé písničky. Také výborně spolupracuje s
přenosnými přehrávači, takže si můžete užít veškerou svou hudbu naprosto
kdekoliv.</p>
</div>

<div class="featured">
<h2 class="subtitle">Obsažený software</h2>
<ul>
	<li>
	<img class="icon" src="icons/rhythmbox.png" />
	<p class="caption">Přehrávač hudby Rhythmbox</p>
	</li>
	<li>
	<img class="icon" src="icons/ubuntuone.png" />
	<p class="caption">Obchod s hudbou Ubuntu One</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/music.jpg" />

</div>
