<div class="header"><h1 class="slidetitle">Pište a prezentujte svobodně</h1></div>

<div class="main">

<div class="text">

<div>
<p>LibreOffice je svobodný kancelářský balík se vším, co potřebujete pro tvorbu
působivých dokumentů, tabulek  a prezentací. LibreOffice se snaží o
maximální možnou spolupráci s jinými kancelářskými aplikacemi a používá
OpenDocument standardy pro dosažení daleko sahající kompatibility.</p>
</div>

<div class="featured">
<h2 class="subtitle">Obsažený software</h2>
<ul>
	<li>
	<img class="icon" src="icons/libreoffice-writer.png" />
	<p class="caption">LibreOffice Writer</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-calc.png" />
	<p class="caption">LibreOffice Calc</p>
	</li>
	<li>
	<img class="icon" src="icons/libreoffice-impress.png" />
	<p class="caption">LibreOffice Impress</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/office.jpg" />

</div>
