<div class="header"><h1 class="slidetitle">Užijte si zábavu s vašimi fotografiemi</h1></div>

<div class="main">

<div class="text">

<div>
<p>Shotwell je šikovný správce fotografií připravený pro vaše snímky. Připojte
fotoaparát nebo mobil pro přenos svých fotografií, abyste je poté mohli
snadno sdílejte a uchovat v bezpečí. Pokud jste tvořiví, můžete vyzkoušet
mnoho aplikací pro zpracování fotografií z Centra softwaru pro Ubuntu.</p>
</div>

<div class="featured">
<h2 class="subtitle">Obsažený software</h2>
<ul>
	<li>
	<img class="icon" src="icons/shotwell.png" />
	<p class="caption">Správce fotografií Shotwell</p>
	</li>
</ul>
<h2 class="subtitle">Podporovaný software</h2>
<ul>
	<li>
	<img class="icon" src="icons/gimp.png" />
	<p class="caption">Editor obrázků GIMP</p>
	</li>
	<li>
	<img class="icon" src="icons/pitivi.png" />
	<p class="caption">Editor videa Pitivi</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/photos.jpg" />

</div>
