<div class="header"><h1 class="slidetitle">Buďte v kontaktu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Nabídka upozornění vám poskytuje snadný přehled příchozích zpráv ze všech
aplikací a sociálních sítí. Jedním pohledem zjistíte, že je zde něco nového,
bez ohledu na to, odkud to přichází.</p>
</div>

<div class="featured">
<h2 class="subtitle">Podporované služby</h2>
<ul>
	<li>
	<img class="icon" src="icons/twitter.png" />
	<p class="caption">Twitter</p>
	</li>
	<li>
	<img class="icon" src="icons/facebook.png" />
	<p class="caption">Facebook</p>
	</li>
	<li>
	<img class="icon" src="icons/identica.png" />
	<p class="caption">Identi.ca</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/social.jpg" />

</div>
