<div class="header"><h1 class="slidetitle">Najděte ještě více softwaru</h1></div>

<div class="main">

<div class="text">

<div>
<p>Řekněte sbohem hledání nového softwaru na Internetu. S Centrem softwaru pro
Ubuntu můžete nové aplikace jednoduše hledat i instalovat. Jednoduše
napište, co hledáte nebo přímo procházejte jednotlivé kategorie jako Věda,
Vzdělávání nebo Hry. S výběrem vám pomohou recenze ostatních uživatelů.</p>
</div>

</div>

<img class="screenshot" src="screenshots/usc.jpg" />

</div>
