<div class="header"><h1 class="slidetitle">Vítejte v Ubuntu 12.10</h1></div>

<div class="main wide">

<div class="text">

<div>
<p>Nejnovější vydání Ubuntu přináší nové vlastnosti a funkce, díky kterým pro
vás bude používání počítače jednodušší, než kdy dřív. Zde je pár zajímavých
novinek, které byste si neměli nechat ujít...</p>
</div>

</div>

<img class="background" src="screenshots/welcome.jpg" />

</div>
