<div class="header"><h1 class="slidetitle">Customize Ubuntu</h1></div>

<div class="main">

<div class="text">

<div>
<p>Ao am-pon'ny filozofian'i Ubuntu dia ny finoana fa ny solosaina dia ho an'ny
rehetra. Miaraka amin'ireo fitaovana mivoatra sy safidy ohatran'ny loko tena
tiana, halehiben'ny soratra, sy fiteny, Ubuntu dia ho an'ny rehetra. Na iza
na iza ianao, Na aiza na aiza ianao.</p>
</div>

<div class="featured">
<h2 class="subtitle">Customization options</h2>
<ul>
	<li>
	<img class="icon" src="icons/themes.png" />
	<p class="caption">Endrika</p>
	</li>
	<li>
	<img class="icon" src="icons/access.png" />
	<p class="caption">Assistive technologies</p>
	</li>
	<li>
	<img class="icon" src="icons/languages.png" />
	<p class="caption">Fiteny</p>
	</li>
</ul>
</div>

</div>

<img class="screenshot" src="screenshots/customize.jpg" />

</div>
